.page_home{
    // background-color: blue;
  min-height: 100vh;
  width: 1125px;
    height: 1574px;
    background: #F4F8FB;
    display: flex;
    justify-content: center;
    // padding-top: 108px;

    .setup_bgcolor{
        width: 965px;
        height: 750px;
        background: #FFFFFF;
        box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);
        border-radius: 60px;
        margin-top: 108px;

    }
    .setup_hr{
        display: flex;
        // justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .page_hr{
        width: 858px;
        height: 1px;
        // color: 	#7fb5c4d1;
        border: none;
        background-color: #b5c4d1;
    }
    .theme_morandi{
        background-color: #ffffff;
    }
    .theme_blue_white{
        background-color: #ffffff;
    }
    .phone_body{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
    }
    .phone_div{
        width: 837px;
        display: flex;
        justify-content: space-between;
    }
    .dialog-selection-item{
        justify-content: space-around !important;
    }
    .phone_bottom{
        width: 230px;
        height: 79px;
        background: #0F0F0F;
        border-radius: 63px;
        color: #FFFFFF;
        font-family: PingFangSC-Regular;
        font-weight: Regular;
        font-size: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .phone_switch{
        width: 150px;
        height: 66px;
        background: #B5C4D1;
        border-radius: 50px;
        display: flex;
        align-items: center;
        // justify-content: space-around;
        padding-left: 5px;
    }
    .phone_switch1{
        width: 48px;
        height: 48px;
        background: #FFFFFF;
        border-radius: 100%;
    }
}
