.plugs{
  .plug_info{
    position: relative;
    margin: 0 auto 30px;
    width: 85%;
    height: 200px;
    border-radius: 60px;
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
    text-align: left;
    .plug_img{
      position: absolute;
      width: 200px;
      margin-left: 50px;
      margin-top: 25px;
      img{
        width: 150px;
        height: 150px;
      }
    }
    .description{
      margin: 50px 0 50px 250px;
      width: 400px;
      display: inline-block;
      font-size: 36px;
      .state{
        color: #B6C4D2;
      }
    }
    .plug_clock{
      display: inline-block;
      margin-left: 50px;
      img{
        width: 60px;
        height: 60px;
      }
    }
    .plug_count_down{
      display: inline-block;
      margin-left: 50px;
      img{
        height: 60px;
      }
    }
  }
}
