.btn-with-checkbox {
  border-top: 1px solid #E7E8EB;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  .checkbox-text {
    font-size: 28px;
    color: #6C7078;
    line-height: 48px;
    margin-left: 20px;
  }

  .checkbox-container {
    padding: 16px 32px;
  }

  .btn-group.fixed-bottom {
    position: relative;
  }
}
