.disk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  background-image: url('./bg.svg');
  .content-wrap {
    height: 234px;
    width: 234px;
    border-radius: 50%;

    .content {
      display: none;
    }

    
    .status-desc {
      position: relative;
      margin: 107px auto 0;
      width: 48px;
      height: 34px;
      font-size: 24px;
      line-height: 34px;
      font-weight: 600;
      color: #FFFFFF;
      &::before {
        content: '';
        position: absolute;
        top: -11px;
        left: 50%;
        margin-left: -3px;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #46A3A4;
      }
    }
  }
  .is-open {
    .status-desc {
      &::before {
        background: #A14545;
      }
    }
  }
}
