.oven_center{
    .detail_wrap{
        width: 1125px;
        position: absolute;
    }
    display: flex;
    justify-content: center;
    .center_card{
        width: 975px;
        height: 770px;
        background: #FFFFFF;
        box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);
        border-radius: 60px;
        margin-top: 60px;
        display: flex;
        // flex-wrap: wrap;
        flex-direction: column;
        // justify-content: center;
        align-items: center;



        .card_title{
            margin-top: 60px;

            width: 144px;
            height: 50px;
            font-family: PingFangSC-Semibold;
            font-weight: Semibold;
            font-size: 36px;
            color: #0F0F0F;
        }

        .card_center{
            width: 795px;
            display: flex;
            justify-content: space-between;

            .card_span{
                height: 240px;
                width: 155px;
                margin-top: 60px;

                .work_card_icon{
                    width: 155px;
                    height: 160px;
                    background: #FFFFFF;
                    box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);
                    border-radius: 27px;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .card_size{
                    width: 144px;
                    height: 50px;
                    font-family: PingFangSC-Medium;
                    font-weight: Medium;
                    font-size: 36px;
                    color: #0F0F0F;
                    margin-top: 30px;
                    text-align: center;
                }
            }
        }
        .card_foot{
            width: 795px;
            display: flex;
            justify-content: space-between;


            .card_span{
                height: 240px;
                width: 155px;
                margin-top: 60px;

                .work_card_icon{
                    width: 155px;
                    height: 160px;
                    background: #FFFFFF;
                    box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);
                    border-radius: 27px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                }
                .card_size{
                    width: 144px;
                    height: 50px;
                    font-family: PingFangSC-Medium;
                    font-weight: Medium;
                    font-size: 36px;
                    color: #0F0F0F;
                    margin-top: 30px;
                    text-align: center;
                }
            }
        }
    }
}
