.cus-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .icon {
    padding-bottom: 200px;
    .empty {
      background-image: url('./empty.svg');
      height: 142px;
      width: 127px;
    }
  }
}
