.home {
  .action {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    margin-top: 12px;
    padding: 0 16px;

    .action-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // border: 1px solid #eff3f5;
      border-radius: 16px;
      margin-top: 24px;
      width: 100px;
      height: 94px;
      background: rgba(0, 0, 0, 0.3);
      border: 1px solid #9C8CFF3D;

      .svg-icon-normal {
        width: 42px;
      }

      .action-ele-3 {
        .svg-icon-normal {
          height: 25px;
        }
      }

      .icon-stop {
        .svg-icon-normal {
          width: 28px;
          height: 28px;
        }
      }

      .action-ele-3 {
        .svg-icon-normal {
          height: 25px;
        }
      }

      .action-ele-4 {
        .svg-icon-normal {
          height: 24px;
        }
      }

      .action-ele-5 {
        .svg-icon-normal {
          height: 24px;
        }
      }

      .action-ele {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        padding-top: 17px;
        font-weight: 600;
        width: calc(100% - 12px);
        height: calc(100% - 17px);
        padding-left: 12px;

        >div:first-child {
          font-family: 'PingFang SC';
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 17px;
          letter-spacing: 0.002em;
          color: rgba(255, 255, 255, 0.75);
        }

        >div:last-child {
          margin-top: 16px;
        }
      }

      &.checked {
        color: #1F2738;
        background: #454F65;
      }
    }

    .action-item:last-child {
      width: 100%;
    }

    .count-down {
      display: flex;
      width: calc(100% - 32px);
      height: 100%;
      padding-left: 16px;
      padding-right: 16px;
      .cell-wrapper {
        width: 100%;
        margin-top: 30px;
      }
      .subTitle {
        position: absolute;
        top: 17px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 0.002em;
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}