.home {
  position: relative;
  padding-top: 30px;
  color: #26313D;

  .top {}

  .disk-wrap {
    margin: 0 auto;
    width: 260px;
    height: 260px;
  }

  .home-footer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .add-reduce {
      display: flex;
      justify-content: space-between;
      padding: 0 62px;
      margin: 60px 0 122px 0;

      .btn {
        border: 1px solid rgba(156, 140, 255, 0.24);
        background: rgba(0, 0, 0, 0.3);
        border-radius: 16px;
      }
    }

  }

  .dialog-wrap .dialog-content .item-block {
    border-bottom: 0;
  }
}