.cus-dev-detail {
  position: absolute;
  right: 48px;
  top: 48px;
  z-index: 1;
  .icon {
    .dev-detail {
      background-image: url("./dev-detail.svg");
      width: 72px;
      height: 72px;
    }
    .dev-detail-disable {
      background-image: url("./dev-detail-disable.svg");
      width: 72px;
      height: 72px;
    }
  }
}
