.position-wrap {
  padding: 80px 129px;
  background: var(--global-color-white);
  border-top: 3px solid var(--global-color-border);;
  li {
    min-width: 240px;
    strong {
      margin-bottom: 9px;
    }
  }
}
