.disk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  border: 1px solid #EFF3F5;
  background-color: #FBFBFC;
  .content-wrap {
    height: 212px;
    width: 212px;
    border-radius: 50%;
    background: #26313D;
    box-shadow: 0px 0px 10px 2px #D7D9DC;
    .content {
      display: flex;
      margin-top: 48px;
      margin-left: 80px;
      margin-bottom: 16px;
    }

    .status-desc {
      position: relative;
      margin: 0 auto;
      padding-left: 12px;
      width: 112px;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 600;
      color: #FFFFFF;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -4px;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #F9F9FA;
      }
    }
    .status-active {
      width: 84px;
      &::before {
        background: #DA695C;
      }
    }
  }
}
