.home {
  position: relative;

  header {
    padding: 24px 17px 32px;
  }
  .setting-block {
    margin: 32px 16px;
    display: flex;
    flex-direction: column;

    .setting-button {
      margin-bottom: 16px;
      padding: 24px 16px 24px 24px;
      border-radius: 16px;
      border: 1px solid #EFF3F5;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}