.icon {

  .switch {
    background-image: url('./switch.svg');
  }
  .switch-checked {
    background-image: url('./switch-checked.svg');
  }
  .timing {
    background-image: url('./timing.svg');
  }
  .timing-checked {
    background-image: url('./timing-checked.svg');
  }
  .setting {
    background-image: url('./setting.svg');
  }
  .setting-checked {
    background-image: url('./setting-checked.svg');
  }

}
