.buttom{
    width: 967px;
    height: 300px;
    // margin-top: 117px;
    // border: solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttom_switch{
        width: 295px;
        height: 300px;
        background: #FFFFFF;
        box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        border-radius: 60px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .icon{
        margin-top: 32px;
    }
    .timing_font{
        width: 121px;
        height: 50px;
        font-family: PingFangSC-Medium;
        font-size: 36px;
        color: #B5C4D1;
        text-align: center;
        margin-top: 32px;
    }
    .buttom_timing{
        width: 295px;
        height: 300px;
        background: #FFFFFF;
        box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        border-radius: 60px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        
        
    }
}