// 暗色
body.theme_dark {
  // 背景色
  --global-background-color: #222532;
  // 背景渐变色
  --global-background-color-gradient: linear-gradient(139deg, #333E4D 0%, #202C3A 100%);;
  // 主题色
  --global-color-primary: #FFFFFF;
  --global-color-compared: #FFFFFF;
  --global-color-success: unset;
  --global-color-warning: unset;
  --global-color-danger: unset;
  --global-color-gradient: linear-gradient(137deg, #00F0FF 0%, #704DF0 100%);
  // 文字色
  --global-color-text-primary: #FFFFFF;
  --global-color-text-regular: #FEFEFE;
  --global-color-text-second: #FFFFFF;
  --global-color-text-placeholder: #FFFFFF;
  // 边框色
  --global-color-border-dark: #2F3C4B;
  --global-color-border: #323F4E;
  --global-color-border-light: unset;
}


//
//@color-background: #222532; // 全局背景色
//@color-text: #FFFFFF; // 全局文本默认色
//@color-primary: #FFFFFF; // 主色 黑白风之黑
//@color-compared: #00F0FF; // 对比色 黑白风之白
//@color-active: #FFFFFF; // list-prefix
//@color-disabled: #B5C4D1; // 不可用 默认恢
//@color-disabled-level2: #D8D8D8; // 不可用 默认恢度2
//@color-line: #323F4E; // 线颜色
//@color_1: #FFFFFF;
//@color_2: #0f0f0f;
//@color_3: #B5C4D1;
//@color_4: #ffffff;
