.component_business_tabs .tabs{
  width: 85%;
  margin: 45px auto;
  padding: 65px;
  justify-content: space-around;
  border-radius: 60px;
}
.devSetting {
  position: absolute;
  right: 50px;
  transform: translate(-50%, 11%);
  width: 225px;
  height: 125px;
  border-radius: 50%;
  z-index: 100;
}
body.theme_normal {
  .component_business_tabs .tabs{
    .is_active{
      .tabs-icon{
        svg{
          fill: #000000 !important;
        }
      }
    }
    .tabs-item{
      .tabs-icon{
        svg{
          fill: #B5C4D1;
        }
      }
    }
  }
  .devSetting {
    top: 55px;
  }
}
body.theme_blue_white {
  .component_business_tabs .tabs{
    .is_active{
      .tabs-icon{
        svg{
          fill: #006AFE !important;
        }
      }
    }
    .tabs-item{
      .tabs-icon{
        svg{
          fill: #B5C4D1;
        }
      }
    }
  }
  .devSetting {
    top: 55px;
  }
}
body.theme_dark {
  .component_business_tabs .tabs{
    position: absolute;
    width: 86%;
    left: 7%;
    bottom: 50px;
    .is_active{
      .tabs-icon{
        svg{
          fill: #3E96F8 !important;
        }
      }
      .tabs-title{
        color: #4C82F5;
      }
    }
    .tabs-item{
      svg{
        fill: #A6AFC2;
      }
    }
  }
  .devSetting {
    bottom: 150px;
  }
}
body.theme_colorful {
  .component_business_tabs .tabs{
    .is_active{
      .tabs-icon{
        svg{
          fill: #006AFE !important;
        }
      }
      .tabs-title{
        color: #1C5CFC;
      }
    }
  }
  .devSetting {
    top: 55px;
  }
}
body.theme_morandi {
  .component_business_tabs .tabs{
    position: absolute;
    width: 86%;
    left: 7%;
    bottom: 50px;
    background-image: linear-gradient(180deg, #576273 0%, #414B5B 100%);
    .tabs-item{
      .tabs-icon{
        svg{
          fill: #B5ABA1 !important;
        }
      }
      .tabs-title{
        color: #B5ABA1;
        fill: #B5ABA1;
      }
    }
    .is_active{
      .tabs-icon{
        svg{
          fill: #FFFFFF !important;
        }
      }
      .tabs-title{
        color: #FFFFFF !important;
        fill: #FFFFFF !important;
      }
    }
  }
  .devSetting {
    bottom: 150px;
  }
}
