.control-config {
    width: 100%;
    height: 100%;
    background: #fff;

    .editor-name {
        height: 32px;
        padding: 24px 16px 8px 16px;

        .title {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            display: flex;
            align-items: center;
            color: #182129;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        margin-top: 24px;

        .title {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #182129;
            margin-bottom: 12px;
        }

        .list {
            background: #F6F8FB;
            border-radius: 8px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .list:nth-child(1) {
            flex-wrap: nowrap;
        }
    }
}