.home {
    .setting-block {
        margin: 0 38px;

        .cell-wrapper {
            flex-direction: column;

            .cell-prefix-icon {
                display: block;
                margin-right: 0;
            }

            .cell-title-wrapper {

                .cell-subtitle {
                    display: none;
                }
            }

        }

        .setting-button {
            width: 94px;
            height: 56px;
            background: #FFFFFF;
            border: 1px solid #EFF3F5;
            border-radius: 8px;
        }
    }
}