.home {
  .action {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 300px;
    margin-top: 100px;
    // margin-top: 300px;
    .action-item {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50%;
      flex-direction: column;

      width: 295px;
      height: 300px;
      background: #ffffff;
      border-radius: 147.5px;
      .action-ele {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: inherit;
        font-size: 36px;
        > div:last-child {
          margin-top: 15px;
        }
      }
    }
  }
}
