body.theme_normal {
  .tools-bar-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 34px 0 65px;
    padding: 0 80px;
    z-index: 5;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 295px;
      height: 300px;
      border-radius: 60px;
      font-size: 36px;
      color: #C9D4DD;
      background: #FFFFFF;
      box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      .icon-mode {
        margin-bottom: 28px;
        width: 84px;
        height: 84px;
      }
      .icon-gear {
        margin-bottom: 34px;
        width: 78px;
        height: 78px;
      }
      .icon-time {
        margin-bottom: 37px;
        width: 74px;
        height: 74px;
      }
    }
    .active {
      color: #D8D8D8;
    }
  }
}

body.theme_blue_white {
  .tools-bar-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 722px 0 0;
    padding: 0 80px;
    z-index: 5;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 295px;
      height: 300px;
      border-radius: 60px;
      font-size: 36px;
      color: #A6AFC2;
      background: #FFFFFF;
      box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      .icon-mode {
        margin-bottom: 28px;
        width: 84px;
        height: 84px;
      }
      .icon-gear {
        margin-bottom: 34px;
        width: 78px;
        height: 78px;
      }
      .icon-time {
        margin-bottom: 37px;
        width: 74px;
        height: 74px;
      }
    }
    .active {
      color: #0F0F0F;
    }
  }
}

body.theme_dark {
  .tools-bar-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 639px 0 65px;
    padding: 0 80px;
    z-index: 5;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 295px;
      height: 300px;
      border-radius: 60px;
      border: 3px solid rgba(62,68,84,0.20);
      font-size: 36px;
      color: #A6AFC2;
      background-image: linear-gradient(139deg, #333E4D 0%, #202C3A 100%);
      box-shadow: 0 6px 100px 0 #242735;
      .icon-mode {
        margin-bottom: 28px;
        width: 84px;
        height: 84px;
      }
      .icon-gear {
        margin-bottom: 34px;
        width: 78px;
        height: 78px;
      }
      .icon-time {
        margin-bottom: 37px;
        width: 74px;
        height: 74px;
      }
    }

    .active {
      color: #FEFEFE;
    }
  }
}

body.theme_colorful {
  .tools-bar-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 460px 0 65px;
    padding: 0 80px;
    z-index: 5;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 295px;
      height: 300px;
      border-radius: 60px;
      font-size: 36px;
      color: #B4C3D0;
      background: #FFFFFF;
      box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      .icon-mode {
        margin-bottom: 28px;
        width: 84px;
        height: 84px;
      }
      .icon-gear {
        margin-bottom: 34px;
        width: 78px;
        height: 78px;
      }
      .icon-time {
        margin-bottom: 37px;
        width: 74px;
        height: 74px;
      }
    }
    .active {
      color: #2F2F2F;
    }
  }
}

body.theme_morandi {
  .tools-bar-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 360px 0 65px;
    padding: 0 80px;
    z-index: 5;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 295px;
      height: 300px;
      border-radius: 60px;
      font-size: 36px;
      color: #909CAB;
      background: #FFFFFF;
      box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      .icon-mode {
        margin-bottom: 28px;
        width: 84px;
        height: 84px;
      }
      .icon-gear {
        margin-bottom: 34px;
        width: 78px;
        height: 78px;
      }
      .icon-time {
        margin-bottom: 37px;
        width: 74px;
        height: 74px;
      }
    }
    .active {
      color: #414B5B;
    }
  }
}
