.detail {
  width: 1125px;
  height: 1692.97px;
  background: #FFFFFF;
  box-shadow: 0 6px 100px 0 rgba(32, 33, 33, 0.10);
  border-radius: 120px 120px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: -580px;

  .detail_title {
    height: 67px;
    font-family: PingFangSC-Medium;
    font-weight: Medium;
    font-size: 48px;
    color: #0F0F0F;
    text-align: center;
    margin-top: 60px;
  }

  .heating {
    height: 333px;
    width: 855px;
    margin-top: 60px;
    // border: 1px solid;


    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .heating_top {
      height: 67px;
      font-family: PingFangSC-Medium;
      font-weight: Medium;
      font-size: 48px;
      color: #0F0F0F;
    }

    .heating_footer {
      width: 855px;
      height: 220px;
      // border: solid 1px;
      display: flex;
      // flex-wrap: wrap;
      justify-content: space-between;


      .heating_span {
        width: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // justify-content: space-between;

        .heating_font {
          width: 108px;
          font-family: PingFangSC-Medium;
          font-weight: Medium;
          font-size: 36px;
          color: #B5C4D1;
          text-align: center;
        }

        .heating_font1 {
          width: 108px;
          font-family: PingFangSC-Medium;
          font-weight: Medium;
          font-size: 36px;
          color: #0F0F0F;
          text-align: center;
        }

      }

    }

  }

  .progress {
    height: 792px;
    width: 830px;
    margin-top: 55px;

    .bar_1 {
      width: 830px;
      margin: 30px 0;
    }

    .bar_2 {
      width: 830px;
      margin: 30px 0;
    }

    .bar_3 {
      width: 830px;
      margin: 30px 0;
    }

    .bar_top {
      height: 77px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .bar_size {
        font-family: PingFangSC-Medium;
        font-weight: Medium;
        font-size: 48px;
        color: #000000
      }

    }

    .bar_center {
      height: 97px;
      width: 830px;
      display: flex;
      flex-wrap: wrap;
      // flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .bar_num {
        width: 120px;
        height: 67px;
        font-family: PingFangSC-Medium;
        font-weight: Medium;
        font-size: 48px;
        color: #0F0F0F;
      }
    }

    .bar_foot {
      height: 50px;
      width: 830px;

      .progress_bar {
        width: 830px;
        height: 50px;
        background: #B5C4D1;
        border-radius: 25px;
      }
    }
  }

  .bar_botton {
    height: 237px;
    width: 1125px;
    border-top: 3px solid #EDEEF2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 86px;

    .bar_end {
      width: 340px;
      height: 100px;
      background: #000000;
      border-radius: 50px;
      line-height: 100px;

      font-family: PingFangSC-Semibold;
      font-weight: Semibold;
      font-size: 36px;
      color: #FFFFFF;
      text-align: center
    }

    .bar_go {
      width: 340px;
      height: 100px;
      background: #000000;
      border-radius: 50px;
      line-height: 100px;

      font-family: PingFangSC-Semibold;
      font-weight: Semibold;
      font-size: 36px;
      color: #FFFFFF;
      text-align: center
    }
  }
}

.detail_vhide {
  visibility: hidden;
}

.detail_vshow {
  visibility: visible;
}
