
// ----------------------------------
//          原子级变量
// ----------------------------------
// - 颜色- 对应设计稿的颜色值
@c0: #FFFFFF;
@c1: #26313D;
@c2: rgba(38, 49, 61, 0.5);
@c3: #00A884;
@c4: #30414D;
@c5: #F59945;
@c6: #FBFBFC;
@c7: #EFF3F5;
@c7: #DA695C;

// -大小 / 间隔
@s0: 2px;
@s1: 4px;
@s2: 8px;
@s3: 12px;
@s4: 16px;
@s5: 20px;
@s6: 24px;
@s7: 28px;
@s8: 32px;
@s9: 36px;

// ----------------------------------
//         便捷变量
// ----------------------------------
// - 颜色-
@c-bg: @c0; // 背景色
@c-main: @c1; // 主色
@c-sec1: @c2; // 辅色一
@c-sec2: @c4; // 辅色一
// 字体大小
@f-small: 12px;
@f-normal: 14px;
@f-large: 18px;
// 边框

// ----------------------------------
//         产品变量
// ----------------------------------
// eg
@p-xxx:{
  zoom:1;
}
