.icon {
  font-size: 0;

  .body {
    width: 104px;
    height: 110px;
    background-image: url('./body.svg');
  }

  .alarm {
    width: 22px;
    height: 24px;
    background-image: url('./alarm.svg');
  }

  .sensitivity {
    width: 22px;
    height: 24px;
    background-image: url('./sensitivity.svg');
  }

  .time {
    width: 25px;
    height: 24px;
    background-image: url('./time.svg');
  }

  .humidity {
    width: 32px;
    height: 32px;
    background-image: url('./humidity.svg');
  }

  .temperature {
    width: 32px;
    height: 32px;
    background-image: url('./temperature.svg');
  }
}