/*蓝白主题*/
.color_primary() {
  color: var(--global-color-white);
}

.theme_blue_white {
  min-height: 100vh;
  position: relative;

  .dev-setting-open{
    background: rgba(255,255,255,0.20);
  }
  .home {
    background-image: var(--global-background-color-gradient);
    padding-top: 50px;
    .dashboard {
      width: 86%;
      height: 1100px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 70px;
      margin: 0 7%;

      .title {
        font-size: 36px;
        color: #FFFFFF;

        div {
          margin-bottom: 20px;
        }
      }
    }

    /*详情*/
    .detail {
      background: none;
      box-shadow: none;
      border-radius: unset;
      border: 0;

      .power-tools-bar {
        width: 86%;
        margin: 7%;
        padding: 0;
        justify-content: space-between;

        #pivoting {
          background: #4090FF;
          img {
            width: 70px;
            height: 70px;
          }
          .label{
            color: #FFFFFF;
          }
        }

        #power {
          box-shadow: none;
          background: none;

          img {
            width: 350px;
            height: 350px;
          }
        }

        #timing {
          background: #4090FF;
          img {
            width: 70px;
            height: 70px;
          }
          .label{
            color: #FFFFFF;
          }
        }

        &.up-switch {
          #pivoting {
            background: #FFFFFF !important;

            .label {
              color: #0f0f0f;
            }
          }
        }

        &.down-switch {
          #timing {
            background: #FFFFFF !important;

            .label {
              color: #0f0f0f;
            }
          }
        }
      }

      .environment {
        padding-bottom: 0;
        margin-top: 80px;
        border-radius: 90px 90px 0 0;
        background: #FFFFFF;
        min-height: 23vh;
        .environment-wrap {
          display: flex;
          padding-bottom: 150px;

          .btn {
            color: #B5C4D1;

            img {
              margin: 30px 0;
              width: 120px;
              height: 120px;
              color: rgba(0, 111, 255, 0.4) !important;
              fill: rgba(0, 111, 255, 0.4) !important;
            }

            .label {
              font-size: 36px;
            }
            .check {
              color: #000000 !important;
            }
          }
        }
      }
    }
  }
}

/*暗色主题*/
.theme_dark {
  height: 100%;
  position: relative;

  .home {
    .color_primary;
    padding-top: 50px;
    .dashboard {
      width: 86%;
      height: 1100px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
      border-radius: 70px;
      margin: 0 7%;

      .title {
        font-size: 36px;
        color: #B5C4D1;

        div {
          margin-bottom: 20px;
        }
      }
    }

    /*详情*/

    .detail {
      background: none;
      border: 0;
      box-shadow: none;
      border-radius: unset;

      .power-tools-bar {
        width: 86%;
        margin: 7%;
        padding: 0;
        justify-content: space-between;

        #pivoting {
          background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);

          img {
            width: 70px;
            height: 70px;
          }

          .label {
            color: #FFFFFF;
          }
        }

        #power {
          box-shadow: none;
          background: none;

          img {
            width: 350px;
            height: 350px;
          }
        }

        #timing {
          background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);

          img {
            width: 70px;
            height: 70px;
          }

          .label {
            color: #FFFFFF;
          }
        }

        &.up-switch {
          #pivoting {
            background: var(--global-color-gradient) !important;
          }
        }

        &.down-switch {
          #timing {
            background: var(--global-color-gradient) !important;
          }
        }
      }

      .environment {
        padding-bottom: 0;
        margin-top: 80px;
        background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
        border-radius: 90px 90px 0 0;
        min-height: 22vh;
        .environment-wrap {
          display: flex;
          padding-bottom: 150px;

          .btn {
            img {
              margin: 30px 0;
              width: 120px;
              height: 120px;
            }

            .label {
              font-size: 36px;
            }
            .check {
              color: #FFFFFF !important;
            }
          }
        }
      }
    }
  }
}

/*多彩主题*/
.theme_colorful {
  height: 100%;
  position: relative;

  .dev-setting-open{
    background: #FFFFFF;
  }
  .home {
    .color_primary;
    background-color: #f4f8fb;

    .dashboard {
      width: 86%;
      height: 1100px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 70px;
      margin: 0 7%;

      .title {
        font-size: 36px;
        color: #474747;

        div {
          margin-bottom: 20px;
        }
      }
    }

    /*详情*/

    .detail {
      background: none;
      box-shadow: none;
      border-radius: unset;
      border: 0;

      .power-tools-bar {
        width: 86%;
        margin: 7%;
        padding: 0;
        justify-content: space-between;

        #pivoting {
          img {
            width: 70px;
            height: 70px;
          }
          .label {
            color: #000000;
          }
        }

        #power {
          box-shadow: none;
          background: none;

          img {
            width: 350px;
            height: 350px;
          }
        }

        #timing {
          img {
            width: 70px;
            height: 70px;
          }
          .label {
            color: #000000;
          }
        }

        &.up-switch {
          #pivoting {
            background-image: linear-gradient(180deg, #EF73B7 0%, #A977E5 100%);

            .label {
              color: #FFFFFF;
            }
          }
        }

        &.down-switch {
          #timing {
            background-image: linear-gradient(180deg, #05D9A7 0%, #39E64A 100%);

            .label {
              color: #FFFFFF;
            }
          }
        }
      }

      .environment {
        padding-bottom: 0;
        margin-top: 120px;
        border-radius: 90px 90px 0 0;
        background: #FFFFFF;
        min-height: 23vh;
        .environment-wrap {
          display: flex;
          padding-bottom: 150px;

          .btn {
            color: #B5C4D1;

            img {
              margin: 30px 0;
              width: 120px;
              height: 120px;
            }

            .label {
              font-size: 36px;
            }
            .check {
              color: #000000 !important;
            }
          }
        }
      }
    }
  }


}

/*莫兰迪主题*/
.theme_morandi {
  height: 100%;
  position: relative;

  .dev-setting-open{
    background: rgba(255,255,255,0.20);
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
  }
  .home {
    .color_primary;

    .dashboard {
      width: 86%;
      height: 1100px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background: var(--global-background-color-gradient);
      padding: 0 7%;

      .title {
        font-size: 36px;
        color: #B5C4D1;

        div {
          margin-bottom: 20px;
        }
      }
    }

    /*详情*/
    .detail {
      background: none;
      box-shadow: none;
      border-radius: unset;
      border: 0;

      .power-tools-bar {
        width: 86%;
        margin: 7%;
        padding: 0;
        justify-content: space-between;

        #pivoting {
          img {
            width: 70px;
            height: 70px;
          }
        }

        #power {
          box-shadow: none;
          background: none;

          img {
            width: 350px;
            height: 350px;
          }
        }

        #timing {
          img {
            width: 70px;
            height: 70px;
          }
        }

        &.up-switch {
          #pivoting {
            background: #566172 !important;

            .label {
              color: #FFFFFF;
            }
          }
        }

        &.down-switch {
          #timing {
            background: #566172 !important;

            .label {
              color: #FFFFFF;
            }
          }
        }
      }

      .environment {
        padding-bottom: 0;
        margin-top: 120px;
        border-radius: 90px 90px 0 0;
        background: #FFFFFF;
        box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        min-height: 23vh;
        .environment-wrap {
          display: flex;
          padding-bottom: 150px;

          .btn {
            color: #B5C4D1;

            img {
              margin: 30px 0;
              width: 120px;
              height: 120px;
              color: rgba(86, 97, 114, 0.3) !important;
              fill: rgba(86, 97, 114, 0.3) !important;
            }

            .label {
              font-size: 36px;
            }
            .check {
              color: #B5ABA1 !important;
            }
          }
        }
      }
    }
  }
}

/*黑白主题*/
.theme_normal {
  height: 100%;
  position: relative;

  .home {
    .color_primary;
    background-color: #f4f8fb;
    padding-top: 50px;

    .dashboard {
      width: 86%;
      height: 1100px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background: #FFFFFF;
      border-radius: 70px;
      margin: 0 7%;

      .title {
        font-size: 36px;
        color: #B5C4D1;

        div {
          margin-bottom: 20px;
        }
      }
    }

    /*详情*/
    .detail {
      background: none;
      box-shadow: none;
      border-radius: unset;
      border: 0;

      .power-tools-bar {
        width: 86%;
        margin: 7%;
        padding: 0;
        justify-content: space-between;

        #pivoting {
          img {
            width: 70px;
            height: 70px;
          }
        }

        #power {
          box-shadow: none;
          background: none;

          img {
            width: 350px;
            height: 350px;
          }
        }

        #timing {
          img {
            width: 70px;
            height: 70px;
          }
        }

        &.up-switch {
          #pivoting {
            background: #000000 !important;

            .label {
              color: #FFFFFF;
            }
          }
        }

        &.down-switch {
          #timing {
            background: #000000 !important;

            .label {
              color: #FFFFFF;
            }
          }
        }
      }

      .environment {
        padding-bottom: 0;
        margin-top: 80px;
        border-radius: 90px 90px 0 0;
        background: #FFFFFF;

        .environment-wrap {
          display: flex;
          padding-bottom: 150px;

          .btn {

            img {
              margin: 30px 0;
              width: 120px;
              height: 120px;
              color: #B5C4D1 !important;
              fill: #B5C4D1 !important;
            }

            .label {
              color: #B5C4D1;
              font-size: 36px;
            }
            .check {
              color: #000000 !important;
            }
          }
        }
      }
    }
  }
}

