.modal-container {
  .modal {
    width: calc(100vw - 32px);
    overflow: inherit;

    .modal-header {
      padding: 16px;

      .modal-title {
        color: @c1;
        font-weight: 600;
        font-size: 20px;
        text-align: left;
        padding-left: 8px;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .modal-body {
      padding: 16px;
    }

    .modal-footer {
      padding: 16px;
    }
  }


  // 临时一期样式
  .modal-mask {
    left: -1px;
  }

}
