@border_color: rgba(181, 196, 209, 0.5);
@column_height: 114px;
@column_max_count: 3;

._component_business_value_picker_ {
  .adm-popup-body {
    border-radius: 120px 120px 0 0;
  }
  .picker-title {
    font-size: 48px;
    line-height: 67px;
    color: #0F0F0F;
    text-align: center;
    padding: 71px 0 20px;
    border-bottom: 3px solid @border_color;
  }

  .picker-footer {
    font-size: 48px;
    line-height: 67px;
    color: #000000;
    border-top: 3px solid @border_color;
    padding: 60px 0 125px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      flex: 1;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }

  .value-picker-view {
    width: 670px;
    --height: calc(@column_height * @column_max_count);
    margin: 53px auto;
    border-radius: 60px;
    overflow: hidden;
    .adm-picker-view-column {
      background-image: linear-gradient(180deg, #222222 0%, #0F0F0F 100%);
    }
    .adm-picker-view-mask {
      // background: rgba(0, 0, 0, .4);
      // border-color: #DAE1E8;
      .adm-picker-view-mask-top, .adm-picker-view-mask-bottom {
        background: rgba(0, 0, 0, 0.1);
      }
      .adm-picker-view-mask-middle {
        position: relative;
        opacity: 1;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 57px;
          margin-top: -15px;
          display: inline-block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: rgba(222,222,227,0.50)
        }
      }
    }
    .adm-picker-view-column-item {
      font-family: PingFangSC-Medium;
      font-size: 60px;
      color: #ffffff;
    }
  }
}
body.theme_blue_white {
  ._component_business_value_picker_ {
  .value-picker-view {
    .adm-picker-view-column {
      background-image: linear-gradient(180deg, #559DFC 0%, #3171FA 100%) !important;
    }
    .adm-picker-view-mask {
      .adm-picker-view-mask-top, .adm-picker-view-mask-bottom {
        background: rgba(0, 0, 0, 0.1);
      }
      .adm-picker-view-mask-middle {
        position: relative;
        border: none;
        opacity: 1;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 57px;
          margin-top: -15px;
          display: inline-block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #FF5447;
        }
      }
    }
  }
}
}
body.theme_dark {
  ._component_business_value_picker_ {
    .adm-popup-body {
      background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%) !important;

      .picker-title{
        border-bottom: 3px solid #3B4757;
        color: #FFFFFF !important;
      }
      .picker-footer {
        border-top: 3px solid #3B4757;
      }
      .picker-footer>button:nth-of-type(1){
        color: #768092 !important;
      }
      .picker-footer>button:nth-of-type(2){
        color: #FBFBFF !important;
      }
    }
    .value-picker-view {
      width: 670px;
      --height: calc(@column_height * @column_max_count);
      margin: 53px auto;
      border-radius: 60px;
      border: 1px solid #242735;
      overflow: hidden;
      .adm-picker-view-column {
        background-image: linear-gradient(153deg, #00F0FF 0%, #704DF0 100%);
      }
      .adm-picker-view-mask {
        .adm-picker-view-mask-top, .adm-picker-view-mask-bottom {
          background: rgba(0, 0, 0, 0.1);
        }
        .adm-picker-view-mask-middle {
          position: relative;
          border: none;
          opacity: 1;
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 57px;
            margin-top: -15px;
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #ffffff;
          }
        }
      }
      .adm-picker-view-column-item {
        font-family: PingFangSC-Medium;
        font-size: 60px;
        color: #ffffff;
      }
    }
  }
}
body.theme_colorful {
  .value-picker-view {
    .adm-picker-view-column{
      background-image: linear-gradient(180deg, #559DFC 0%, #3171FA 100%) !important;
    }
  }
  .picker-footer>button:nth-of-type(2){
    color: #FF5447 !important;
  }
}
body.theme_morandi {
  .adm-popup-body{
    background-image: linear-gradient(180deg, #576273 0%, #414B5B 100%) !important;

    .picker-title{
      color: #FFFFFF !important;
    }
    .value-picker-view {
      .adm-picker-view-column{
        background: #FDFBFC !important;
        .adm-picker-view-column-item{
          color: #576273 !important;
        }
      }
      .adm-picker-view-mask-middle {
        position: relative;
        opacity: 1;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 57px;
          margin-top: -15px;
          display: inline-block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #576273;
        }
      }
    }
    .picker-footer>button:nth-of-type(1){
      color: #768092 !important;
    }
    .picker-footer>button:nth-of-type(2){
      color: #FBFBFF !important;
    }
  }
}
