
.cus-circle-split {
  width: 100%;
  height: 100%;

  border-radius: 50%;
  position: relative;
  .center-flag {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    .split {
      transform-origin: 0;
      height: 100%;
      position: absolute;
      .g-item {
        position: absolute;
        width: 0.106667rem;
        height: 0.32rem;
        background: #2D374D;
        left: 0;
        top: 0;
      }
    }
  }
}
