.power-tools-bar {
  display: flex;
  margin-top: 66px;
  padding: 66px 123px 94px;
  justify-content: space-between;
  align-items: center;
  border-radius: 120px 120px 0 0;
  box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
  button {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(254,254,254,0.20);
  }
  .btn-power-switch {
    width: 229px;
    height: 230px;
  }
  .svg-icon-reduce {
    width: 80px;
    height: 80px;
  }
  .svg-icon-power {
    width: 95px;
    height: 96px;
    fill: #FCFCFC;
  }
  .svg-icon-add {
    width: 80px;
    height: 80px;
  }
  .switch-open {
    background: #0F0F0F;
    svg {
      fill: #ffffff;
    }
  }
  #power {
    svg {
      fill: #ffffff;
    }
  }
  .switch-close {
    // background: #B5C4D1;
    svg {
      fill: #ffffff;
    }
  }
}

body.theme_dark {
  .power-tools-bar {
    button {
      background-image: linear-gradient(139deg, #333E4D 0%, #202C3A 100%);
      border: 3px solid rgba(62,68,84,0.20);
      box-shadow: 0 6px 100px 0 #242735;
      svg {
        fill: #B5C4D1;
      }
    }
    .switch-open {
      background-image: linear-gradient(137deg, #FF3A5F 0%, #EA0D40 100%);
      svg {
        fill: #ffffff;
      }
    }
    #power {
      svg {
        fill: #ffffff;
      }
    }
    .switch-close {
      // background-image: linear-gradient(137deg, #FAFAFA 0%, #E8E8E8 100%);
      svg {
        fill: #222431;
      }
    }
  }
}
