.ec-chart {
  .cycle-btns {
    display: flex;

    .custom-btn {
      color: #FFBD79;
      border: 1px solid #FFBD79;
    }

    .selected {
      background: #FFBD79;
      color: #fff;
    }
  }

  .desc {

    .label {
      margin-top: 12px;
      font-size: 14px;
      color: rgba(24, 33, 41, 0.5)
    }
  }

}