.rmc-multi-picker {

  display: flex;
  align-items: center;
  background: transparent;
  color: @c1;
  width: 100%;
  position: relative;
  overflow: hidden;
  width: auto;

  .rmc-picker-item {
    // border-bottom: 1px solid #EFF3F5;
  }

  &.second-cls {
    .rmc-picker {
      .rmc-picker-content {
        .rmc-picker-item {
          padding-left: 0;
        }
      }
    }

    .rmc-picker:first-child {
      .rmc-picker-content {
        .rmc-picker-item {
          text-align: center;
          padding-right: 0;
        }
      }
    }
  }

  .picker-view-divider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 12px;
  }

  .rmc-picker {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    flex: 1;
    text-align: center;

    .rmc-picker-indicator {
      box-sizing: border-box;
      width: 100%;
      height: 34px;
      position: absolute;
      background: #F6F4FC;
      left: 0;
      top: 102px;
    }

    &:first-child {
      .rmc-picker-content {
        .rmc-picker-item {
          text-align: center;
          padding-right: 10px;
        }
      }

      .rmc-picker-indicator {
        border-radius: 8px 0 0 8px ;
        // &::after {
        //   content: ' ';
        //   width: 90%;
        //   height: 34px;
        //   position: absolute;
        //   top: 6px;
        //   right: -1px;
        //   border-radius: 16px 0 0 16px;
        //   border: 1px solid;
        //   border-color: transparent #141620 transparent transparent;
        //   // Ê¹ÓÃ¸Ãborder ²»ÐèÒªÉèÖÃbackground
        //   background-clip: padding-box, border-box;
        //   background-origin: padding-box, border-box;
        //   // background-image: linear-gradient(to right, #141620, #141620), linear-gradient(180deg, rgba(255, 255, 255, 0.08), rgba(156, 140, 255, 0.24));
        // }
      }
    }


    &:nth-child(2) {
      .rmc-picker-indicator {
        border-radius:0  8px  8px 0;
        // &::after {
        //   content: ' ';
        //   width: 90%;
        //   height: 34px;
        //   position: absolute;
        //   top: 6px;
        //   left: -1px;
        //   right: 10px;
        //   border-radius: 0 16px 16px 0;
        //   border: 1px solid;
        //   border-color: transparent transparent transparent #141620;
        //   // Ê¹ÓÃ¸Ãborder ²»ÐèÒªÉèÖÃbackground
        //   // background-clip: padding-box, border-box;
        //   // background-origin: padding-box, border-box;
        //   // background-image: linear-gradient(to right, #141620, #141620), linear-gradient(180deg, rgba(255, 255, 255, 0.08), rgba(156, 140, 255, 0.24));
        // }
      }

    }           


    .rmc-picker-mask {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      margin: 0 auto;
      width: 100%;
      z-index: 3;
      background-position: top, bottom;
      background-size: 100% 204px;
      background-repeat: no-repeat;
    }


    .rmc-picker-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1;

      .rmc-picker-item {
        height: 34px;
        line-height: 34px;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        // opacity: 0.5;
        box-sizing: border-box;
        // text-align: center;
        // padding-left: 2px;
        text-align: left;
        // padding-left: 76px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
      }

      .rmc-picker-item-selected {
        font-weight: 500;
        font-size: 20px;
        color: @c1;
        // color: rgba(51, 95, 255, 1);
      }
    }
  }
}

// // ÏÔÊ¾·ÖºÅ
// .semicolon {
//   .rmc-picker {
//     &:nth-child(2) {
//       .rmc-picker-indicator {
//         &::before {
//           position: absolute;
//           display: inline-block;
//           z-index: 5;
//           content: ':';
//           width: 30px;
//           height: 100%;
//           font-size: 19px;
//           display: flex;
//           align-items: center;
//           left: -8px;
//           top: -2px;
//           justify-content: center;
//           color: @c1;
//         }
//       }
//     }

//   }
// }

// // ÏÔÊ¾ºáÏß
// .semicolon {

//   &::before {
//     position: absolute;
//     display: inline-block;
//     z-index: 1;
//     content: ' ';
//     border: 1px solid;
//     border-color: #EFF3F5 transparent #EFF3F5 transparent;
//     width: 30px;
//     height: 33%;
//     width: 100%;
//   }

// }