// 后续统一卡片样式

.list-card-timer {
  background: #ffffff;
  border: none;
  background: transparent;
  font-size: 14px;
  margin: 16px;
  .adm-list-default {
    border: none !important;
  }
  .adm-list {
    color: @c1;
    font-size: 14px;
    .adm-list-body-inner {
      margin-bottom: 0;
      .adm-list-item {
        border-bottom: 0.5px solid @c7;
        font-size: 14px;
        font-weight: 500;
        padding-left: 0;
      }
      .adm-list-item:active {
        background-color: transparent;
      }
    }
    .adm-list-item-content {
      border: none;
      padding: 12px 0;

      .adm-list-item-content-arrow {
        color: @c1;
      }
    }

    .adm-list-body {
      border-top: none;
      border-bottom: none;
    }
  }

  .adm-checkbox-icon {
    display: none;
  }
  .adm-list-item-content-extra {
    font-size: inherit;
    color: inherit;
    .icon {
      width: 90px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    .icon-select {
      background: #89ce6b;
    }
  }
  .description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 84px;
    font-weight: 400;
    font-size: 48px;
    color: #b5c4d1;
  }
}
