.icon {
  .action-speed {
    background-image: url('./speed.svg');
  }

  .action-play {
    background-image: url('./play.svg');
  }

  .action-voice {
    background-image: url('./voice.svg');
  }

  .action-volume {
    background-image: url('./volume.svg');
  }

  .action-capture {
    background-image: url('./capture.svg');
  }

  .action-record {
    background-image: url('./record.svg');
  }

  .action-full {
    background-image: url('./full.svg');
  }
  .action-left {
    background-image: url('./left.svg');
  }
  .action-right {
    background-image: url('./right.svg');
  }

  .action-date {
    background-image: url('./date.svg');
  }
}
