.icon {
  .off {
    background-image: url('./off.svg');
  }
  .off-checked {
    background-image: url('./off-checked.svg');
  }
  .on {
    background-image: url('./on.svg');
  }
  .on-checked {
    background-image: url('./on-checked.svg');
  }
  .count-down {
    background-image: url('./count-down.svg');
  }
  .count-down-checked {
    background-image: url('./count-down-checked.svg');
  }
  .timing {
    background-image: url('./timing.svg');
  }
  .timing-checked {
    background-image: url('./timing-checked.svg');
  }
}
