.icon {
  font-size: 0;
  .switch {
    width: 22px;
    height: 24px;
    background-image: url('./switch.svg');
  }
  .mode {
    width: 24px;
    height: 24px;
    background-image: url('./mode.svg');
  }

  .time {
    width: 24px;
    height: 24px;
    background-image: url('./time.svg');
  }
  .brightness {
    width: 16px;
    height: 16px;
    background-image: url('./brightness.svg');
  }
}