.switch-timer-cloud {
  .adm-popup-body {
    border-radius: 12px;
    background: #FFFFFF;

    .picker-header {
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
    }

    .rmc-multi-picker .rmc-picker .rmc-picker-content .rmc-picker-item-selected {
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 600;
      font-size: 20px !important;
      line-height: 28px;
      color: #565477;
    }

    .rmc-multi-picker .rmc-picker .rmc-picker-content .rmc-picker-item {
      font-size: 16px;
      text-align: left;
    }

    .rmc-multi-picker .rmc-picker:first-child .rmc-picker-content .rmc-picker-item {
      text-align: right;
    }

    .rmc-picker-indicator:after {
      width: calc(100% - 16px);
      background: #F6F4FC;
      border: 1px solid rgba(156, 140, 255, 0.24);
    }

    .rmc-picker:nth-child(1) {
      .rmc-picker-indicator {
        &:after {
          left: 16px;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          border-right: 0;
        }
      }
    }

    .rmc-picker:nth-child(2) {
      .rmc-picker-indicator {
        &:after {
          right: 16px;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          border-left: 0;
        }
      }
    }
  }

  .switch-modal {
    .adm-list-inner {
      padding: 0 100px;
    }
  }
}