.adm-tabs {
  .adm-tabs-tab-list {
    padding: 0 64px;
  }
  .adm-tabs-content {
    padding: 12px 16px;
  }
  .adm-tabs-content {
    height: calc(100vh - 80px);
    overflow-y: auto;
  }
  .adm-tabs-tab-line {
    display: none;
  }

  .adm-tabs-tab {
    font-size: 16px;
    color: @c1;
    font-weight: 400;
    padding: 16px 0 18px;
  }
  .adm-tabs-tab-active {
    &::after {
      content: none;
    }
    font-weight: 600;
    font-size: 16px;
  }
  .adm-tabs-tab-wrapper {
    padding: 0;
  }
}
