@cicleColor:rgb(65,74,95);
@cicleActiveColor: #DA695C;
.disk {
  position: relative;
  margin: 0 auto;
  width: 308px;
  height: 308px;
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background: @cicleColor;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 230px;
      height: 4px;
      background-color: @cicleColor;
      z-index: 1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 4px;
      height: 230px;
      background-color: @cicleColor;
      z-index: 1;
    }

    .disk-icon {
      position: relative;
      margin-top: 47px;
      z-index: 3;
    }

    .number {
      position: relative;
      margin-top: 12px;
      font-family: DIN Alternate;
      font-weight: bold;
      font-size: 38px;
      line-height: 44px;
      color: #FFFFFF;
      z-index: 3;
    }
  }
  .status-desc {
    position: absolute;
    left: 50%;
    bottom: -36px;
    transform: translateX(-50%);
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
  }
  .pulse {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-color: #414A5E;
  }
  .pulse1 {
    top: 24px;
    left: 24px;
    width: 260px;
    height: 260px;
    border-width: 0;
    z-index: 1;
    background: #2D374D;
  }
  
  .pulse2 {
    left: 12px;
    top: 12px;
    width: 284px;
    height: 284px;
    border-width: 1px;
    z-index: 3;
    opacity: 0.75;
  }
  
  .pulse3 {
    top: 0;
    left: 0;
    width: 308px;
    height: 308px;
    border-width: 1px;
    z-index: 4;
    opacity: 0.4;
  }

  .pulseAnimation {
    animation-iteration-count: infinite;
    animation-timing-function: forwards;
    animation-duration: 2s;
    animation-name: diffusion;
  }

  &.is-alarm {
    .content {
      background: @cicleActiveColor;
      &::before {
        background-color: @cicleActiveColor;
      }
  
      &::after {
        background-color: @cicleActiveColor;
      }
    }
    .pulse {
      border-color: @cicleActiveColor;
    }
    .pulse1 {
      animation: none;
    }
  }
}

@keyframes diffusion {
  0% {
  }
  100% {
    opacity: 0;
  }
}
