.heater-disk-wrap {
  position: relative;
  margin: 0 auto;
  width: 260px;
  height: 260px;
  overflow: visible;
  svg {
    overflow: visible;
  }
  .humidifier-disk {
    width: 260px;
    height: 260px;
  }
  .disk-circle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    
    .num {
      margin-top: 22px;
      font-weight: 700;
      font-size: 40px;
      line-height: 47px;
      font-family: 'DIN Alternate';
    }
    .title {
      margin-top: 4px;
      line-height: 20px;
    }
    .desc {
      margin-top: 22px;
      line-height: 20px;
      color: #FFFFFF;
      opacity: 0.5;
    }
  }
  .outer-circle {
    fill: none;
    stroke: rgba(65, 74, 94, 0.75); 
  }
  .center-circle {
    fill: #2D374D;
    stroke: #1F2738;
  }
  .line {
    stroke: #D8D8D8;
  }
  #circle-bg {
    stroke: #454F65;
  }
  &.status-active {
    opacity: 1;
    #circle {
      stroke: #FFFFFF;
    }
    #indicator {
      stroke: #FFFFFF;
      fill: #1F2738;
    }
    .text {
      fill: #FFFFFF;
    }
  }
  &.status-disable {
    .disk-circle-content {
      color: rgba(255, 255, 255, 0.5);
    }
    #circle {
      stroke: #A2A7B2;
    }
    #indicator {
      stroke: #A2A7B2;
      fill: #1F2738;
    }
    .text {
      fill: #A2A7B2;
    }
    .light {
      opacity: 0.5;
    }
  }
}
