.adm-popup-body {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: #2D374D;
  text-align: center;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    line-height: 22px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
  }

  .block-wrap {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0 22px 56px;

    .item-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;
      width: 100px;
      height: 100px;
      border-radius: 16px;
      background: #30414D;
      cursor: pointer;

      .item-label {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
      }
    }
  }

  .block-wrap-middle {
    display: flex;
    flex-wrap: wrap;
    padding: 0 22px 56px;

    .item-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
      padding: 12px 24px;
      width: 100%;
      height: 22px;
      border-radius: 16px;
      background: #30414D;
      cursor: pointer;

      .item-label {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
      }
    }
  }
}