.icon {
    .add {
        width: 28px;
        height: 28px;
        background-image: url('./add.svg');
    }

    .download {
        width: 14px;
        height: 13px;
        background-image: url('./download.svg');
    }
}