@import url('./LightSwitch.less');

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .switch-1 {
    padding: 90px 82px 110px 82px;
  }

  .switch-2 {
    display: flex;
    padding: 50px 25px 23px 25px;
    justify-content: space-between;

    .light-switch {
      width: 160px;
    }
  }

  .switch-3 {
    display: flex;
    padding: 20px 2px 23px 18px;
    justify-content: space-between;

    .operator {
      display: flex;
      justify-content: flex-end;
    }

    .light-list {
      display: flex;
      width: 335px;
      height: 330px;
      background: linear-gradient(180deg, #131A33 0%, rgba(19, 26, 51, 0.8) 100%);
      border-radius: 16px;

      .light-switch {
        width: 110px;
      }
    }


  }

}