.disk {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  // border: 2px solid rgba(239, 243, 244, 0.75);
  background-color: #FFFFFF;
  .content-wrap {
    display: flex;
    align-items: center;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    border: 0.810997px solid #EFF3F5;
    background: #FBFBFC;
    .content {
      margin-left: 71px;
    }
  }
  .circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 240px;
    height: 240px;
    overflow: visible;
  }
}
