.icon {
  font-size: 0;
  .more {
    width: 24px;
    height: 24px;
    background-image: url('./more.svg');
  }
  .light {
    width: 16px;
    height: 16px;
    background-image: url('./light.svg');
  }
  .minus {
    width: 20px;
    height: 20px;
    background-image: url('./minus.svg');
  }
  .plus {
    width: 20px;
    height: 20px;
    background-image: url('./plus.svg');
  }
  .unlock {
    width: 32px;
    height: 17px;
    background-image: url('./unlock.svg');
  }
  .lock {
    width: 32px;
    height: 17px;
    background-image: url('./lock.svg');
  }
  .switch {
    width: 25px;
    height: 27px;
    background-image: url('./switch.svg');
  }
  .unselected {
    width: 18px;
    height: 18px;
    background-image: url('./unselected.svg');
  }
  .selected {
    width: 18px;
    height: 18px;
    background-image: url('./selected.svg');
  }
}