.home {
  .dashboard {
    width: 100%;
    padding-top: 35px;
    .control-panel{
      height: 950px;
      border-radius: 60px;
      margin: 0 80px;
      .panel-head{
        height: 400px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        ._component_business_battery_{
          position: absolute;
          top: 50px;
          left: 50px;
        }
        img{
          width: 250px;
        }
      }
    }
    .alarm-tools-bar {
      display: flex;
      padding: 50px 20px;
      justify-content: space-around;
      align-items: center;
      color: #B5C4D1;
      button {
        background: none;
        img{
          width: 80px;
          height: 80px;
        }
        .label {
          width: 154px;
          height: 50px;
          line-height: 50px;
          margin-top: 28px;
          font-size: 36px;
          text-align: center;
        }
      }
    }
  }
}
