.home {
  position: relative;
  color: #26313D;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;

  .switch-total {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 42px;
    left: 22px;

    .switch-title {
      font-style: normal;
      font-size: 16px;
      line-height: 22px;
      text-align: right;
      margin-bottom: 16px;
      color: #FFFFFF;
    }

    .custom-switch {
      width: 80px;
      height: 40px;

      .adm-switch-checkbox,
      .adm-switch-checkbox:before {
        height: 40px !important;
        background: #F2F2F2 !important;
      }

      .adm-switch-handle {
        margin-top: 2px;
        margin-left: 2px;
        width: 32px !important;
        height: 32px !important;
        background: #FFFFFF;
      }
    }

    .adm-switch-checked {
      .adm-switch-handle {
        left: 40px !important;
        width: 32px !important;
        height: 32px !important;
        background: #F2A56B !important;
      }
    }
  }

  .photo {
    margin-top: 157px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon {
      display: none;
      z-index: 1;
    }

    .product-img {
      background-repeat: no-repeat;
      width: 184px;
      height: 214px;
      z-index: 1;
    }

    .bottom-bg {
      background: rgba(0, 0, 0, 0.3);
      width: 305px;
      height: 58.54px;
      border-radius: 50%;
      position: relative;
      top: -35px;
    }
  }

  .operator {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    width: 343px;
    height: 56.58px;
    border: 1px solid rgba(156, 140, 255, 0.24);
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      margin-left: 16px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }
}