.switch-timer-cloud {

  .custom-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    margin-top: 14px;
    padding: 0 6px;

    >div {
      width: 152px;
      height: 34px;
      line-height: 34px;
      margin: 0 6px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      justify-content: center;
      padding: 0 6px;

      &.checked {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 16px;

      }

    }
  }

  .switch-modal {
    .adm-list-inner {
      padding: 0 100px;
    }
  }
}