@import url('./Ticker.less');
@import url('./Position.less');
@import url('./LightBright.less');
@import url('./Action.less');
.route-home {
  display: inherit !important;

}
.cus-dev-detail{
  top:40px;
  right:90px;
}
.home {
  width: 100%;
  // padding-bottom: 78px;
  .change-panel {
    border-radius: 70px;
    margin: 175px 80px 0 80px;
    // padding: 60px;
    padding: 60px 60px 0 60px;
    height: 1185px;
    position: relative;
  }
  .mark-op-btn{
    border: 3px solid rgba(255,255,255,0.60);
  }
}
