.setting-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 70px;
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);

  &>.setting-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 295px;
    height: 300px;
    
    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      right: -20px;
      margin-top: -82px;
      width: 3px;
      height: 164px;
      background-color: #EDEEF2;
    }

    .button-name {
      margin-top: 36px;
      line-height: 50px;
      font-size: 36px;
      color: #333333;
    }

    &+.setting-button {
      margin-left: 42px;
    }
  }
}