/*蓝白主题*/
.theme_blue_white {
  height: 100%;
  position: relative;
  .home {
    .border-bottom {
      border: 0;
    }
    min-height: 100vh;
    background-image: var(--global-background-color-gradient);

    &.power-off {
      #power {
        background: #B5C4D1 !important;
        svg {
          fill: #FFFFFF !important;
        }
      }
      #hand, #automatic, #comfort, #sleep{
        color: #B5C4D1 !important;
      }
    }
  }

  .dashboard{
    padding-top: 93px;
    .ticker{
      position: relative;
      > section{
        color: #0f0f0f;
        .value{
          margin: 50px 0;
        }
        .text{
          position: absolute;
          top: 280px;
          color: #B5C4D1;
        }
      }

      .bg {
        position: absolute;
        left: 50%;
        transform: translate(-50%,11%);
        width: 85%;
        height: 85%;
        border-radius: 50%;
        background-color: var(--global-color-text-primary);
        box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      }
    }
  }

  .position-wrap{
    width: 100%;
    padding: 0;
    > ul {
      margin:56px 77px;
      padding: 80px 90px;
      background-color: #559DFC;
      border-radius: 70px;
      li {
        color: #FEFEFE;
      }

      .line{
        line-height: 130px;
      }
    }
  }

  /*详情*/
  .detail {
    background: none;
    border: 0;
    box-shadow: none;
    margin-top: 100px;

    .lock-img{
      position: absolute;
      left: 50px;
      top: 50px;
      z-index: 11;
    }
    .device-state{
      position: absolute;
      top: 50px;
      right: 50px;
      color: #FEFEFE;
    }
    .power-tools-bar {
      width: 100%;
      padding: 0;
      position: absolute;
      top: 570px;
      z-index: 10;
      #power {
        width: 160px;
        height: 160px;
        position: relative;
        z-index: 10;
        box-shadow: none;
        border: 30px solid #FFFFFF;
        //box-shadow: 0 6px 0 3px rgba(62,68,84,0.20);
        background-color: #45A3FF;
        svg {
          width: 150px;
          height: 150px;
          fill: #FFFFFF !important;
        }
      }
    }
    .environment {
      width: 100%;

      .environment-wrap {
        display: flex;
        margin:80px 77px 0;
        padding: 0;
        //padding: 97px 0 67px;
        //border-radius: 70px;
        .temperature, .line, .line1, .humidity {
          flex: .4;
          width: 300px;
          background-color: var(--global-color-white);
          color: #B5C4D1;
          div{
            margin-top: 15px;
          }
        }
        .line {
          //width: 100px;
          height: 350px;
          flex: .2;
          top: 48px;
          border-right: 3px solid #EDEEF2;
          border-left: 0;
          border-top: 0;
          margin: 0 -110px;
        }
        .line1 {
          //width: 100px;
          height: 350px;
          flex: .2;
          top: 48px;
          border-right: 0;
          border-left: 0;
          margin: 0 -5px;
        }
        .temperature {
          padding-top: 97px;
          border-radius: 70px 0 0 0;
          img{
            width: 100px;
            height: 100px;
          }
        }
        .humidity {
          padding-top: 97px;
          border-radius: 0 70px 0 0;
          img{
            width: 100px;
            height: 100px;
          }
        }
        strong {
          i {
            position: relative;
            top: -25px;
          }
          & + div {
            margin-top: 20px;
          }
        }
        .scale-wrap {
          display: inline-block;
          transform: scaleY(1.8);
          font-weight: bold;
        }
      }

      .environment-wrap1 {
        display: flex;
        margin:0 77px;
        padding: 0;
        //padding: 97px 0 67px;
        //border-radius: 70px;
        .temperature, .line, .line1, .humidity {
          flex: .4;
          width: 300px;
          background-color: var(--global-color-white);
          color: #B5C4D1;
          div{
            margin-top: 15px;
          }
        }
        .line {
          //width: 100px;
          height: 348px;
          flex: .2;
          top: 0;
          border-right: 3px solid #EDEEF2;
          border-left: 0;
          border-top: 3px solid #EDEEF2;
          margin: 0 -110px;
        }
        .line1 {
          //width: 100px;
          height: 348px;
          flex: .2;
          top: 0;
          border-right: 0;
          border-top: 3px solid #EDEEF2;
          margin: 0 -5px;
        }
        .temperature {
          padding-top: 97px;
          border-top: 3px solid #EDEEF2;
          border-radius: 0 0 0 70px;
          img{
            width: 100px;
            height: 100px;
          }
        }
        .humidity {
          padding-top: 97px;
          border-top: 3px solid #EDEEF2;
          border-radius: 0 0 70px 0;
          img{
            width: 100px;
            height: 100px;
          }
        }
        strong {
          i {
            position: relative;
            top: -25px;
          }
          & + div {
            margin-top: 20px;
          }
        }
        .scale-wrap {
          display: inline-block;
          transform: scaleY(1.8);
          font-weight: bold;
        }
      }
      .check{
        color: #0f0f0f !important;
      }
    }
  }
}
/*暗色主题*/
.theme_dark {
  padding-top: 93px;
  position: relative;
  .home {
    .border-bottom {
      border: 0;
    }

    &.power-off {
      #power {
        background: #B5C4D1 !important;
        svg {
          fill: #FFFFFF !important;
        }
      }
    }

    .dashboard{
      .ticker{
        > section{
          .value{
            margin: 10px 0;
          }
          .text1{
            color: #DEE4EA;
          }
        }

        .bg {
          position: absolute;
          left: 50%;
          transform: translate(-50%,11%);
          width: 85%;
          height: 85%;
          border-radius: 50%;
          background-color: #333e4d;
          box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        }
      }
    }
    .detail {
      background-color: transparent;

      .lock-img{
        position: absolute;
        left: 50px;
        top: 50px;
        z-index: 11;
      }
      .device-state{
        position: absolute;
        top: 50px;
        right: 50px;
        color: #B5C4D1;
      }
      .power-tools-bar {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 830px;
        z-index: 10;
        #power {
          width: 260px;
          height: 260px;
          position: relative;
          top: 70px;
          z-index: 10;
          border: 30px solid var(--global-background-color);
          //box-shadow: 0 6px 0 3px rgba(62,68,84,0.20);
          background-image: linear-gradient(137deg, #FF3A5F 0%, #EA0D40 100%);
          svg {
            width: 300px;
            height: 300px;
          }
        }
      }
      .environment {
        width: 100%;
        position: absolute;
        top: 980px;
        .environment-wrap {
          display: flex;
          margin:56px 77px 0;
          padding: 0;
          //padding: 97px 0 67px;
          //border-radius: 70px;
          .temperature, .line, .line1, .humidity {
            flex: .4;
            width: 300px;
            height: 252px;
            background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
            border: 3px solid rgba(62,68,84,0.20);
            color: #B5C4D1;
            div{
              margin-top: 15px;
            }
          }
          .line {
            //width: 100px;
            height: 300px;
            flex: .2;
            top: 48px;
            border-right: 3px solid #8d8d8d;
            border-left: 0;
            border-top: 0;
            margin: 0 -110px;
          }
          .line1 {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 48px;
            border-right: 0;
            border-left: 0;
            margin: 0 -5px;
          }
          .temperature {
            padding-top: 97px;
            border-radius: 70px 130px 0 0;
          }
          .humidity {
            padding-top: 97px;
            border-radius: 130px 70px 0 0;
          }
          strong {
            i {
              position: relative;
              top: -25px;
            }
            & + div {
              margin-top: 20px;
            }
          }
          .scale-wrap {
            display: inline-block;
            transform: scaleY(1.8);
            font-weight: bold;
          }
        }

        .environment-wrap1 {
          display: flex;
          margin:0 77px;
          padding: 0;
          //padding: 97px 0 67px;
          //border-radius: 70px;
          .temperature, .line, .line1, .humidity {
            flex: .4;
            width: 300px;
            height: 252px;
            background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
            border: 3px solid rgba(62,68,84,0.20);
            color: #B5C4D1;
            div{
              margin-top: 15px;
            }
          }
          .line {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 0;
            border-right: 3px solid #8d8d8d;
            border-left: 0;
            border-top: 3px solid #8d8d8d;
            margin: 0 -110px;
          }
          .line1 {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 0;
            border-right: 0;
            border-top: 3px solid #8d8d8d;
            margin: 0 -5px;
          }
          .temperature {
            padding-top: 97px;
            border-top: 3px solid #8d8d8d;
            border-radius: 0 0 0 70px;
          }
          .humidity {
            padding-top: 97px;
            border-top: 3px solid #8d8d8d;
            border-radius: 0 0 70px 0;
          }
          strong {
            i {
              position: relative;
              top: -25px;
            }
            & + div {
              margin-top: 20px;
            }
          }
          .scale-wrap {
            display: inline-block;
            transform: scaleY(1.8);
            font-weight: bold;
          }
        }
        .check{
          color: #FFFFFF !important;
        }
      }

      .position-wrap {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 1772px;

        > ul {
          margin:56px 77px;
          padding: 80px 90px;
          background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
          border-radius: 70px;
          li {
            color: var(--global-color-lighter);
            > strong {
              color: var(--global-color-white);
            }
          }

          .line{
            line-height: 130px;
          }
        }
        * {
          background-color: transparent;
        }
      }
    }
  }
}
/*多彩主题*/
.theme_colorful {
  padding-top: 93px;
  position: relative;
  .home {
    .border-bottom {
      border: 0;
    }
    &.power-off {
      #power {
        background: #B5C4D1 !important;
        svg {
          fill: #FFFFFF !important;
        }
      }
      #position-wrap{
        ul{
          li{
            color: #B5C4D1 !important;
            strong{
              color: #B5C4D1 !important;
            }
          }
        }
      }
      #hand, #automatic, #comfort, #sleep{
        color: #B5C4D1 !important;
      }
    }
    .dashboard{
      .ticker{
        > section{
          color: #FFFFFF;
          .value{
            margin: 10px 0;
          }
          .text1{
            color: #DEE4EA;
          }
        }

        .bg {
          position: absolute;
          left: 50%;
          transform: translate(-50%,11%);
          width: 85%;
          height: 85%;
          border-radius: 50%;
          background-image: linear-gradient(137deg, #559DFC 0%, #4178c1 100%);
          box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        }
      }
    }
    .detail {
      background-color: transparent;
      box-shadow: none;

      .lock-img{
        position: absolute;
        left: 50px;
        top: 50px;
        z-index: 11;
      }
      .device-state{
        position: absolute;
        top: 50px;
        right: 50px;
        color: #B5C4D1;
      }
      .power-tools-bar {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 780px;
        z-index: 10;
        #power {
          width: 260px;
          height: 260px;
          position: relative;
          top: 70px;
          z-index: 10;
          box-shadow: none;
          border: 30px solid var(--global-background-color);
          //box-shadow: 0 6px 0 3px rgba(62,68,84,0.20);
          background-image: linear-gradient(137deg, #FF3A5F 0%, #EA0D40 100%);
          svg {
            width: 300px;
            height: 300px;
            fill: #FFFFFF !important;
          }
        }
      }
      .environment {
        width: 100%;
        position: absolute;
        top: 930px;
        .environment-wrap {
          display: flex;
          margin:56px 77px 0;
          padding: 0;
          //padding: 97px 0 67px;
          //border-radius: 70px;
          .temperature, .line, .line1, .humidity {
            flex: .4;
            width: 300px;
            height: 252px;
            background-color: var(--global-color-white);
            color: #B5C4D1;
            div{
              margin-top: 15px;
            }
          }
          .line {
            //width: 100px;
            height: 300px;
            flex: .2;
            top: 48px;
            border-right: 3px solid #EDEEF2;
            border-left: 0;
            border-top: 0;
            margin: 0 -110px;
          }
          .line1 {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 48px;
            border-right: 0;
            border-left: 0;
            margin: 0 -5px;
          }
          .temperature {
            padding-top: 97px;
            border-radius: 70px 130px 0 0;
          }
          .humidity {
            padding-top: 97px;
            border-radius: 130px 70px 0 0;
          }
          strong {
            i {
              position: relative;
              top: -25px;
            }
            & + div {
              margin-top: 20px;
            }
          }
          .scale-wrap {
            display: inline-block;
            transform: scaleY(1.8);
            font-weight: bold;
          }
        }

        .environment-wrap1 {
          display: flex;
          margin:0 77px;
          padding: 0;
          //padding: 97px 0 67px;
          //border-radius: 70px;
          .temperature, .line, .line1, .humidity {
            flex: .4;
            width: 300px;
            height: 252px;
            background-color: var(--global-color-white);
            color: #B5C4D1;
            div{
              margin-top: 15px;
            }
          }
          .line {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 0;
            border-right: 3px solid #EDEEF2;
            border-left: 0;
            border-top: 3px solid #EDEEF2;
            margin: 0 -110px;
          }
          .line1 {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 0;
            border-right: 0;
            border-top: 3px solid #EDEEF2;
            margin: 0 -5px;
          }
          .temperature {
            padding-top: 97px;
            border-top: 3px solid #EDEEF2;
            border-radius: 0 0 0 70px;
          }
          .humidity {
            padding-top: 97px;
            border-top: 3px solid #EDEEF2;
            border-radius: 0 0 70px 0;
          }
          strong {
            i {
              position: relative;
              top: -25px;
            }
            & + div {
              margin-top: 20px;
            }
          }
          .scale-wrap {
            display: inline-block;
            transform: scaleY(1.8);
            font-weight: bold;
          }
        }
        .check{
          color: #0f0f0f !important;
        }
      }


      .position-wrap {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 1722px;

        > ul {
          margin:56px 77px;
          padding: 80px 90px;
          background-color: var(--global-color-white);
          border-radius: 70px;
          li {
            color: var(--global-color-text-primary);
            > strong {
              color: var(--global-color-text-primary);
            }
          }

          .line{
            line-height: 130px;
          }
        }
        * {
          background-color: transparent;
        }
      }
    }

  }
}
/*莫兰迪主题*/
.theme_morandi {
  position: relative;
  .home {
    padding-top: 150px;
    background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
    .border-bottom {
      border: 0;
    }

    &.power-off {
      #power {
        background: var(--global-color-text-regular) !important;
        svg {
          fill: #000000 !important;
        }
      }
      #hand, #automatic, #comfort, #sleep{
        color: #B5C4D1 !important;
      }
    }

    .dashboard{
      width: 970px;
      height: 1200px;
      margin: 0 78px;
      background: #FFFFFF;
      border-radius: 70px 70px 0 0;

      .ticker{
        width: 750px;
        height: 750px;
        margin: 0 auto;
        > section{
          color: #FFFFFF;
          .value{
            margin: 10px 0;
          }
          .text1{
            color: var(--global-color-text-regular);
          }
        }

        .bg {
          position: absolute;
          left: 50%;
          transform: translate(-50%,11%);
          width: 85%;
          height: 85%;
          border-radius: 50%;
          background-color: #333e4d;
          box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        }
      }
    }
    .detail {
      background-color: transparent;
      box-shadow: none;

      .lock-img{
        position: absolute;
        left: 50px;
        top: 50px;
        z-index: 11;
      }
      .device-state{
        position: absolute;
        top: 50px;
        right: 50px;
        color: #B5C4D1;
      }
      .power-tools-bar {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 830px;
        z-index: 10;
        #power {
          width: 260px;
          height: 260px;
          position: relative;
          top: 70px;
          z-index: 10;
          border: 30px solid var(--global-color-text-placeholder);
          box-shadow: none;
          background: var(--global-color-primary);
          svg {
            fill: var(--global-color-text-placeholder)!important;
          }
        }
      }
      .environment {
        width: 100%;
        position: absolute;
        top: 980px;
        .environment-wrap {
          display: flex;
          margin:56px 78px 0;
          padding: 0;
          //padding: 97px 0 67px;
          //border-radius: 70px;
          .temperature, .line, .line1, .humidity {
            flex: .4;
            width: 300px;
            height: 252px;
            background: #FFFFFF;
            color: #202C3A;
            div{
              margin-top: 15px;
            }
          }
          .line {
            //width: 100px;
            height: 300px;
            flex: .2;
            top: 48px;
            border-right: 3px solid #EDEEF2;
            border-left: 0;
            border-top: 0;
            margin: 0 -110px;
          }
          .line1 {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 48px;
            border-right: 0;
            border-left: 0;
            margin: 0 -5px;
          }
          .temperature {
            padding-top: 97px;
            border-radius: 70px 130px 0 0;
          }
          .humidity {
            padding-top: 97px;
            border-radius: 130px 70px 0 0;
          }
          strong {
            i {
              position: relative;
              top: -25px;
            }
            & + div {
              margin-top: 20px;
            }
          }
          .scale-wrap {
            display: inline-block;
            transform: scaleY(1.8);
            font-weight: bold;
          }
        }

        .environment-wrap1 {
          display: flex;
          margin:0 78px;
          padding: 0;
          //padding: 97px 0 67px;
          //border-radius: 70px;
          .temperature, .line, .line1, .humidity {
            flex: .4;
            width: 300px;
            height: 252px;
            background: #FFFFFF;
            color: #202C3A;
            div{
              margin-top: 15px;
            }
          }
          .line {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 0;
            border-right: 3px solid #EDEEF2;
            border-left: 0;
            border-top: 3px solid #EDEEF2;
            margin: 0 -110px;
          }
          .line1 {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 0;
            border-right: 0;
            border-top: 3px solid #EDEEF2;
            margin: 0 -5px;
          }
          .temperature {
            padding-top: 97px;
            border-top: 3px solid #EDEEF2;
            border-radius: 0 0 0 70px;
          }
          .humidity {
            padding-top: 97px;
            border-top: 3px solid #EDEEF2;
            border-radius: 0 0 70px 0;
          }
          strong {
            i {
              position: relative;
              top: -25px;
            }
            & + div {
              margin-top: 20px;
            }
          }
          .scale-wrap {
            display: inline-block;
            transform: scaleY(1.8);
            font-weight: bold;
          }
        }
        .check{
          color: #B6ACA3 !important;
        }
      }

      .position-wrap {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 1722px;

        > ul {
          margin:56px 77px;
          padding: 80px 90px;
          background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
          border-radius: 70px;
          li {
            color: var(--global-color-lighter);
            > strong {
              color: var(--global-color-white);
            }
          }

          .line{
            line-height: 130px;
          }
        }
        * {
          background-color: transparent;
        }
      }
    }
  }
}
/*正常主题*/
.theme_normal {
  height: 100%;
  position: relative;
  .home {
    background: #F4F8FB;

    &.power-off {
      #power {
        background: var(--global-color-text-regular) !important;
        svg {
          fill: #797979 !important;
        }
      }

      #ticker{
        section{
          color: #B5C4D1 !important;
        }
      }
      #position-wrap{
        ul{
          li{
            color: #B5C4D1 !important;
            strong{
              color: #B5C4D1 !important;
            }
          }
        }
      }
      #hand, #automatic, #comfort, #sleep{
        color: #B5C4D1 !important;
      }
    }
  }

  .dashboard{
    padding-top: 100px;
    .ticker{
      > section{
        color: #0f0f0f;
        .value{
          margin: 10px 0;
        }
        .text{
          color: #B5C4D1;
        }
      }

      .bg {
        position: absolute;
        left: 50%;
        transform: translate(-50%,11%);
        width: 85%;
        height: 85%;
        border-radius: 50%;
        background-color: var(--global-color-compared);
        box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      }
    }
  }

  .border-bottom {
    border-bottom: 0;
  }

  .position-wrap{
    width: 100%;
    padding: 0;
    > ul {
      margin:56px 77px;
      padding: 80px 90px;
      background-color: #FFFFFF;
      border-radius: 70px;
      box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);

      li {
        color: #000000;
        strong {
          color: #000000;
        }
      }

      .line{
        line-height: 130px;
      }
    }
  }

  /*详情*/
  .detail {
    background: 0;
    border: 0;
    box-shadow: none;

    .lock-img{
      position: absolute;
      left: 50px;
      top: 50px;
      z-index: 11;
    }
    .device-state{
      position: absolute;
      left: 45%;
      top: 50px;
      color: #B5C4D1;
    }
    .power-tools-bar {
      width: 100%;
      padding: 0;
      position: absolute;
      top: 10px;
      z-index: 10;
      #power {
        width: 160px;
        height: 160px;
        position: relative;
        top: 10px;
        left: 420px;
        z-index: 10;
        box-shadow: none;
        border: 30px solid #f4f8fb;
        //box-shadow: 0 6px 0 3px rgba(62,68,84,0.20);
        background-color: #000000;
        svg {
          width: 150px;
          height: 150px;
          fill: #FFFFFF !important;
        }
      }
    }
    .environment {
      width: 100%;
      padding-bottom: 0;

      .environment-wrap {
        display: flex;
        padding: 0;
        //padding: 97px 0 67px;
        //border-radius: 70px;
        .temperature, .line, .line1, .humidity {
          flex: .4;
          width: 300px;
          height: 252px;
          background-color: var(--global-color-white);
          color: #B5C4D1;
          div{
            margin-top: 15px;
          }
        }
        .line {
          //width: 100px;
          height: 350px;
          flex: .2;
          top: 21px;
          border-right: 3px solid #EDEEF2;
          border-left: 0;
          border-top: 0;
          margin: 0 -110px;
        }
        .line1 {
          //width: 100px;
          height: 350px;
          flex: .2;
          top: 48px;
          border-right: 0;
          border-left: 0;
          margin: 0 -5px;
        }
        .temperature {
          padding-top: 97px;
          border-radius: 70px 0 0 0;
          box-shadow: 100px 6px 100px 0 rgba(32,33,33,0.10);
        }
        .humidity {
          padding-top: 97px;
          border-radius: 0 70px 0 0;
          box-shadow: 100px 100px 0 0 rgba(32,33,33,0.10);
        }
        strong {
          i {
            position: relative;
            top: -25px;
          }
          & + div {
            margin-top: 20px;
          }
        }
        .scale-wrap {
          display: inline-block;
          transform: scaleY(1.8);
          font-weight: bold;
        }
      }

      .environment-wrap1 {
        display: flex;
        padding: 0;
        //padding: 97px 0 67px;
        //border-radius: 70px;
        .temperature, .line, .line1, .humidity {
          flex: .4;
          width: 300px;
          height: 252px;
          background-color: var(--global-color-white);
          color: #B5C4D1;
          div{
            margin-top: 15px;
          }
        }
        .line {
          //width: 100px;
          height: 348px;
          flex: .2;
          top: 0;
          border-right: 3px solid #EDEEF2;
          border-left: 0;
          border-top: 3px solid #EDEEF2;
          margin: 0 -110px;
        }
        .line1 {
          //width: 100px;
          height: 348px;
          flex: .2;
          top: 0;
          border-right: 0;
          border-top: 3px solid #EDEEF2;
          margin: 0 -5px;
        }
        .temperature {
          padding-top: 97px;
          border-top: 3px solid #EDEEF2;
        }
        .humidity {
          padding-top: 97px;
          border-top: 3px solid #EDEEF2;
        }
        strong {
          i {
            position: relative;
            top: -25px;
          }
          & + div {
            margin-top: 20px;
          }
        }
        .scale-wrap {
          display: inline-block;
          transform: scaleY(1.8);
          font-weight: bold;
        }
      }
      .check{
        color: #0f0f0f !important;
      }
    }
  }
}

