.cook-process {

    .current-status {
        height: 302px;
        background-image: none;
        opacity: 1;

        .mask {
            display: none;
        }

        .current-list {
            margin: 0 64px 0 59px;
            height: auto;
            top: 108px;

            &::after {
                display: none;
                content: ' ';
                width: 2px;
                height: 20px;
                background: #30414D;
                position: absolute;
                left: calc(50% - 2px);
            }

            .current-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #30414D;

            }
        }
    }

    .footer {
        height: calc(100vh - 367px);
        margin-top: 0;
        border-radius: 20px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);

        .cook-item {
            position: relative;
            top: -73px;
            margin: 0;
            width: 100%;
            justify-content: center;

            .cook-icon {
                display: none;
            }

            &::before {
                content: ' ';
                width: 6px;
                height: 6px;
                background: #CCC;
                border-radius: 100%;
                position: relative;
                margin-right: 4px;
            }

            &::after {
                content: '';
                color: #30414D;
                font-weight: 600;
                font-size: 12px;
                line-height: 17px;
            }
            span {
                color: #30414D;
                margin: 0;
            }
        }


        .cook-setting {
            padding: 0 13px;

            .cell {
                padding: 32px 34px;
                margin-top: 16px;
                margin-bottom: 0;
                background: #FFFFFF;
                border: 1px solid #EFF3F5;

                .cell-wrapper {
                    .cell-prefix-icon {
                        display: block;
                    }

                    .cell-title-wrapper {
                        align-items: center;

                        .cell-subtitle {
                            font-family: 'DIN Alternate';
                            font-weight: 700;
                            font-size: 38px;
                            line-height: 44px;
                            color: #30414D;

                        }
                    }

                    .icon-arrow-right {
                        display: none;
                    }
                }
            }

        }

        .cook-btns {
            padding: 0 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 126px;

            .btn {
                flex-direction: column;
                width: 120px;
                height: 92px;
                border-radius: 8px;
                border: 1px solid #EFF3F5;
                background: #fff;
                color: #30414D;
                font-weight: 600;
                .icon {
                    margin-bottom: 14px;
                }
                &:first-child {
                    width: 207px;
                    .icon {
                        display: block;
                    }
                }
                &:nth-child(2) {
                    span {
                        display: block;
                    }
                }
            }
        }

        &.doing {
            .cook-item {
                &::before {
                    background: #15C45D;
                }

                &::after {
                    content: '工作中';
                }
            }

        }

        &.not-doing {
            .cook-item {
                &::before {
                    background: #D83939;
                }

                &::after {
                    content: '暂停中';
                }
            }

        }
    }
}