.icon {
  .white {
    background-image: url('./white.svg');
  }
  .white-checked {
    background-image: url('./white-checked.svg');
  }
  .colour {
    background-image: url('./colour.svg');
  }
  .colour-checked {
    background-image: url('./colour-checked.svg');
  }
  .scene {
    background-image: url('./scene.svg');
  }
  .scene-checked {
    background-image: url('./scene-checked.svg');
  }
  .switch {
    background-image: url('./switch.svg');
  }
  .switch-checked {
    background-image: url('./switch-checked.svg');
  }
  .timing {
    background-image: url('./timing.svg');
  }
  .timing-checked {
    background-image: url('./timing-checked.svg');
  }
  .light-bg {
    width: 72px;
    height: 72px;
    background-image: url('./light.svg');
  }
  .light-bg-off {
    width: 72px;
    height: 72px;
    background-image: url('./light-off.svg');
  }
}
