.icon {
  .white {
    background-image: url('./white.svg');
  }
  .white-checked {
    background-image: url('./white-checked.svg');
  }
  .scene {
    background-image: url('./scene.svg');
  }
  .scene-checked {
    background-image: url('./scene-checked.svg');
  }
  .switch {
    background-image: url('./switch.svg');
  }
  .switch-checked {
    background-image: url('./switch-checked.svg');
  }
  .timing {
    background-image: url('./timing.svg');
    height: 21px;
  }
  .timing-checked {
    height: 21px;
    background-image: url('./timing-checked.svg');
  }
  .light-bg{
    background-image: url('./light.svg');
  }
  .light-bg-off{
    background-image: url('./light-off.svg');
  }
}
