.icon {
  .svg-icon {
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
  }

  .svg-icon-small {
    width: @s3;
    height: @s3;
  }
  .svg-icon-normal {
    width: @s9;
    height: @s9;
  }
  .svg-icon-large {
    width: 2 * @s6;
    height: 2 * @s6;
  }
}
