@import url('./icon/Icon.less');

.cus-light-bright {
  .mark {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 60px;
    margin-bottom: 30px;
    padding: 0 47px;
    .mark-op-btn {
      font-size: 96px;
      margin-bottom: -66px;
      color: #b5c4d1;
    }
  }

  .value-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .value-text {
    margin-left: 30px;
    color: #FFFFFF;
  }

  .slider {
    height: 50px;
    background: #b5c4d1;
    border-radius: 25px;
    .progress {
      min-width: 50px;
      background: #FFFFFF;
      box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      height: 50px;
      border-radius: 25px;
    }
    .progress-dot {
      margin: 5px;
      width: 40px;
      height: 40px;
      border-radius: 60px;
      background-image: linear-gradient(137deg, #C6F5B3 0%, #1E99F5 100%);
      float: right;
    }
    .border {
      margin-top: -40px;
      width: 100%;
    }
  }
}
