.setup_head{
    height: 667px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .top{
        width: 965px;
        height: 280px;
        background: #FFFFFF;
        box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);
        border-radius: 60px;
        margin-top: 57px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        
    }
    .top_num{
        // width: 231px;
        height: 54px;
        font-family: PingFangSC-Medium;
        font-weight: Medium;
        font-size: 48px;
        color: #0F0F0F;
        text-align: center;
    }

    .top_num1{
        // width: 155px;
        height: 57px;
        font-family: PingFangSC-Medium;
        font-weight: Medium;
        font-size: 45px;
        color: #0F0F0F;
    }

    .top_size{
        // width: 199px;
        height: 60px;
        font-family: PingFangSC-Medium;
        font-weight: Medium;
        font-size: 36px;
        color: #B5C4D1;
        text-align: center;
        margin-top: 23px;
    }
    .foot{
        width: 965px;
        height: 280px;
        background: #FFFFFF;
        box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);
        border-radius: 60px;
        margin-top: 50px;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}