.senseless-unlock {
  min-height: calc(~"100vh - 170px");
  padding: 85px 0;
  text-align: center;
  & > .header-block {
    position: relative;
    margin-bottom: 75px;
    padding: 211px 86px 56px 111px;
    border-radius: 20px;
    background: #2C2C2C;
    box-shadow: 0 6px 15px 0 rgba(32,33,33,0.05);

    .car-unlock-image {
      margin: 0 auto 159px;
      width: 770px;
      height: 390px;
      background-image: url('https://tencent-1305105198.cos.ap-guangzhou.myqcloud.com/electric-car/19321640748320_.pic_hd.jpg');
    }

    .tips {
      display: flex;
      align-items: center;
      justify-content: center;
      .tips-name {
        margin-left: 24px;
        line-height: 67px;
        font-size: 48px;
        color: #FFFFFF;
      }
    }
  }

  & > .unlock-setting {
    position: relative;
    margin: 0 80px;
    padding: 0 74px 73px 80px;
    border-radius: 20px;
    background: #2C2C2C;
    box-shadow: 0 6px 15px 0 rgba(32,33,33,0.05);
    .cell {
      color: #FFFFFF;
      &:first-child {
        border-bottom: 3px solid #EDEEF2;
      }
      .adm-switch.adm-switch-checked .adm-switch-checkbox {
        background-image: linear-gradient(137deg, #C8F664 0%, #79FD8D 100%) !important;
      }
      .cell-content-style-normal {
        color: #BBF76B;
      }
    }
    .tips {
      position: absolute;
      bottom: 46px;
      margin-top: 42px;
      font-weight: 500;
      font-size: 32px;
      color: #FFFFFF;
      text-align: left;
    }
  }
}