.icon {
  .editor-other {
    width: 18px;
    height: 18px;
    background-image: url('./editor-other.svg');
  }

  .error {
    width: 24px;
    height: 24px;
    background-image: url('./error.svg');
  }

  .add {
    width: 28px;
    height: 28px;
    background-image: url('./add.svg');
  }

  .bg {
    background-image: url('./bg.svg');
  }

  .layout-add-0 {
    width: 28px;
    height: 28px;
    background-image: url('./layout-add-0.svg');
  }

  .layout-add-1 {
    width: 28px;
    height: 28px;
    background-image: url('./layout-add-1.svg');
  }

  .info {
    width: 13px;
    height: 13px;
    background-image: url('./info.svg');
  }

  .info-layout {
    width: 206px;
    height: 206px;
    background-image: url('./info-layout.svg');
  }

  .arrow-left {
    width: 43px;
    height: 86px;
    background-image: url('./arrow-left.svg');
  }

  .arrow-right {
    width: 43px;
    height: 73px;
    background-image: url('./arrow-right.svg');
  }

  .theme1 {
    width: 32px;
    height: 32px;
    background-image: url('./theme1.svg');
  }

  .theme2 {
    width: 32px;
    height: 32px;
    background-image: url('./theme1.svg');
  }

  .theme3 {
    width: 32px;
    height: 32px;
    background-image: url('./theme1.svg');
  }

  .theme4 {
    width: 32px;
    height: 32px;
    background-image: url('./theme1.svg');
  }

  .theme5 {
    width: 32px;
    height: 32px;
    background-image: url('./theme1.svg');
  }

  .theme6 {
    width: 32px;
    height: 32px;
    background-image: url('./theme1.svg');
  }

  .theme7 {
    width: 32px;
    height: 32px;
    background-image: url('./theme1.svg');
  }

  .theme8 {
    width: 32px;
    height: 32px;
    background-image: url('./theme1.svg');
  }

  .theme9 {
    width: 32px;
    height: 32px;
    background-image: url('./theme1.svg');
  }

  .theme10 {
    width: 32px;
    height: 32px;
    background-image: url('./theme1.svg');
  }

  .download {
    width: 14px;
    height: 13px;
    background-image: url('./download.svg');
  }

  .light1 {
    width: 46px;
    height: 48px;
    background-image: url('./light.svg');
  }
}