.biz-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255,255,255,0.40);
  .switch-name {
    font-size: 48px;
    padding: 5px;
    margin: 0;
  }
  .switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 228.07px;
    height: 535px;
    background: #2c2c2c;
    border-radius: 200px;

    .switch-panel {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 202.32px;
      height: 505.58px;
      background: #1e1e1e;
      border-radius: 200px;
    }

    .switch-bar {
      position: absolute;
      left: 50%;
      bottom: 32px;
      transform: translateX(-50%);
      width: 163.47px;
      height: 163.4px;
      border-radius: 100%;
      transition: 0.3s top ease-out;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: 100%;
      background: #ecedef;
      border: 2px solid #dedede;
      &::before {
        display: block;
        content: '';
        border-radius: 100%;
        width: 36.79px;
        height: 36.77px;
        background: #2D2D2D;
        border: 5px solid #ebebf3;
      }
    }

    .switch-status-desc {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-family: PingFangSC-Medium;
      text-align: center;
      transition: 0.3s top ease-out;
      z-index: 1;
      top: 66.58px;
      color: rgba(255, 255, 255, 0.4);
    }
  }

  &.is-checked {
    .switch-name {
      color: #FFFFFF;
    }
    .switch-wrapper {
      .switch-bar {
        top: 32px;
        background: #ecedef;
        border: 2px solid #dedede;
      }
      .switch-panel {
        background-image: linear-gradient(137deg, #c8f664 0%, #79fd8d 100%);
        box-shadow: 0 6px 100px 0 rgba(32, 33, 33, 0.1);
        .switch-bar::before {
          background: #2d2d2d;
        }
        .switch-status-desc {
          bottom: 66.58px;
          top: auto;
          color: #2d2d2d;
        }
      }
    }
  }
}
