.progress_bar{
    // width: 831px;
    height: 175px;
    // border: solid;
    margin-top: 106px;
}
.lightbright {
    // margin: 80px 60px;
    // margin-left: 160px;
    width: 805px;
    height: 200px;
    border-radius: 60px;
    font-size: 36px;
  }