.icon {
  font-size: 0;

  .switch {
    width: 24px;
    height: 24px;
    background-image: url('./switch.svg');
  }

  .mode {
    width: 24px;
    height: 24px;
    background-image: url('./mode.svg');
  }

  .time {
    width: 24px;
    height: 24px;
    background-image: url('./time.svg');
  }

  .count {
    width: 24px;
    height: 24px;
    background-image: url('./count.svg');
  }


  .minus {
    width: 24px;
    height: 24px;
    background-image: url('./minus.svg');
  }

  .plus {
    width: 24px;
    height: 24px;
    background-image: url('./plus.svg');
  }

  .mode {
    width: 24px;
    height: 24px;
    background-image: url('./mode1.svg');
  }

  .mode1 {
    width: 26px;
    height: 26px;
    background-image: url('./mode1.svg');
  }

  .mode2 {
    width: 24px;
    height: 24px;
    background-image: url('./mode2.svg');
  }

  .mode3 {
    width: 24px;
    height: 24px;
    background-image: url('./mode3.svg');
  }

  .mode4 {
    width: 24px;
    height: 24px;
    background-image: url('./mode4.svg');
  }


}