.wrapper {
    display: grid;
    grid-auto-flow: row dense;
    grid-gap: 4px;
    .item {
        background: #ccc;
        div:first-child {
            width: 100%;
            height: 100%;
        }
    }
}