.cus-time-picker-list {
  .fix-bottom-btn {
    margin-bottom: 53px;

    .btn {
      background: #FFFFFF !important;
      border: 1px solid #EFF3F5;
      border-radius: 16px;

      .btn-text {
        color: rgba(216, 57, 57, 1)
      }
    }
  }
}
