@import url('./Icon/style.less');

.scene-setting {
    .sence-group {
        display: flex;
        flex-direction: column;
        margin: 16px 16px 0 16px;
        padding: 16px;
        background: #FFFFFF;
        border: 1px solid #EFF3F5;
        border-radius: 8px;

        .scene-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            >span {

                color: #30414D;
                font-weight: 600;
                font-size: 16px;
                display: flex;

                >span {
                    margin-right: 4px;
                }
            }

            .add-icon {
                font-size: 32px;
                line-height: 32px;
            }

            .editor-dialog {

                .edit-name-modal-input {
                    background: transparent;
                    border: 0;
                    border-bottom: 1px solid #EFF3F5;
                    border-radius: 0;
                    width: calc(100% - 52px);
                    margin: 50px 24px 42px 24px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 22px;
                    color: #30414D;
                    padding-bottom: 12px;

                    ::placeholder {

                        color: rgba(48, 65, 77, 0.5);
                    }

                    &:focus {
                        outline: 0;
                    }

                    &:focus-visible {
                        outline: 0;
                    }
                }
            }
        }

        .scene-list {
            .sence-item {
                .item {
                    background: forestgreen;
                    border-radius: 8px;
                    display: flex;
                    margin-top: 16px;
                    padding: 0 16px;
                    align-items: center;
                    justify-content: space-between;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    color: white;

                    >span {
                        display: flex;
                        flex-direction: column;
                        height: 60px;
                        justify-content: space-around;
                    }

                    .execute-btn {
                        width: 44px;
                        height: 22px;
                        background: blue;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                    }

                    .action-span {
                        height: 100%;
                        min-height: 59px;
                        width: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        margin-right: -16px;
                        padding-right: 16px;
                    }
                }



            }
        }

        .bind-scene {
            display: flex;
            justify-content: center;
            animation: center;
            color: #000000;
            font-weight: 500;
            font-size: 16px;
            background: #F6F8FB;
            border: 1px dashed #EFF3F5;
            border-radius: 8px;
            padding: 16px;
            cursor: pointer;
            margin-top: 16px;
        }
    }
}


.scene-bind {
    .cell {
        background: #FFFFFF;
        border: 1px solid #EFF3F5;
        border-radius: 8px;
        margin: 16px 16px 0 16px;
        padding: 16px;
    }
}

.bind-scene-list {
    .sence-bind-group {
        display: flex;
        flex-direction: column;
        margin: 16px 16px 0 16px;

        .scene-bind-list {
            background: #D9D9D9;
            border-radius: 16px;
            margin-top: 16px;

            .sence-bind-item {
                .item {
                    border-radius: 8px;
                    display: flex;
                    padding: 0 16px;
                    align-items: center;
                    justify-content: space-between;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    color: white;

                    >span {
                        display: flex;
                        flex-direction: column;
                        height: 99px;
                        justify-content: space-around;
                    }
                }



            }
        }

    }
}
