.disk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  background: radial-gradient(53.3% 53.3% at 50% 50%, rgba(102, 85, 248, 0.253906) 0%, rgba(247, 244, 253, 0.148465) 100%);
  .content-wrap {
    height: 212px;
    width: 212px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px 2px #DEDAFF;
    .content {
      display: flex;
      margin-top: 48px;
      margin-left: 80px;
      margin-bottom: 16px;
    }

    .status-desc {
      position: relative;
      margin: 0 auto;
      padding-left: 12px;
      width: 112px;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 600;
      color: #6655F8;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -4px;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #A29DDF;
      }
    }
    .status-active {
      width: 84px;
      &::before {
        background: #FF5057;
      }
    }
  }
}
