.setting-view {
  min-height: calc(~"100vh - 114px");
  padding: 57px 80px;
  .list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    border-radius: 60px;
    background-color: #FFFFFF;
    margin-bottom: 25px;
    ._cell_size_medium_ {
      padding: 49px 0 53px 0px;
    }
    .cell_content_style_gray {
      font-family: PingFangSC-Regular;
    }
  }
}

body.theme_blue_white {
  background-color: #F4F8FB;
}

body.theme_dark {
  .cell-title {
    color: #FFFFFF;
  }
}