.settings {
  padding: 0 16px;
  .cell-settings {
    position: relative;
    .unit-convert {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -12px;
      display: flex;
      justify-content: center;
      text-align: center;
      .unit-btn {
        width: 80px;
        height: 24px;
        line-height: 24px;
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        border-radius: 8px;
        background: #26313D;
        opacity: 0.5;
        &:last-child {
          margin-left: 12px;
        }
      }
      .active {
        opacity: 1;
      }
    }
  }
  .gear-slider {
    padding: 0 16px;
  }
}