/*蓝白主题*/
.color_primary() {
  color: var(--global-color-white);
}
.theme_blue_white {
  overflow: hidden;
  .scenario-progress-bar-dot{
    .dot_select{
      background-color: #fff;
    }
  }

  .botton_card{
    width: 1125px;
    height: 786px;
    background: #FFFFFF;
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
    border-radius: 120px;
  }
  .body{
    background-color: rgba(254, 254, 254, 0.2);
  }
  .lightbright-slider{
    background: #58A3FF;
    .lightbright-progress{
      background: #FFFFFF;
      .lightbright-progress-dot{
        background: #006FFF;
      }
    }
  }
  height: 100%;
  position: relative;
  .home {
    min-height: 100vh;
    &.power-off {
      #white-light-body {
        .value-text, .desc{
          color: #B5C4D1 !important;
        }
      }
      #buttom_card{
        .switch_font{
          color: #B5C4D1 !important;
        }
      }
    }
    #white-light-body{
      margin: 250px auto 0;
      height: 950px;
      ._component_business_light-switch_{
        height: 920px;
        background: rgba(254, 254, 254, 0.2);
        .light-switch-wrapper{
          .wrap-text{
            svg{
              fill: #FFFFFF !important;
            }
            .value-text{
              color: #006FFF;
            }
            .desc{
              color: #0f0f0f;
            }
          }
          .current-wrap{
            background: #FFFFFF;
          }
        }
      }
    }
    .buttom_card{
      .switch_font{
        color: #000000;
      }
    }
    .scenario-progress-bar-font1{
      color: #4e98ff;
      &.font_select{
        color: #FFFFFF;
      }
    }
    .scenario-progress-bar-font2{
      color: #4e98ff;
      &.font_select{
        color: #FFFFFF;
      }
    }
    .scenario-progress-bar-font3{
      color: #4e98ff;
      &.font_select{
        color: #FFFFFF;
      }
    }

    .menu_font{
      color: #B5C4D1;
      &.select_font_color{
        color: #006CFF;
      }
    }
    .border-bottom {
      border: 0;
    }
    .color_primary;
    background-image: var(--global-background-color-gradient);


  }
}
/*暗色主题*/
.theme_dark {
  overflow: hidden;
  position: relative;

  .scenario-progress-bar-dot{
    .dot_select{
      background-color: #fff;
    }
  }
  .menu_font{
    color: #FFFFFF;
    &.select_font_color{
      color: #FFFFFF;
    }
  }
  .buttom_switch{
    background: none;
    background-image: linear-gradient(139deg, #333E4D 0%, #202C3A 100%);
  }
  .buttom_timing{
    background: none;
    background-image: linear-gradient(139deg, #333E4D 0%, #202C3A 100%);
  }
  .menu{
    background: none;
    background-image: linear-gradient(139deg, #333E4D 0%, #202C3A 100%);
  }
  .lightbright-mark{
    .lightbright-value-text{
      color: #FFFFFF !important;
    }
  }
  .lightbright-slider{
    background: #2A3644;
    .lightbright-progress{
      background-image: linear-gradient(137deg, #00F0FF 0%, #704DF0 100%);
      box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      .lightbright-progress-dot{
        background: #FDFDFD;
      }
    }
  }

  .body{
    background-image: linear-gradient(139deg, #333E4D 0%, #202C3A 100%);
    border: 3px solid rgba(62,68,84,0.20);
  }
  .home {
    min-height: 100vh;
    &.power-off {
      #white-light-body {
        .current-wrap{
          background: #B5C4D1 !important;
        }
      }
    }
    #white-light-body{
      margin: 250px auto 0;
      height: 950px;
      ._component_business_light-switch_{
        height: 920px;
        background-image: var(--global-background-color-gradient);
        .light-switch-wrapper{
          .wrap-text{
            svg{
              fill: #FFFFFF;
            }
            .value-text{
              color: #FFFFFF !important;
            }
            .desc{
              color: #FFFFFF;
            }
          }
          .current-wrap{
            background-image: var(--global-color-gradient);
          }
        }
      }
    }
    .scenario_content{
      .rotundity{
        background-image: linear-gradient(139deg, #333E4D 0%, #202C3A 100%);
        border: 3px solid rgba(62,68,84,0.20);
      }
    }
    .scenario-progress-bar-font1{
      color: #B5C4D1;
      &.font_select{
        color: #FFFFFF;
      }
    }
    .scenario-progress-bar-font2{
      color: #B5C4D1;
      &.font_select{
        color: #FFFFFF;
      }
    }
    .scenario-progress-bar-font3{
      color: #B5C4D1;
      &.font_select{
        color: #FFFFFF;
      }
    }
    .scenario-progress-bar-dot{
      color: #FFFFFF;
    }

    .border-bottom {
      border: 0;
    }

    .dashboard{
      .ticker{
        > section{
          .value{
            margin: 10px 0;
          }
          .text1{
            color: #DEE4EA;
          }
        }

        .bg {
          position: absolute;
          left: 50%;
          transform: translate(-50%,11%);
          width: 85%;
          height: 85%;
          border-radius: 50%;
          background-color: #333e4d;
          box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        }
        .bg-img{
          position: absolute;
          left: 50%;
          transform: translate(-50%,10%);
          width: 87%;
          height: 87%;
          z-index: 1;
        }
      }
    }
    .detail {
      background-color: transparent;

      .lock-img{
        position: absolute;
        left: 50px;
        top: 50px;
      }
      .device-state{
        position: absolute;
        top: 50px;
        right: 50px;
        color: #B5C4D1;
      }
      .power-tools-bar {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 780px;
        z-index: 10;
        #power {
          // width: 260px;
          // height: 260px;
          // position: relative;
          // top: 70px;
          // z-index: 10;
          // border: 30px solid var(--global-background-color);
          // //box-shadow: 0 6px 0 3px rgba(62,68,84,0.20);
          // background-image: linear-gradient(137deg, #FF3A5F 0%, #EA0D40 100%);
          // svg {
          //   width: 300px;
          //   height: 300px;
          // }
        }
      }
      .environment {
        width: 100%;
        position: absolute;
        top: 930px;
        .environment-wrap {
          display: flex;
          margin:56px 77px 0;
          padding: 0;
          //padding: 97px 0 67px;
          //border-radius: 70px;
          .temperature, .line, .line1, .humidity {
            flex: .4;
            width: 300px;
            height: 252px;
            background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
            border: 3px solid rgba(62,68,84,0.20);
            color: var(--global-color-lighter);
          }
          .line {
            //width: 100px;
            height: 300px;
            flex: .2;
            top: 48px;
            border-right: 3px solid #8d8d8d;
            border-left: 0;
            border-top: 0;
            margin: 0 -110px;
          }
          .line1 {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 48px;
            border-right: 0;
            border-left: 0;
            margin: 0 -5px;
          }
          .temperature {
            padding-top: 97px;
            border-radius: 70px 130px 0 0;
          }
          .humidity {
            padding-top: 97px;
            border-radius: 130px 70px 0 0;
          }
          strong {
            i {
              position: relative;
              top: -25px;
            }
            & + div {
              margin-top: 20px;
            }
          }
          .scale-wrap {
            display: inline-block;
            transform: scaleY(1.8);
            font-weight: bold;
          }
        }

        .environment-wrap1 {
          display: flex;
          margin:0 77px;
          padding: 0;
          //padding: 97px 0 67px;
          //border-radius: 70px;
          .temperature, .line, .line1, .humidity {
            flex: .4;
            width: 300px;
            height: 252px;
            background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
            border: 3px solid rgba(62,68,84,0.20);
            color: var(--global-color-lighter);
          }
          .line {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 0;
            border-right: 3px solid #8d8d8d;
            border-left: 0;
            border-top: 3px solid #8d8d8d;
            margin: 0 -110px;
          }
          .line1 {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 0;
            border-right: 0;
            border-top: 3px solid #8d8d8d;
            margin: 0 -5px;
          }
          .temperature {
            padding-top: 97px;
            border-top: 3px solid #8d8d8d;
            border-radius: 0 0 0 70px;
          }
          .humidity {
            padding-top: 97px;
            border-top: 3px solid #8d8d8d;
            border-radius: 0 0 70px 0;
          }
          strong {
            i {
              position: relative;
              top: -25px;
            }
            & + div {
              margin-top: 20px;
            }
          }
          .scale-wrap {
            display: inline-block;
            transform: scaleY(1.8);
            font-weight: bold;
          }
        }
      }

      .position-wrap {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 1722px;

        > ul {
          margin:56px 77px;
          padding: 80px 90px;
          background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
          border-radius: 70px;
          li {
            color: var(--global-color-lighter);
            > strong {
              color: var(--global-color-white);
            }
          }

          .line{
            line-height: 130px;
          }
        }
        * {
          background-color: transparent;
        }
      }
    }
  }
}
/*多彩主题*/
.theme_colorful {
  overflow: hidden;
  // padding-top: 93px;
  position: relative;

  //进度条加减
    .lightbright-mark{
      margin-bottom: 30px;
    }
    .lightbright-mark-op-btn{
      width: 78px;
      height: 78px;
      border-radius: 100%;
      background-color: #ffffff;
      // padding: 0;
      padding:0px 5px 10px 5px !important;
      text-align: center;
      line-height: 78px;

    }



  .menu_font{
    color: #B5C4D1;
    &.select_font_color{
      color: #1A5BFB ;
    }
  }

  .lightbright-slider{
    background: #B5C4D1;
    .lightbright-progress{
      background-image: linear-gradient(138deg, #527DF4 0%, #044DFF 100%);
      .lightbright-progress-dot{
        background: #FBFBFF;
      }
    }
  }

  .scenario-progress-bar-font1{
    .dot_select{
      background: #FFD102;
    }
  }
  .scenario-progress-bar-font2{
    .dot_select{
      background: #FFD102;
    }
  }
  .scenario-progress-bar-font3{
    .dot_select{
      background: #FFD102;
    }
  }
  .home {
    min-height: 100vh;
    &.power-off {
      #white-light-body {
        .wrap-text{
          svg{
            fill: #B5C4D1 !important;
          }
        }
        .current-wrap{
          background: #B5C4D1 !important;
        }
      }
      #position-wrap{
        ul{
          li{
            color: #B5C4D1 !important;
            strong{
              color: #B5C4D1 !important;
            }
          }
        }
      }
      #hand{
        color: #B5C4D1 !important;
      }
      #automatic{
        color: #B5C4D1 !important;
      }
      #comfort{
        color: #B5C4D1 !important;
      }
      #sleep{
        color: #B5C4D1 !important;
      }
    }
    #white-light-body{
      margin: 50px auto;
      height: 950px;
      ._component_business_light-switch_{
        height: 920px;
        .light-switch-wrapper{
          .wrap-text{
            svg{
              fill: #FFD102 !important;
            }
            .value-text{
              color: #ffffff;
            }
            .desc{
              color: #ffffff;
            }
          }
          .current-wrap{
            background-image: linear-gradient(180deg, #527DF4 6%, #044DFF 100%);
          }
        }
      }
    }
    .scenario-progress-bar-font1{
      color: #B5C4D1;
      &.font_select{
        color: #0F0F0F;
      }
    }
    .scenario-progress-bar-font2{
      color: #B5C4D1;
      &.font_select{
        color: #0F0F0F;
      }
    }
    .scenario-progress-bar-font3{
      color: #B5C4D1;
      &.font_select{
        color: #0F0F0F;
      }
    }
    .border-bottom {
      border: 0;
    }

    .dashboard{
      .ticker{
        > section{
          color: #FFFFFF;
          .value{
            margin: 10px 0;
          }
          .text1{
            color: #DEE4EA;
          }
        }

        .bg {
          position: absolute;
          left: 50%;
          transform: translate(-50%,11%);
          width: 85%;
          height: 85%;
          border-radius: 50%;
          background-image: linear-gradient(137deg, #559DFC 0%, #4178c1 100%);
          box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        }
        .bg-img{
          position: absolute;
          left: 50%;
          transform: translate(-50%,10%);
          width: 87%;
          height: 87%;
          z-index: 1;
        }
      }
    }
    .detail {
      background-color: transparent;
      box-shadow: none;

      .lock-img{
        position: absolute;
        left: 50px;
        top: 50px;
      }
      .device-state{
        position: absolute;
        top: 50px;
        right: 50px;
        color: #B5C4D1;
      }
      .power-tools-bar {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 780px;
        z-index: 10;
        #power {
          // width: 260px;
          // height: 260px;
          // position: relative;
          // top: 70px;
          // z-index: 10;
          // box-shadow: none;
          // border: 30px solid var(--global-background-color);
          // //box-shadow: 0 6px 0 3px rgba(62,68,84,0.20);
          // background-image: linear-gradient(137deg, #FF3A5F 0%, #EA0D40 100%);
          // svg {
          //   width: 300px;
          //   height: 300px;
          //   fill: #FFFFFF !important;
          // }
        }
      }
      .environment {
        width: 100%;
        position: absolute;
        top: 930px;
        .environment-wrap {
          display: flex;
          margin:56px 77px 0;
          padding: 0;
          //padding: 97px 0 67px;
          //border-radius: 70px;
          .temperature, .line, .line1, .humidity {
            flex: .4;
            width: 300px;
            height: 252px;
            background-color: var(--global-color-white);
            color: var(--global-color-black);
          }
          .line {
            //width: 100px;
            height: 300px;
            flex: .2;
            top: 48px;
            border-right: 3px solid #EDEEF2;
            border-left: 0;
            border-top: 0;
            margin: 0 -110px;
          }
          .line1 {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 48px;
            border-right: 0;
            border-left: 0;
            margin: 0 -5px;
          }
          .temperature {
            padding-top: 97px;
            border-radius: 70px 130px 0 0;
          }
          .humidity {
            padding-top: 97px;
            border-radius: 130px 70px 0 0;
          }
          strong {
            i {
              position: relative;
              top: -25px;
            }
            & + div {
              margin-top: 20px;
            }
          }
          .scale-wrap {
            display: inline-block;
            transform: scaleY(1.8);
            font-weight: bold;
          }
        }

        .environment-wrap1 {
          display: flex;
          margin:0 77px;
          padding: 0;
          //padding: 97px 0 67px;
          //border-radius: 70px;
          .temperature, .line, .line1, .humidity {
            flex: .4;
            width: 300px;
            height: 252px;
            background-color: var(--global-color-white);
            color: var(--global-color-black);
          }
          .line {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 0;
            border-right: 3px solid #EDEEF2;
            border-left: 0;
            border-top: 3px solid #EDEEF2;
            margin: 0 -110px;
          }
          .line1 {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 0;
            border-right: 0;
            border-top: 3px solid #EDEEF2;
            margin: 0 -5px;
          }
          .temperature {
            padding-top: 97px;
            border-top: 3px solid #EDEEF2;
            border-radius: 0 0 0 70px;
          }
          .humidity {
            padding-top: 97px;
            border-top: 3px solid #EDEEF2;
            border-radius: 0 0 70px 0;
          }
          strong {
            i {
              position: relative;
              top: -25px;
            }
            & + div {
              margin-top: 20px;
            }
          }
          .scale-wrap {
            display: inline-block;
            transform: scaleY(1.8);
            font-weight: bold;
          }
        }
      }


      .position-wrap {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 1722px;

        > ul {
          margin:56px 77px;
          padding: 80px 90px;
          background-color: var(--global-color-white);
          border-radius: 70px;
          li {
            color: var(--global-color-text-primary);
            > strong {
              color: var(--global-color-text-primary);
            }
          }

          .line{
            line-height: 130px;
          }
        }
        * {
          background-color: transparent;
        }
      }
    }

  }
}
/*莫兰迪主题*/
.theme_morandi {
  overflow: hidden;
  position: relative;

  .scenario-progress-bar-dot{
    .dot_select{
      background-color: #fff;
    }
  }
  .lightbright-value-text{
    color: #FFFFFF;
  }
  .menu_font{
    color: #B5ABA1;
    &.select_font_color{
      color: #485262 ;
    }
  }
  .lightbright-slider{
    background: #B5C4D1;
    .lightbright-progress{
      background: #B5ABA1;
      .lightbright-progress-dot{
        background: #FEFEFE;
      }
    }
  }
  .home {
    min-height: 100vh;
    &.power-off {
      #white-light-body {
        .wrap-text{
          svg{
            fill: #B5C4D1 !important;
          }
        }
        .current-wrap{
          background: #B5C4D1 !important;
        }
      }
      /*#menu{
        .menu_font{
          color: #B5C4D1 !important;
        }
      }*/
      #hand{
        color: #B5C4D1 !important;
      }
      #automatic{
        color: #B5C4D1 !important;
      }
      #comfort{
        color: #B5C4D1 !important;
      }
      #sleep{
        color: #B5C4D1 !important;
      }
    }
    #white-light-body{
      margin: 150px auto 0;
      height: 950px;
      ._component_business_light-switch_{
        height: 920px;
        .light-switch-wrapper{
          .wrap-text{
            svg{
              fill: #B5ABA1;
            }
            .value-text{
              color: #ffffff;
            }
            .desc{
              color: #ffffff;
            }
          }
          .current-wrap{
            background-image: linear-gradient(180deg, #B5ABA1 6%, #8E755C 100%);
          }
        }
      }
    }
    .scenario-progress-bar-font1{
      color: #B5C4D1;
      &.font_select{
        color: #FFFFFF;
      }
    }
    .scenario-progress-bar-font2{
      color: #B5C4D1;
      &.font_select{
        color: #FFFFFF;
      }
    }
    .scenario-progress-bar-font3{
      color: #B5C4D1;
      &.font_select{
        color: #FFFFFF;
      }
    }

    background-color: #F4F8FB;
    .body_card{
      width: 1250px;
      height: 1150px;
      // border: 1px solid;
      background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .buttom_card{
      margin-top: 50px !important;
    }
    .border-bottom {
      border: 0;
    }

    .dashboard{
      width: 970px;
      height: 1200px;
      margin: 0 78px;
      background: #FFFFFF;
      border-radius: 70px 70px 0 0;

      .ticker{
        width: 750px;
        height: 750px;
        margin: 0 auto;
        > section{
          color: #FFFFFF;
          .value{
            margin: 10px 0;
          }
          .text1{
            color: var(--global-color-text-regular);
          }
        }

        .bg {
          position: absolute;
          left: 50%;
          transform: translate(-50%,11%);
          width: 85%;
          height: 85%;
          border-radius: 50%;
          background-color: #333e4d;
          box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        }
        .bg-img{
          position: absolute;
          left: 50%;
          transform: translate(-50%,10%);
          width: 87%;
          height: 87%;
          z-index: 1;
        }
      }
    }
    .detail {
      background-color: transparent;
      box-shadow: none;

      .lock-img{
        position: absolute;
        left: 50px;
        top: 50px;
      }
      .device-state{
        position: absolute;
        top: 50px;
        right: 50px;
        color: #B5C4D1;
      }
      .power-tools-bar {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 830px;
        z-index: 10;
        #power {
          // width: 260px;
          // height: 260px;
          // position: relative;
          // top: 70px;
          // z-index: 10;
          // border: 30px solid var(--global-color-text-placeholder);
          // box-shadow: none;
          // background: var(--global-color-primary);
          // svg {
          //   fill: var(--global-color-text-placeholder)!important;
          // }
        }
      }
      .environment {
        width: 100%;
        position: absolute;
        top: 980px;
        .environment-wrap {
          display: flex;
          margin:56px 78px 0;
          padding: 0;
          //padding: 97px 0 67px;
          //border-radius: 70px;
          .temperature, .line, .line1, .humidity {
            flex: .4;
            width: 300px;
            height: 252px;
            background: #FFFFFF;
            color: var(--global-color-lighter);
          }
          .line {
            //width: 100px;
            height: 300px;
            flex: .2;
            top: 48px;
            border-right: 3px solid #EDEEF2;
            border-left: 0;
            border-top: 0;
            margin: 0 -110px;
          }
          .line1 {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 48px;
            border-right: 0;
            border-left: 0;
            margin: 0 -5px;
          }
          .temperature {
            padding-top: 97px;
            border-radius: 70px 130px 0 0;
            color: #B6ACA3;
          }
          .humidity {
            padding-top: 97px;
            border-radius: 130px 70px 0 0;
            color: #202C3A;
          }
          strong {
            i {
              position: relative;
              top: -25px;
            }
            & + div {
              margin-top: 20px;
            }
          }
          .scale-wrap {
            display: inline-block;
            transform: scaleY(1.8);
            font-weight: bold;
          }
        }

        .environment-wrap1 {
          display: flex;
          margin:0 78px;
          padding: 0;
          //padding: 97px 0 67px;
          //border-radius: 70px;
          .temperature, .line, .line1, .humidity {
            flex: .4;
            width: 300px;
            height: 252px;
            background: #FFFFFF;
            color: var(--global-color-lighter);
          }
          .line {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 0;
            border-right: 3px solid #EDEEF2;
            border-left: 0;
            border-top: 3px solid #EDEEF2;
            margin: 0 -110px;
          }
          .line1 {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 0;
            border-right: 0;
            border-top: 3px solid #EDEEF2;
            margin: 0 -5px;
          }
          .temperature {
            padding-top: 97px;
            border-top: 3px solid #EDEEF2;
            border-radius: 0 0 0 70px;
            color: #B6ACA3;
          }
          .humidity {
            padding-top: 97px;
            border-top: 3px solid #EDEEF2;
            border-radius: 0 0 70px 0;
            color: #202C3A;
          }
          strong {
            i {
              position: relative;
              top: -25px;
            }
            & + div {
              margin-top: 20px;
            }
          }
          .scale-wrap {
            display: inline-block;
            transform: scaleY(1.8);
            font-weight: bold;
          }
        }
      }

      .position-wrap {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 1722px;

        > ul {
          margin:56px 77px;
          padding: 80px 90px;
          background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
          border-radius: 70px;
          li {
            color: var(--global-color-lighter);
            > strong {
              color: var(--global-color-white);
            }
          }

          .line{
            line-height: 130px;
          }
        }
        * {
          background-color: transparent;
        }
      }
    }
  }
}
/*正常主题*/
.theme_normal {
  overflow: hidden;
  height: 100%;
  position: relative;

  .lightbright-slider{
    background: #B5C4D1;
    .lightbright-progress{
      background: #0F0F0F;
      .lightbright-progress-dot{
        background: #FBFBFF;
      }
    }
  }
  .menu_font{
    color: #B5C4D1;
    &.select_font_color{
      color: #000000 ;
    }
  }

  .home {
    min-height: 100vh;
    background: #F4F8FB;

    &.power-off {
      #white-light-body {
        .wrap-text{
          svg{
            fill: #B5C4D1 !important;
          }
        }
        .current-wrap{
          background: #B5C4D1 !important;
        }
      }
      #ticker{
        section{
          color: #B5C4D1 !important;
        }
      }
      #hand{
        color: #B5C4D1 !important;
      }
      #automatic{
        color: #B5C4D1 !important;
      }
      #comfort{
        color: #B5C4D1 !important;
      }
      #sleep{
        color: #B5C4D1 !important;
      }
    }
  }

  #white-light-body{
    margin: 50px auto;
    height: 950px;
    ._component_business_light-switch_{
      height: 920px;
      .light-switch-wrapper{
        .wrap-text{
          svg{
            fill: #000000;
          }
          .value-text{
            color: #C5C5C5;
          }
          .desc{
            color: #C5C5C5;
          }
        }
        .current-wrap{
          background: #000000;
        }
      }
    }
  }

  .active {
    .color_primary;
  }

  .dashboard{
    padding-top: 100px;
    .ticker{
      > section{
        color: #0f0f0f;
        z-index: 2;
        .value{
          margin: 10px 0;
        }
        .text{
          color: #B5C4D1;
        }
      }

      .bg {
        position: absolute;
        left: 50%;
        transform: translate(-50%,11%);
        width: 85%;
        height: 85%;
        border-radius: 50%;
        background-color: var(--global-color-compared);
        box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      }
      .bg-img{
        position: absolute;
        left: 50%;
        transform: translate(-50%,10%);
        width: 87%;
        height: 87%;
        z-index: 1;
      }
    }
  }

  /*详情*/
  .detail {
    border: 0;
    box-shadow: none;

    .lock-img{
      position: absolute;
      left: 50px;
      top: 50px;
    }
    .device-state{
      position: absolute;
      left: 45%;
      top: 50px;
      color: #B5C4D1;
    }
    .power-tools-bar {
      width: 100%;
      padding: 0;
      position: absolute;
      top: 10px;
      z-index: 10;
      #power {
        // width: 160px;
        // height: 160px;
        // position: relative;
        // top: 10px;
        // left: 420px;
        // z-index: 10;
        // box-shadow: none;
        // border: 30px solid #f4f8fb;
        // //box-shadow: 0 6px 0 3px rgba(62,68,84,0.20);
        // background-color: #000000;
        // svg {
        //   width: 150px;
        //   height: 150px;
        //   fill: #FFFFFF !important;
        // }
      }
    }
    .environment {
      width: 100%;
      padding-bottom: 0;
      .environment-wrap {
        display: flex;
        padding: 0;
        //padding: 97px 0 67px;
        //border-radius: 70px;
        .clock, .work, .power {
          background: #FFFFFF;
          box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);

          div{
            color: #B5C4D1;
          }
        }
        strong {
          i {
            position: relative;
            top: -25px;
          }
          & + div {
            margin-top: 20px;
          }
        }
        .scale-wrap {
          display: inline-block;
          transform: scaleY(1.8);
          font-weight: bold;
        }
      }
    }
  }

  .modal-body .adm-list-item-content-prefix {
    color: #0F0F0F !important;
  }
}

