.icon {
    .light1 {
        width: 46px;
        height: 48px;
        background-image: url('./light.svg');
    }

    .add {
        width: 28px;
        height: 28px;
        background-image: url('./add.svg');
    }

    .download {
        width: 14px;
        height: 13px;
        background-image: url('./download.svg');
    }
}