.power-tools-bar {
  display: flex;
  padding: 0 120px;
  justify-content: space-around;
  align-items: center;
  .btn-power-switch {
    width: 350px;
    height: 350px;
    background: none;

    &#power img {
      width: 350px;
      height: 350px;
    }
  }
  .dev-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
      font-size: 36px;
    }
    .label{
      margin-top: 20px;
      font-size: 48px;
    }
  }
}
