
/*蓝白主题*/
.color_primary() {
  color: var(--global-color-white);
}
.theme_blue_white {
  background: #f4f8fb;
  height: 100%;
  position: relative;
  .cell-content{
    color: #B5C4D1 !important;
  }
  .botton_sty{
    background: #0062ff;
  }
  .lightbright-slider{
    .lightbright-progress{
      background-image: linear-gradient(133deg, #0081FF 0%, #005BFF 100%);
      .lightbright-progress-dot{
        border-color: #0062ff;
      }
    }
  }

  .setup_top{
    background: #F4F8FB;
    .reset{
      background: #0062ff;
    }
  }
  .home {
  }
}
/*暗色主题*/
.theme_dark {
  // padding-top: 93px;
  position: relative;

  .modal-inner{
    background: none;
    background-color: #2b3745;
    color: #FFFFFF;
    .modal-body{
      // background: none;
      // background-color: #2b3745;
      .adm-list-inner{
        background: none;
        background-color: #2b3745;
        color: #FFFFFF;
      }
    }
    .footer-buttons{
      .button-cancel{
        background: none;
        background-color: #2b3745;
        color: #FFFFFF;
      }
      .button-confirm{
        background: none;
        background-color: #2b3745;
        color: #FFFFFF;
      }
    }

    .block_theme_dark{
      background-image: none;
      border: none;
      box-shadow: none;
    }
    .ietTcC{
      box-shadow: none;
      .color_2{
        color: #FFFFFF;
      }
    }
  }
  .lightbright-slider{
    .lightbright-progress{
      background-image: linear-gradient(137deg, #00F0FF 0%, #704DF0 100%);
      .lightbright-progress-dot{
        border-color: #0062ff;
      }
    }
  }
  .reset{
    background-image: linear-gradient(137deg, #00F0FF 0%, #704DF0 100%);
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
  }
  .cell-content{
    color: #B5C4D1 !important;
  }
  .foot_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .setup_head{
    background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
    box-shadow: 0 6px 100px 0 #242735;
    color: #FFFFFF;
  }
  .setup_foot{
    background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
    box-shadow: 0 6px 100px 0 #242735;
    color: #FFFFFF;
  }


  .botton_sty{
    background: none;
    background-image: linear-gradient(137deg, #00F0FF 0%, #704DF0 100%);
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10)
  }

  .home {
    .border-bottom {
      border: 0;
    }

    &.power-off {
      #power {
        background: #B5C4D1 !important;
        svg {
          fill: #FFFFFF !important;
        }
      }
    }
  }
}
/*多彩主题*/
.theme_colorful {

  .lightbright-slider{
    .lightbright-progress{
      background-image: linear-gradient(180deg, #2960F3 0%, #1753FF 100%);
      .lightbright-progress-dot{
        border-color: #0062ff;
      }
    }
  }
  // padding-top: 93px;
  .list_ul{
    margin-left: 0;

  }
  .cell-content{
    color: #B5C4D1 !important;
  }
  .reset{
    background-image: linear-gradient(180deg, #3FE83F 0%, #00D8B2 100%);
  }
  position: relative;
  .home {

    .border-bottom {
      border: 0;
    }
  }
}
/*莫兰迪主题*/
.theme_morandi {
  position: relative;

  .lightbright-slider{
    .lightbright-progress{
      background-image: linear-gradient(180deg, #576273 0%, #414B5B 86%);
    }
  }
  .botton_sty{
    background: #B5ABA1;
  }
  .reset{
    background: #B5ABA1;
  }
  .cell-content{
    color: #B5C4D1 !important;
  }
  .setup_head{
    color: #566172;
  }
  .setup_foot{
    color: #566172;
  }
  .div_card_2{
    width: 891px;
    .card_span_right{
      width: 520px;
    }
  }
  .home {
    // padding-top: 150px;
    background: #FFFFFF;
    .border-bottom {
      border: 0;
    }

    .dashboard{
      width: 970px;
      height: 1200px;
      margin: 0 78px;
      background: #FFFFFF;
      border-radius: 70px 70px 0 0;

      .ticker{
        width: 750px;
        height: 750px;
        margin: 0 auto;
        > section{
          color: #FFFFFF;
          .value{
            margin: 10px 0;
          }
          .text1{
            color: var(--global-color-text-regular);
          }
        }

        .bg {
          position: absolute;
          left: 50%;
          transform: translate(-50%,11%);
          width: 85%;
          height: 85%;
          border-radius: 50%;
          background-color: #333e4d;
          box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        }
        .bg-img{
          position: absolute;
          left: 50%;
          transform: translate(-50%,10%);
          width: 87%;
          height: 87%;
          z-index: 1;
        }
      }
    }
    .detail {
      background-color: transparent;
      box-shadow: none;

      .lock-img{
        position: absolute;
        left: 50px;
        top: 50px;
      }
      .device-state{
        position: absolute;
        top: 50px;
        right: 50px;
        color: #B5C4D1;
      }
      .power-tools-bar {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 830px;
        z-index: 10;
        #power {
          width: 260px;
          height: 260px;
          position: relative;
          top: 70px;
          z-index: 10;
          border: 30px solid var(--global-color-text-placeholder);
          box-shadow: none;
          background: var(--global-color-primary);
          svg {
            fill: var(--global-color-text-placeholder)!important;
          }
        }
      }
      .environment {
        width: 100%;
        position: absolute;
        top: 980px;
        .environment-wrap {
          display: flex;
          margin:56px 78px 0;
          padding: 0;
          //padding: 97px 0 67px;
          //border-radius: 70px;
          .temperature, .line, .line1, .humidity {
            flex: .4;
            width: 300px;
            height: 252px;
            background: #FFFFFF;
            color: var(--global-color-lighter);
          }
          .line {
            //width: 100px;
            height: 300px;
            flex: .2;
            top: 48px;
            border-right: 3px solid #EDEEF2;
            border-left: 0;
            border-top: 0;
            margin: 0 -110px;
          }
          .line1 {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 48px;
            border-right: 0;
            border-left: 0;
            margin: 0 -5px;
          }
          .temperature {
            padding-top: 97px;
            border-radius: 70px 130px 0 0;
            color: #B6ACA3;
          }
          .humidity {
            padding-top: 97px;
            border-radius: 130px 70px 0 0;
            color: #202C3A;
          }
          strong {
            i {
              position: relative;
              top: -25px;
            }
            & + div {
              margin-top: 20px;
            }
          }
          .scale-wrap {
            display: inline-block;
            transform: scaleY(1.8);
            font-weight: bold;
          }
        }

        .environment-wrap1 {
          display: flex;
          margin:0 78px;
          padding: 0;
          //padding: 97px 0 67px;
          //border-radius: 70px;
          .temperature, .line, .line1, .humidity {
            flex: .4;
            width: 300px;
            height: 252px;
            background: #FFFFFF;
            color: var(--global-color-lighter);
          }
          .line {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 0;
            border-right: 3px solid #EDEEF2;
            border-left: 0;
            border-top: 3px solid #EDEEF2;
            margin: 0 -110px;
          }
          .line1 {
            //width: 100px;
            height: 348px;
            flex: .2;
            top: 0;
            border-right: 0;
            border-top: 3px solid #EDEEF2;
            margin: 0 -5px;
          }
          .temperature {
            padding-top: 97px;
            border-top: 3px solid #EDEEF2;
            border-radius: 0 0 0 70px;
            color: #B6ACA3;
          }
          .humidity {
            padding-top: 97px;
            border-top: 3px solid #EDEEF2;
            border-radius: 0 0 70px 0;
            color: #202C3A;
          }
          strong {
            i {
              position: relative;
              top: -25px;
            }
            & + div {
              margin-top: 20px;
            }
          }
          .scale-wrap {
            display: inline-block;
            transform: scaleY(1.8);
            font-weight: bold;
          }
        }
      }

      .position-wrap {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 1722px;

        > ul {
          margin:56px 77px;
          padding: 80px 90px;
          background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
          border-radius: 70px;
          li {
            color: var(--global-color-lighter);
            > strong {
              color: var(--global-color-white);
            }
          }

          .line{
            line-height: 130px;
          }
        }
        * {
          background-color: transparent;
        }
      }
    }
  }
}
/*正常主题*/
.theme_normal {
  background: #f4f8fb !important;
  height: 100%;
  position: relative;
  .cell-content{
    color: #B5C4D1 !important;
  }
  .botton_sty{
    background: #0F0F0F;
  }
  .home {
    .bormal_head{
      background: none;
      background: #f4f8fb;
      box-shadow: none;
    }

  }

  .modal-body .adm-list-item-content-prefix {
    color: #0F0F0F !important;
  }
}

