.ticker {
  margin-top: 40px;
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .btn {
      height: 88px;
      border-radius: 16px;
      &:last-child {
        margin-left: 16px;
      }
      &.btn-primary {
        background: white;
        color: @c1;
      }
      &.btn-reverse {
        background: white;
        color: @c1;
        opacity: 0.5;
      }
    }
    .btn-text {
      display: flex;
      align-items: center;
      justify-content: center;
      .title {
        margin-left: 8px;
      }
    }
  }
}
