.detail {
  margin-top: 66px;
  background: #FFFFFF;
  box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
  border-radius: 120px 120px 0 0;
  .environment {
    text-align: center;
    padding-bottom: 70px;
    .environment-wrap {
      padding-top: 70px;
      display: flex;
      justify-content: space-evenly;
      color: var(--global-color-text-regular);
      .environment-value {
        line-height: 91px;
        font-family: PingFangSC-Semibold;
        font-size: 72px;
        color: #0F0F0F;
        letter-spacing: 0.1px;
      }
      .environment-label {
        margin-top: 10px;
        line-height: 67px;
        font-family: PingFangSC-Regular;
        font-size: 48px;
        color: #B5C4D1;
      }
    }
    .progress {
      margin: 130px 0 0;
    }
    .line {
      width: 3.66px;
      height: 80px;
      background-color: var(--global-color-text-regular);
      position: relative;
      top: 48px;
    }
    [class='^font'] {
      font-weight: 500;
    }
  }
  .position-wrap {
    padding: 80px 128px;
    color: var(--global-color-text-regular);
    li {
      min-width: 240px;
      strong {
        display: block;
        margin-bottom: 9px;
        line-height: 80px;
        font-family: PingFangSC-Semibold;
        font-size: 60px;
        color: #0F0F0F;
        letter-spacing: 0.08px
      }
      .label {
        line-height: 67px;
        font-family: PingFangSC-Regular;
        font-size: 48px;
        color: #B5C4D1;
      }
    }
    ul.position-row {
      padding: 70px 0;
    }
  }
}