@import url("./Action.less");
@import url("./ConfigAction.less");
@import url("./Slider.less");

.home {
  width: 100%;
  color: @c1;
  .header-info {
    .title {
      font-weight: 400;
      font-size: 12px;
      line-height: 30px;
      text-align: center;
      opacity: 0.6;
      margin-top: 57px;
    }
  }
}
