.disk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  border: 1px solid #EFF3F5;
  background-color: #FBFBFC;
  .content-wrap {
    height: 212px;
    width: 212px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    background: linear-gradient(0deg, #F6F8FA, #F6F8FA), radial-gradient(50% 50% at 50% 50%, #F4F7F9 0%, #F1F6F6 100%);
    box-shadow: 0px 0px 10px 2px #EAEDF1;
    .content {
      display: flex;
      margin-top: 48px;
      margin-left: 80px;
      margin-bottom: 16px;
    }

    .status-desc {
      position: relative;
      margin: 0 auto;
      padding-left: 12px;
      width: 112px;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 600;
      color: #1D2C3E;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -4px;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #D9DBEA;
      }
    }
    .status-active {
      width: 84px;
      &::before {
        background: #FF4D54;
      }
    }
  }
}
