@import url("./Ticker.less");
@import url("./Position.less");
@import url("./LightBright.less");
@import url('./Scene.less');
@import url("./Action.less");

.route-home {
  display: inherit !important;
  background: linear-gradient(167.96deg, #B3957B 0%, #A8866B 100%);
  ;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 12px 0 0 0;
  height: calc(100vh - 12px);



  .colorMode {
    height: calc(100% - 50px);
    overflow: hidden;

    .change-panel {
      height: calc(100% - 210px);

      .switch-list {
        display: flex;
        justify-content: space-between;
        height: calc(100% - 107px);
        align-items: flex-start;

        .left {
          display: flex;
          flex-direction: column;
          padding-left: 22px;
          align-items: center;
          justify-content: center;

          .switch {
            margin: 32px 0;

            .custom-switch {
              width: 80px;
              height: 40px;

              .adm-switch-checkbox,
              .adm-switch-checkbox:before {
                height: 40px !important;
                background: #F2F2F2 !important;
              }

              .adm-switch-handle {
                margin-top: 2px;
                margin-left: 2px;
                width: 32px !important;
                height: 32px !important;
                background: #FFFFFF;
              }
            }

            .adm-switch-checked {
              .adm-switch-handle {
                left: 40px !important;
                width: 32px !important;
                height: 32px !important;
                background: #F2A56B !important;
              }
            }
          }

          .color-list {
            margin-bottom: 28px;

            .ver {
              width: 8px;
              height: 172px;
              border-radius: 0;
            }

            .slider {
              background: linear-gradient(270deg, #ABECD6 0%, #FBED96 100%);
              border-radius: 0;

              .progress {
                min-width: 8px;
                border-radius: 0;
              }

              .progress-dot {
                width: 8px;
                height: 8px;
                background: transparent;
                margin-left: -2px;
                border: 2px solid #FFFFFF;
              }
            }

            .progress {
              background: transparent;
            }
          }

          .color-list-off {
            .slider {
              background: #FFF !important;
              opacity: 0.3;

              .progress-dot {
                display: none;
              }
            }
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .line {
            width: 2px;
            height: 124px;
            background: linear-gradient(274.99deg, #EA9238 26.86%, #FFC07D 78.59%), #FFFFFF;
          }

          .icon {
            width: 186px;
            height: 114px;

            .svg-icon-normal {
              width: 100%;
              height: 100%;
            }
          }

          .icon-switch-checked {
            height: 152px;
          }
        }

      }

      .bright-list {
        display: flex;
        justify-content: center;
        align-items: center;

        .light-bright {
          width: 230px;
          margin: 0;
        }

        .hoz {
          .mark {
            width: calc(100% - 8px);
            margin-bottom: 2px;
            position: relative;

            // display: flex;
            // justify-content: center;
            .value-wrap {
              position: absolute;
              top: -24px;

              .icon {
                display: none;
              }

              .value-text {
                margin-left: 2px;
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                color: #fff;
              }
            }

            .mark-op-btn {
              display: none;
            }
          }

          .slider {
            height: 3px;
            background: rgba(255, 255, 255, 0.3);
            border: none;

            .progress {
              height: 3px;
              background-color: #fff;

              .progress-dot {
                width: 8px;
                height: 8px;
                background: #FFF;
                margin-top: -2px;
              }
            }
          }
        }
      }
    }
  }



  .cus-dev-detail {
    top: 20px;
    right: 20px;
  }

  &.scene {
    .cus-dev-detail {
      display: none;
    }
  }
}

.white {
  .colorMode .change-panel .switch-list .left .color-list .slider {
    background: linear-gradient(0deg, #ABECD6 0%, #FBED96 100%);
  }
}

.colour {
  .colorMode {
    .change-panel {
      .switch-list {
        height: calc(100% - 157px);

        .left {
          .color-list {
            .slider {
              background: linear-gradient(0deg, #2F00FF 2.55%, #03F7F9 16.79%, #32FB1D 32.04%, #A0EF07 43.48%, #EECD0C 59.13%, #F90219 74.36%, #E500F0 87.84%);
            }

          }
        }
      }

      .bright-list {
        margin-bottom: 38px;
      }
    }
  }
}

.scene {
  .colorMode {
    .scene-page {
      margin: 0;
      background: #f2f2f2;
      border-radius: 40px 40px 0 0;
      padding: 24px 24px 0 24px;
      margin-top: -1px;
    }

    .scene-switch {
      margin: 32px 0 32px 22px;

      .custom-switch {
        width: 80px;
        height: 40px;

        .adm-switch-checkbox,
        .adm-switch-checkbox:before {
          height: 40px !important;
          background: #F2F2F2 !important;
        }

        .adm-switch-handle {
          margin-top: 2px;
          margin-left: 2px;
          width: 32px !important;
          height: 32px !important;
          background: #FFFFFF;
        }
      }

      .adm-switch-checked {
        .adm-switch-handle {
          left: 40px !important;
          width: 32px !important;
          height: 32px !important;
          background: #F2A56B !important;
        }
      }
    }
  }

  .action {
    border-radius: 0 !important;
    padding-top: 0 !important;
  }
}