@column_height: 143px;
@column_max_count: 3;

.cus-time-picker {
  color: @c1;

  .adm-popup-body {
    background: #ffffff;
  }

  .picker-header {
    font-weight: 600;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .picker-show-time {
    text-align: center;
    padding-top: 24px;
    font-weight: 600;
    font-size: 24px;
  }

  .picker-body {
    // width: 217px;
    // margin-left: 50px;
  }

  .picker-action {
    font-size: 48px;
    line-height: 67px;
    color: #000000;
    padding: 32px 108px 14px 113px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .picker-footer {
    font-size: 16px;
    color: #30414D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 24px;
    width: 87%;
    padding: 0 24px;

    button {
      background-color: transparent;
      border: none;
      outline: none;
      font-weight: 600;
      background: transparent;
    }
  }

  &.un-pop {
    background: #ffffff;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    // border-top-right-radius: 40px;
    // border-top-left-radius: 40px;
  }


  &.timer-modal-content {
    .picker-show-time {
      display: none;
    }

    .picker-footer {
      display: none;
    }
  }

  .timer-modal {
    zoom: 1;

    .modal-body {

      .picker-footer {
        display: none;
      }
    }

  }
}
