.icon {
  .white {
    background-image: url('./white.svg');
  }
  .white-checked {
    background-image: url('./white-checked.svg');
  }
  .colour {
    background-image: url('./colour.svg');
  }
  .colour-checked {
    background-image: url('./colour-checked.svg');
  }
  .scene {
    background-image: url('./scene.svg');
  }
  .scene-checked {
    background-image: url('./scene-checked.svg');
  }
  .switch {
    width: 37px;
    height: 40px;
    background-image: url('./switch.svg');
  }
  .switch-checked {
    width: 37px;
    height: 40px;
    background-image: url('./switch-checked.svg');
  }
  .timing {
    background-image: url('./timing.svg');
  }
  .timing-checked {
    background-image: url('./timing-checked.svg');
  }
  .brightness {
    width: 17px;
    height: 17px;
    background-image: url('./brightness.svg');
  }
  .brightness-checked {
    width: 17px;
    height: 17px;
    background-image: url('./brightness-checked.svg');
  }
  .temperature {
    width: 16px;
    height: 16px;
    background-image: url('./temperature.svg');
  }
  .temperature-checked {
    width: 16px;
    height: 16px;
    background-image: url('./temperature-checked.svg');
  }
}
