
body.theme_blue_white {
  .app-container {
    min-height: 100vh;
    background-color: #E3F1FF;

    .settings {
      position: absolute;
      top: 57px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 196px;
      height: 120px;
      border-radius: 0 60px 60px 0;
      background: rgba(255,255,255,0.20);
      box-shadow: 0 10px 100px 0 rgba(32,33,33,0.10);
      z-index: 1;
      .icon-more {
        width: 77px;
        height: 18px;
        background-image: url('../images/more-blue.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
    .settings1 {
      position: absolute;
      top: 71px;
      right: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 126px;
      height: 126px;
      border-radius: 50%;
      background: rgba(255,255,255,0.20);
      z-index: 1;
      .icon-more {
        width: 77px;
        height: 18px;
        background-image:  url('../images/more-blue.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }

    .product-image-wrap {
      position: relative;
      padding-top: 343px;
      width: 100%;
      height: 965px;
      background-image: linear-gradient(133deg, #0081FF 0%, #005BFF 100%);
      overflow: hidden;
      .fumes {
        position: absolute;
        top: 101px;
        left: 50%;
        margin-left: -56px;
        width: 153px;
        height: 252px;
        background-image: url('https://tencent-1305105198.cos.ap-guangzhou.myqcloud.com/aromatherapy-machine/smoke.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 2;
      }
      .product-image {
        position: relative;
        margin: 0 auto;
        display: block;
        width: 428px;
        height: 667px;
        z-index: 3;
      }
      .shadow {
        position: absolute;
        bottom: 290px;
        left: 50%;
        margin-left: -328px;
        width: 656px;
        height: 38px;
        background-image: url('../images/shadow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: scaleX(3);
        z-index: 1;
      }
    }
  
    .product-control-wrap {
      position: absolute;
      top: 1119px;
      width: 100%;
      
      .product-control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 80px;
        .control-block {
          width: 455px;
          height: 330px;
          .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 55px;
            font-size: 36px;
            .icon {
              width: 80px;
              height: 80px;
            }
            .label {
              color: #B5C4D1;
            }
            .icon-clock {
              background: url('../images/icon-record-grey.svg') no-repeat center;
              background-size: 100% 100%;
            }
            .icon-clock-active {
              background: url('../images/icon-record-blue.svg') no-repeat center;
              background-size: 100% 100%;
            }
          }
          .word {
            font-size: 50px;
          }
        }
      }
    }
  
    .countdown-slider-wrap {
      padding: 247px 130px 136px;
      border-bottom: 3px solid #EDEEF2;
  
      .countdown-slider-tips {
        position: relative;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 36px;
        color: #0F0F0F;
  
        .item {
          position: relative;
          .icon-cicle {
            position: absolute;
            top: -54px;
            left: 50%;
            margin-left: -15px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #FF5447;
          }
        }
      }
  
      .countdown-slider {
        padding: 0;
        height: 100px;
  
        .adm-slider-track {
          height: 100px;
          border-radius: 33px;
          background-color: #B5C4D1;
  
          .adm-slider-fill {
            padding-right: 30px;
            height: 100px;
            border-radius: 33px;
            background-image: linear-gradient(133deg, #0081FF 0%, #005BFF 100%);
          }
  
          .adm-slider-thumb {
            position: relative;
            width: 14px;
            height: 50px;
            border-radius: 7px;
            background: #FFFFFF;
          }
        }
      }
    }
  
    .decoration-block {
      min-height: calc(~"100vh - 1847px");
      border-top-left-radius: 120px;
      border-top-right-radius: 120px;
      background: #FFFFFF;
      box-shadow: 0 6px 100px 0 rgba(32, 33, 33, 0.10);
  
      .decoration-bottom {
        padding: 74px 130px 124px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .content-item {
          text-align: center;
  
          .word {
            margin-bottom: 15px;
            line-height: 67px;
            font-size: 48px;
            color: #B5C4D1;
            letter-spacing: 0.1px;
          }
  
          .text {
            font-size: 38px;
          }
  
          .label {
            line-height: 67px;
            font-size: 48px;
            color: #0F0F0F;
          }
          .icon-power {
            width: 99px;
            height: 50px;
            background-image: url('../images/power-switch.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
          .icon-power-active {
            width: 99px;
            height: 50px;
            background-image: url('../images/power-switch-active.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
          }
          .icon-spray {
            width: 59px;
            height: 66px;
          }
          .icon-light {
            width: 55px;
            height: 66px;
          }
          .icon-more {
            width: 98px;
            height: 23px;
          }
        }
      }
    }
  }
  .close {
    .countdown-slider-wrap {
      .adm-slider-disabled {
        opacity: 1;
      }
      .countdown-slider-tips {

        .item {
          .icon-cicle {
            background-color: #B1B9C2;
          }
        }
        
      }
      .countdown-slider {
        --fill-color: #B1B9C2;
        .adm-slider-track {
          .adm-slider-fill {
            background-image: none;
          }
        }
      }
    }
  }
}


