.scenario-display-content{
    // width: 801px;
    // height: 801px;
    // border: solid;
    margin-top: 188px;
    display: flex;
    justify-content: center;

    .rotundity{
        width: 700px;
        height: 700px;
        background: #FFFFFF;
        box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
