.home {
    .custom-tabs {
        .adm-tabs-content {
            .cell {
                color: #182129;
            }
        }
    }
}

.layout-popup,
.layout-info-popup {
    .adm-popup-body {
        background: #fff !important;
        border-radius: 40px 40px 0 0;
    }

    .popup-content {
        .footer {
            .primary {
                background: #30414D;
            }

            .disabled {
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), #30414D;
            }
        }
    }

}