.ticker {
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .btn {
      height: 52px;
      border-radius: 16px;
      &:last-child {
        margin-left: 16px;
      }
    }
    .btn-primary {
      background: @c3;
    }
    .btn-reverse{
      background: @c2;
    }
    .btn-text {
      display: flex;
      align-items: center;
      justify-content: center;
      .title {
        margin-left: 8px;
      }
    }
  }
  &.ticker-off {
    .title {
      color: @c6;
    }
  }
}
