@import url('./LightSwitch.less');
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .switch-1 {
    padding: 90px 82px 110px 82px;
  }
  .switch-2 {
    display: flex;
    padding: 50px 25px 23px 25px;
    justify-content: space-between;
    .light-switch {
      width: 160px;
    }
  }
  .switch-3 {
    display: flex;
    padding: 50px 18px 23px 18px;
    justify-content: space-between;
    .light-switch {
      width: 110px;
    }
  }

}
