.home {
  .photo {
    .bottom-bg {
      background: #FFFFFF;
      border: 1px solid #EFF3F5;
    }
  }

  .header {
    background: none !important;
    height: 230px;

    .mask {
      background: transparent;

      .title {
        padding: 0;
        background: transparent;
        border-radius: 0;
        font-size: 12px;
        line-height: 17px;
        color: #30414D;
      }
    }
  }

  .list {

    .cell {
      padding: 25px 20px;
      margin: 8px 16px;
      background: #FFFFFF;
      border: 1px solid #EFF3F5;
      border-radius: 8px;

      .cell-wrapper {
        .cell-prefix-icon {
          display: block;
          margin-right: 12px;
        }

        .icon-arrow-right {
          display: block;
        }
      }
    }
  }

  .operator {
    background: #30414D;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    border: 0;
    margin-top: 148px;

    .title {
      display: none;
    }
  }
}