.icon {
  font-size: 0;

  .switch {
    width: 22px;
    height: 24px;
    background-image: url('./switch.svg');
  }

  .mode {
    width: 24px;
    height: 24px;
    background-image: url('./mode.svg');
  }

  .time {
    width: 24px;
    height: 24px;
    background-image: url('./time.svg');
  }

  .light-1 {
    width: 316px;
    height: 310px;
    background-image: url('./light-1.svg');
  }

  .light-2 {
    width: 316px;
    height: 310px;
    background-image: url('./light-2.svg');
  }

  .light-3 {
    width: 316px;
    height: 310px;
    background-image: url('./light-3.svg');
  }

  .light-4 {
    width: 316px;
    height: 310px;
    background-image: url('./light-4.svg');
  }

  .plus {
    width: 24px;
    height: 24px;
    background-image: url('./plus.svg');
  }
  .plus-hoz {
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    background-image: url('./plus.svg');
  }
  .minus {
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
    background-image: url('./plus.svg');
  }
  .minus-hoz {
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
    background-image: url('./plus.svg');
  }
}