.home {
  flex-direction: column;
  font-weight: 500;
  .switch-1 {
    height: 1381px;
    margin-top: 75px;
    border-radius: 70px;
    padding: 130px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .biz-switch {
      width: 50%;
      .switch-name {
        padding-bottom: 115px;
      }
      .switch-wrapper {
        height: 939.61px;
        width: 400px;

        .switch-panel {
          height: 887.53px;
          width: 354.57px;
          background: #9c63ff;
          box-shadow: 0 6px 100px 0 #242735;
          .switch-bar {
            width: 286.58px;
            height: 286.58px;
            background: #202137;
            border: 3px solid rgba(62, 68, 84, 0.2);
            box-shadow: none;
            &::before {
              width: 64.49px;
              height: 64.49px;
              background: #FFC205;
              border: none;
            }
          }
        }
        .switch-status-desc {
          bottom: 140px;
          // color: white;
        }
      }
    }
    .is-checked {
      .switch-status-desc {
        top: 140px;
        // color: white;
      }
    }
  }


  .switch-2 {
    padding: 304px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .biz-switch {
      width: 50%;
      .switch-name {
        padding-bottom: 102px;
      }
      .switch-wrapper {
        height: 582px;
        .switch-panel {
          height: 550px;
        }
      }
    }
  }

  .switch-3 {
    padding: 304px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .biz-switch {
      width: 33%;
      .switch-name {
        padding-bottom: 102px;
      }
      .switch-wrapper {
        height: 582px;
        .switch-panel {
          height: 550px;
        }
      }
    }
  }

  .switch-4 {
    padding-top: 23px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .biz-switch {
      margin-top: 30px;
      width: 50%;
    }
  }

  .switch-5 {
    padding-top: 23px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    .biz-switch-1 {
      width: 50%;
    }
    .biz-switch-2 {
      width: 50%;
    }
    .biz-switch-3 {
      width: 33%;
    }
    .biz-switch-4 {
      width: 33%;
    }
    .biz-switch-5 {
      width: 33%;
    }
    .biz-switch {
      margin-top: 30px;
    }
  }

  .switch-default {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 1058px;
  }

  .dashboard {
    width: 950px;
    border-radius: 70px;
    .switch-top,
    .switch-bottom {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .switch-name {
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }
  }
}
