@mainColor: #060606;
.steps {
  .step {
    display: flex;
    margin-left: 46px;
    margin-bottom: 24px;
    
    &::after {
      margin-bottom: 24px;
    }

    &:first-child {
      .step-indicator {
        .step-icon-dot {
          &::before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #67615A;
          }
        }
      }
    }

    &:last-child {
      .step-indicator {
        .step-icon-dot {
          &::after {
            display: none;
          }
        }
      }
    }
    
    .step-indicator {
      position: relative;
  
      
      .step-icon-dot {
        position: absolute;
        top: 50%;
        left: -46px;
        margin-top: -8px;
        width: 16px;
        height: 16px;
        border: 2px solid #67615A;
        border-radius: 50%;
        z-index: 1;
        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          top: 26px;
          left: 50%;
          transform: translateX(-50%);
          width: 1px;
          height: 80px;
          background-image: url('./line.svg');
          background-position: center;
          background-size: cover;
        }
      }
    }
  
    .step-content {
      display: flex;
      justify-content: space-between;
      padding: 16px 24px;
      width: 100%;
      border: 1px solid #EEEEEE;
      border-radius: 16px;
      color: @mainColor;
      background: #FFFFFF;
      border: 1px solid #FFFFFF;
      
      .content-left {
        .detail {
          display: flex;
          margin-bottom: 9px;
          font-size: 24px;
          .time {
            font-family: 'PingFang SC';
            font-style: normal;
            display: inline-block;
            min-width: 60px;
            line-height: 34px;
            font-weight: 600;
            font-size: 24px;
            text-align: left;
            color: #67615A;
          }
          .week {
            margin-top: 12px;
            margin-left: 8px;
            line-height: 17px;
            font-size: 12px;
            font-weight: 600;
            color: #67615A;
          }
        }
        .date {
          font-size: 12px;
          line-height: 17px;
          color: #67615A;

        }
      }
      .content-right {
        .status {
          margin-top: 7px;
          line-height: 25px;
          font-weight: 600;
          font-size: 18px;
          text-align: right;
          color: #67615A;

        }
        .label {
          margin-top: 11px;
          line-height: 17px;
          font-size: 12px;
          text-align: right;
          color: #67615A;

        }
      }
    }
  }
}
