.detail.on {

  .operator-label,
  .cell-title {
    color: #565477 !important;
  }
}

.detail {
  .operator {
    width: calc(100% - 84px);
    padding: 0 42px 32px 42px;
    display: flex;
    justify-content: space-between;

    .operator-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: #F6F4FC;
        border-radius: 16px;
      }

      .operator-label {
        margin-top: 8px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        /* identical to box height */

        text-align: center;

        color: #7E7BA6;
      }

      .operator-icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  .environment {
    display: flex;
    margin: 0 8px;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .switch-btn {
      position: absolute;
      left: calc(50% - 30px);
      width: 60px;
      height: 60px;
      top: 20px;

      .icon .svg-icon-normal {
        width: 60px;
        height: 60px;
      }
    }

    .box {
      width: 103px;
      height: 92px;
      background: #FFFFFF;
      box-shadow: 0px 4px 20px rgba(246, 244, 252, 0.9);
      border-radius: 16px;
      margin: 0 8px;

      .content {
        width: 100%;
        height: 100%;

        .box-content {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: calc(100% - 20px);
          align-items: center;
          padding-top: 20px;

          .icon .svg-icon-normal {
            width: 24px;
            height: 24px;
          }

          .cell.border {
            padding: 0 !important;
            border: 0 !important;
            margin: 0 !important;
            height: auto !important;
            padding-left: 2px !important;
            margin-top: 16px !important;

            .cell-title-wrapper {
              width: 100%;
              text-align: center;

              .cell-title {
                color: #7E7BA6;
              }
            }

            .icon-arrow-right {
              display: none;
            }
          }


        }
      }
    }
  }

  .custom-modal,
  >#current-time {
    .modal {
      display: flex;
      flex-direction: column;
    }

    .edit-name-modal {
      background: transparent;
      border: 0;
      border-bottom: 1px solid #C6C4E9;
      border-radius: 0;
      width: calc(100% - 52px);
      margin-top: 50px;
      margin: 50px 24px 42px 24px;
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #30414D;
      padding-bottom: 12px;

      ::-webkit-input-placeholder {
        color: rgba(48, 65, 77, 0.5);
      }

      &:focus {
        outline: 0;
      }

      &:focus-visible {
        outline: 0;
      }

    }

    .custom-radio {
      display: flex;
      flex-direction: column;
      flex: 1;

      input[type="radio"] {
        opacity: 0;
        width: 0;
        height: 0;
        display: none;
      }

      .radio-item {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.65);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        list-style: none;
        display: block;
        position: relative;
        margin-right: 8px;
        cursor: pointer;
        transition: all .3s ease;

        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #C6C4E9;
        margin: 0 16px;
        padding: 0 8px;
      }

      .radio-item:last-child {
        border: 0;
      }

      .radio-item-label::after {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #30414D;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        content: "";
        right: 0;
        position: absolute;
        top: calc(50% - 10px);
      }

      input[type="radio"]:checked+.radio-item-label::after {
        padding: 4px;
        background-color: #30414D;
        background-clip: content-box;
        border-color: #30414D;
      }

      display: flex;
      flex-direction: column;

      .radio-item-label {
        padding: 16px 0;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #30414D;
        display: block;
        width: calc(100% - 16px);
        text-align: left;
      }
    }

    // .modal-footer {
    //   padding: 16px;
      

    //   .btn {
    //     margin: 0 6px;
    //     height: 56px;
    //     background: #594AE1;

    //     &:first-child {
    //       margin-left: 0;
    //     }

    //     &:last-child {
    //       margin-right: 0;
    //     }
    //   }

    //   .btn-cancel {
    //     color: #565477;
    //     border: 1px solid rgba(48, 65, 77, 0.3);
    //     background: #fff;
    //   }
    // }
  }

  >#current-time {
    .modal-container {
      bottom: 0;
      left: 0;
      z-index: 1;
      height: initial;
      box-shadow: 0px -4px 20px rgba(246, 244, 252, 0.9);

      .modal {
        width: 100vw;
        // height: 100vh;
        top: 83%;

        .modal-header {
          padding: 16px;

          .modal-title {
            color: @c1;
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            padding-left: 8px;
            padding-top: 0;
            padding-bottom: 0;
          }
        }

        .modal-body {
          padding: 16px;
          margin-bottom: 34px;

          .picker-body {
            width: 100%;
          }
        }

        .modal-footer {
          position: absolute;
          top: 8px;
          width: calc(100vw - 32px);
          left: 16px;
          padding: 0;

          >.btn-group {
            >.btn {
              flex: 1;
              border: none;
              background: transparent;
              color: @c1 ;
              font-weight: 600;
              font-size: 16px;
              text-align: left;

              &:last-child {
                text-align: right;
              }
            }
          }
        }
      }



      .modal-mask {
        display: none;
      }

    }
  }

}