.home {
  .action {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    padding: 0 16px;

    &.big-action {
      position: absolute;
      bottom: 20px;
      right: -8px;
      .action-item {
        width: 311px;
      }
    }
    .action-item {
      background: #ffffff;
      border: 1px solid @c7;
      border-radius: 16px;
      width: 147px;
      height: 52px;
      .action-ele {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 600;
        width: 100%;
        height: 100%;
        > div:last-child {
          margin-left: 4px;
        }
      }
    }
    &.action-off {
      color: @c6;
    }
  }
}
