.bluewhite_bormal_head{
    height: 515px;
    // border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;

    .foot_card{
        width: 967px;
        height: 508px;
        
        background: #1a7dfc;
        box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        border-radius: 50px;

        display: flex;
        justify-content: space-around;
        // flex-direction: column;
        align-items: center;
        .card_left{
            .card_img{
                width: 283px;
                height: 390px;
                margin-left: 63px;
            }
        }

        .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
    

            .card_right{
                height: 180px;
                width: 458px;
                display: flex;
                justify-content: space-between;
                // flex-direction: column;
                align-items:  center;
        
        
                .vertical{
                    width: 2.41px;
                    height: 50px;
                    // border: 3px solid #B5C4D1;
                    background-color: #B5C4D1;
                    
                }
            }
            .card_top{
                width: 77px;
                height: 53px;
                font-family: PingFangSC-Medium;
                font-weight: Medium;
                font-size: 38px;
                color: #FFFFFF;
                text-align: center;
                margin: 0 auto;
            }
            .card_num{
                width: 163px;
                height: 133px;
                font-family: PingFangSC-Medium;
                font-weight: Medium;
                font-size: 100px;
                color: #FFFFFF;
                text-align: center;
            }
            .card_size{
                width: 155px;
                height: 53px;
                font-family: PingFangSC-Medium;
                font-weight: Medium;
                font-size: 38px;
                color: #FFFFFF;
                text-align: center;
            }
    
        }
    }
    
   
}