.comp-cell-btn {
  background: #FFFFFF;
  border: 2px solid #EFF3F5;
  border-radius: 16px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
  padding: 0 64px;
  position: relative;

  .icon-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 64px;
  }

  .btn-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 180px;
    font-size: 46px;
    font-weight: 600;
    color: #1D2C3E;
  }

  .icon-arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 64px;
    width: 24px;
    //height: 57px;
  }
}
