.theme-list {
    .content {
        .header {
            .title {
                font-weight: 400;
                color: #67615A;
            }
            .text {
                border: 1px solid #67615A;
                color: #67615A;
            }
        }
    }
}