.emergency_button{
  .devSetting {
    position: absolute;
    left: 175px;
    top: 200px;
    transform: translate(-50%, 11%);
    width: 200px;
    height: 125px;
    border-radius: 0 60px 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    .dev-img{
      width: 75px;
      height: auto;
    }
  }
  .vhide{
    display: none;
  }
  .emergency_head_bluewhite{
      width: 967px;
      height: 938px;
      // box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      // border-radius: 60px;
      margin: 0 auto;
      margin-top: 150px;

      .head-icon{
          height: 292px;
          display: flex;
          justify-content: center;
          align-items: flex-end;
      }

      .center_scale{
          // height: 379.5px;
          border-bottom: solid 1px #ccc;
      }
      .scale_foot_state{
          width: 877px;
          height: 145px;
          margin: 0 auto;
          display: flex;

          justify-content: space-evenly;
          align-items: center;
          margin-top: 72.5px;
      }
      .vertical{
          width: 1.62px;
          height: 31.01px;
          transform: rotate(1.14deg);
          // border: 3px solid ;
          background-color: #FFFFFF;
      }
      .state_font{
          width: 138px;
          height: 62px;
          font-family: PingFangSC-Medium;
          font-weight: Medium;
          font-size: 45px;
          color: #FFFFFF;
          text-align: center;
          margin: 0 auto;
      }
      .state_font1{
          width: 199px;
          height: 60px;
          font-family: PingFangSC-Medium;
          font-weight: Medium;
          font-size: 36px;
          color: #FFFFFF;
          text-align: center;
          margin-top: 26px;
      }
  }
  .product-setting_bluewhite{
      height: 1200px;
      width: 1125px;
      background-color: #FFFFFF;
      // margin-bottom: 60px;
      border-radius:120px 120px 0 0;
      position: static !important;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin-top: 40px;

    ._component_base_cell_{
      width: 840px;
      height: 120px;
      border-radius: 50px;
      box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);
      // line-height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: initial;
      margin-bottom: 60px;
    }

    ._color_white_{
      background-color: #FFFFFF;
    }
    ._color_gray_{
      background-color: #fdfdfd;
    }
  }
}
