.more-wrap {
  font-size: 48px;
  padding: 57px 80px;
  margin-top: -57px;
  background-color:#F4F8FB;
  color: #000000;

  .adm-list-body {
    border-bottom: 0;
  }

  .adm-list .adm-list-item-content{
    padding: 49px 64px 52px 0;
    border-bottom: 1px solid var(--global-color-border);
  }

  .adm-list-item {
    padding-left: 0;

    &:last-child {
      .adm-list-item-content{
        border-bottom: 0;
      }
    }
  }

  /*Card*/
  .adm-card {
    margin-top: 50px;
  }

  .CloudTiming-wrap {
    margin-top: 50px;
    padding: 13px 5px 19px 66px;
    border-radius: 60px;
    background: #FFFFFF;
    box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);
    ._cell_size_medium_ {
      padding: 49px 64px 52px 0;
    }
  }
}
