html, body {
  min-height: 100vh;
  background-color: #F4F8FB;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

.electric-car {
  min-height: calc(~"100vh - 443px");
  position: relative;
  padding: 56px 80px 387px;
  text-align: center;

  .active {
    background-color: #0F0F0F;
    color: #FFFFFF;
    .status-name {
      color: #FFFFFF;
    }
  }

  .footer-block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 387px;
    min-height: calc(~"100vh - 1686px");
    // padding: 30px 80px 0;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    background: #FFFFFF;
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
    ._cell_size_medium_ {
      margin: 30px 80px 0;
      padding: 60px 62px 66px 77px;
      border-bottom: 3px solid rgba(181, 196, 209, 0.50);
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.senseless-unlock {
  min-height: calc(~"100vh - 170px");
  padding: 85px 80px;
  text-align: center;
  .header-block {
    position: relative;
    padding: 177px 80px 51px 80px;
    margin-bottom: 75px;

    .car-unlock-image {
      margin-bottom: 166px;
      width: 802px;
      height: 395px;
    }

    .tips {
      display: flex;
      align-items: center;
      justify-content: center;
      .icon-unlock {
        width: 66px;
        height: 66px;
        background-image: url('./images/lock.svg');
        background-size: 100% 100%;
      }
      .tips-name {
        margin-left: 16px;
        line-height: 67px;
        font-family: PingFangSC-Medium;
        font-size: 48px;
        color: #000000;
      }
    }
  }

  .setting-block {
    padding: 46px 66px;
    border-radius: 42px;
    ._cell_size_medium_ {
      padding: 0 0 0 11px;
    }
  }
}

.setting-wrap {
  padding: 108px 84px 300px 76px;
  .setting-block {
    padding: 31px 49px 30px 66px;
    ._cell_size_medium_ {
      padding: 49px 24px 53px 0px;
      border-bottom: 3px solid rgba(181, 196, 209, 0.50);
      &:last-child {
        border-bottom: 0;
      }
    }
    .cell_content_style_gray {
      font-family: PingFangSC-Regular;
    }
  }
}

body.theme_blue_white {
  background-image: linear-gradient(133deg, #0081FF 0%, #005BFF 100%);
  .electric-car {
    padding: 56px 80px 150px;
    background-image: linear-gradient(133deg, #0081FF 0%, #005BFF 100%);
  }

  .footer-block-blueWhite {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 0;
    border-radius: 42px;
    background: #FFFFFF;
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
    ._cell_size_medium_ {
      margin: 0;
      padding: 40px 67px 43px 77px;
      border-bottom: 3px solid rgba(181, 196, 209, 0.50);
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .senseless-unlock {

    .header-block {
  
      .tips {
        .icon-unlock {
          width: 66px;
          height: 66px;
          background-image: url('./images/lock-morandi.svg');
          background-size: 100% 100%;
        }
        .tips-name {
          color: #FFFFFF;
        }
      }
    }
  }

}

body.theme_dark {
  color: #FFFFFF;
  background-color: #222532;
  .decoration-block {
    position: absolute;
    top: 1084px;
    left: 0;
    width: 100%;
    // height: 912px;
    min-height: calc(~"100vh - 1389px");
    padding-top: 316px;
    background-image: url('./images/decoration-dark.svg');
    background-position: top center;
    background-size: 1125px calc(~"100vh - 1084px");
    background-repeat: no-repeat;
    background-color: #222532;
  }
  .footer {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 0 0 120px 0;
    border-radius: 0;
    // padding: 0 81px 0;
    ._cell_size_medium_ {
      padding: 40px 148px 43px 158px;
      border-bottom: 3px solid rgba(181, 196, 209, 0.50);
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .senseless-unlock {

    .header-block {
  
      .tips {
        .icon-unlock {
          width: 66px;
          height: 66px;
          background-image: url('./images/lock-morandi.svg');
          background-size: 100% 100%;
        }
        .tips-name {
          color: #FFFFFF;
        }
      }
    }
  }
}

body.theme_colorful {

  .electric-car {
    padding: 56px 80px 150px;
    .footer-block {
      position: relative;
      width: 100%;
      height: 150px;
      min-height: 150px;
      padding: 0;
      border-radius: 42px;
      background: #FFFFFF;
      box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      ._cell_size_medium_ {
        margin: 0;
        padding: 40px 67px 43px 77px;
        border-bottom: 3px solid rgba(181, 196, 209, 0.50);
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  .senseless-unlock {

    .header-block {
      background: none;
      box-shadow: none;
    }
  }
}

body.theme_morandi {

  .electric-car {
    padding: 56px 80px 150px;
    color: #4F596A;

    .decoration-block {
      position: absolute;
      top: 1154px;
      left: 0;
      width: 100%;
      min-height: calc(~"100vh - 1356px");
      padding-top: 202px;
      background-image: url('./images/decoration-morandi.svg');
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .footer {
      position: relative;
      width: 100%;
      height: 150px;
      padding: 0 0 120px 0;
      border-radius: 0;
      ._cell_size_medium_ {
        padding: 40px 148px 43px 158px;
        border-bottom: 3px solid rgba(181, 196, 209, 0.50);
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  .senseless-unlock {

    .header-block {
  
      .tips {
        .icon-unlock {
          width: 66px;
          height: 66px;
          background-image: url('./images/lock-morandi.svg');
          background-size: 100% 100%;
        }
        .tips-name {
          color: #FFFFFF;
        }
      }
    }
  }
}