.environment {
  text-align: center;
  .environment-wrap {
    margin-top: 60px;
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
  }
  .clock, .work, .power {
    width: 295px;
    height: 300px;
    border-radius: 60px;
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
  
    
    img, svg{
      margin-top:70px;
      width: 100px;
      height: 100px;
    }
    div{
      font-family: PingFangSC-Medium;
      font-size: 36px;
      color: #B5C4D1;
      text-align: center;
    }
  }

  .line {
    width: 3.66px;
    height: 80px;
    background-color: var(--global-color-primary);
    position: relative;
    top: 48px;
  }
  [class='^font'] {
    font-weight: 500;
  }
  .clock_height{
    margin-top: 33px;
  }

  // .switch-button{
  //   width: 160px;
  //   height: 160px;
  // }
}
