.icon {
  .light {
    background-image: url('./light.svg');
  }
  .light-checked {
    background-image: url('./light-checked.svg');
  }
  .minus {
    background-image: url('./minus.svg');
  }
  .minus-checked {
    background-image: url('./minus-checked.svg');
  }
  .add {
    background-image: url('./add.svg');
  }
  .add-checked {
    background-image: url('./add-checked.svg');
  }
}
