.home {
  background: linear-gradient(167.96deg, #B3957B 0%, #A8866B 100%);

  .switch-total {
    display: flex;
  }

  .photo {
    margin-top: 257px;
    .bottom-bg {
      width: 322px;
      height: 8px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 8px;
      top: 0;
    }
  }

  .operator {
    display: none;
  }
}