.product-setting{
    height: 1000px;
    position: static !important;

  ._component_base_cell_{

    width: 840px;
    height: 80px;
    margin: 50px auto;
    border-radius: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  ._color_white_{
    background-color: #FFFFFF;
  }
  ._color_gray_{
    background-color: #fdfdfd;
  }
}