.adm-steps {
  padding: 0;
  &.adm-steps-vertical {
    .adm-step {
      &:last-child {
        zoom: 1;
        .adm-step-icon-dot {
          &::after {
            content: none;
          }
        }
      }
    }
    .adm-step-icon-dot {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: transparent;
      border: 2px solid @c1;
      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 26px;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 40px;
        background-image: url('./line.svg');
        background-position: center;
        background-size: cover;
      }
    }

    .adm-step-indicator {
      &::after {
        content: none;
      }
    }
    .adm-step-status-finish {
      .adm-step-icon-dot {
        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: @c1 !important;
        }
      }
    }

    .adm-step-content {
      padding-bottom: 24px;
      margin-left: 16px;
    }
    .adm-step-title {
      font-weight: 600;
      color: @c1 !important;
      font-size: 16px !important;
      line-height: 22px !important;
    }
    .adm-step-description {
      font-weight: 400;
      font-size: 12px !important;
      line-height: 17px;
      color: @c1 !important;
      margin-top: 6px;
    }
  }
}
