.switch-list-panel {
    background: #fff;

    .switch-group {
        .title {
            color: rgba(86, 84, 119, 0.5);
        }

        .custom-input {
            input {
                color: #565477;
            }
        }
    }
}