.feed {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;

  .feed-speed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn-reverse {
      width: 88px;
      height: 36px;
      background: #ffffff;
      color: @c1;
    }
    .btn-text{
      font-size: 14px;
    }
  }
  .measure{
    margin-top: 24px;
  }
}
