.detail {
  .environment {
    display: flex;
    flex-direction: column;

    .info {
      display: flex;
      flex-direction: row;
      padding: 16px;
      justify-content: space-around;

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .detail {
          width: 103px;
          height: 93px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          .title {
            margin: 16px 0;
            font-style: normal;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #1D202D;
            opacity: 0.75;

            .value {
              margin-right: 6px;
              font-family: 'DIN Condensed';
              font-weight: 700;
            }

            .unit {
              font-family: 'PingFang SC';
              font-weight: 600;
              font-size: 16px;
              line-height: 22px;
            }

          }

          .desc {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            opacity: 0.75;
          }
        }

        &:nth-child(2) {

          &:after,
          &::before {
            content: '';
            width: 2px;
            background: #555861;
            opacity: 0.1;
            border-radius: 10px;
            height: 56px;
          }
        }
      }
    }

    .btn-config {
      margin: 44px 16px 0 16px;
      width: calc(100% - 32px);
      height: 60px;
    }
  }
}