@import url("./Ticker.less");
@import url("./Position.less");
@import url("./LightBright.less");
@import url('./Scene.less');
@import url("./Action.less");
.route-home {
  display: inherit !important;
}
.home {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  .change-panel {
    min-height: 494px;
  }
  .cus-dev-detail{
    top:380px;
    right:24px;
  }
  &.scene{
    .cus-dev-detail{
      top:82px;
      right:24px;
    }
  }
}
