.icon {
  .white {
    background-image: url('./white.svg');
  }
  .white-checked {
    background-image: url('./white-checked.svg');
  }
  .colour {
    background-image: url('./colour.svg');
  }
  .colour-checked {
    background-image: url('./colour-checked.svg');
  }
  .scene {
    background-image: url('./scene.svg');
  }
  .scene-checked {
    background-image: url('./scene-checked.svg');
  }
  .switch {
    width: 28px;
    height: 30px;
    background-image: url('./switch.svg');
  }
  .switch-checked {
    width: 28px;
    height: 30px;
    background-image: url('./switch-checked.svg');
  }
  .timing {
    background-image: url('./timing.svg');
  }
  .timing-checked {
    background-image: url('./timing-checked.svg');
  }
  .light-bg-white {
    width: 52px;
    height: 62px;
    background-image: url('./light.svg');
  }
  .light-bg-colour {
    width: 52px;
    height: 62px;
    background-image: url('./light.svg');
  }
  .light-bg-off {
    width: 72px;
    height: 72px;
    background-image: url('./light-off.svg');
  }
  .brightness {
    width: 17px;
    height: 17px;
    background-image: url('./brightness.svg');
  }
  .brightness-checked {
    width: 17px;
    height: 17px;
    background-image: url('./brightness-checked.svg');
  }
  .temperature {
    width: 16px;
    height: 16px;
    background-image: url('./temperature.svg');
  }
  .temperature-checked {
    width: 16px;
    height: 16px;
    background-image: url('./temperature-checked.svg');
  }
  .like {
    width: 9px;
    height: 9px;
    background-image: url('./like.svg');
  }
  .like-checked {
    width: 9px;
    height: 9px;
    background-image: url('./like-checked.svg');
  }
}
