.home {
  position: relative;
  padding: 18px 16px 0;

  header {
    margin-bottom: 68px;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    background: #26313D;
    .footer-top {
      margin: 32px 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

}