.ec-chart {
  .cycle-btns {
    display: flex;

    .custom-btn {
      color: #fff;
      border: 1px solid #fff;
    }

    .selected {
      background: #404575;
      color: #fff;
    }
  }

  .desc {
    .content {
      color: #fff;
    }

    .label {
      margin-top: 12px;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5)
    }
  }

}