@import url('./Icon/Icon.less');
@import url('./AddTimer/List.less');
@import url('./AddTimer/AddTimer.less');
@import url('./AddTimer/Repeat.less');
@import url('./ListTimer/ListTimer.less');
.timer-cloud {
  background: @c0;
  width: 100%;
  .add-timer-btn {
    position: fixed;
    border-radius: 8px;
    background:#2D374D;
    width: calc(100% - 32px);
    bottom: 33px;
    left: 16px;
    height: 44px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
}
