.checkbox-group {
  background-color: #fff;


  .checkbox-item {
    height: 96px;
    background-color: #F3F3F5;
    border-radius: 16px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    padding-left: 44px;
    position: relative;

    &:last-of-type {
      margin-bottom: 0;
    }

    .checkbox-item-text {
      font-size: 28px;
      color: #15161A;
      text-align: center;
      line-height: 40px;
      position: absolute;
      right: 26px;
      max-width: 480px;
    }
  }
}
