.icon {
  font-size: 0;
  .more {
    width: 77px;
    height: 126px;
    background-image: url('./more.svg');
  }
  .sound {
    background-image: url('./sound.svg');
  }
  .lock {
    width: 82px;
    height: 82px;
    background-image: url('./lock.svg');
  }
  .unlock {
    width: 82px;
    height: 82px;
    background-image: url('./unlock.svg');
  }
  .bluetooth {
    width: 105px;
    height: 97px;
    background-image: url('./bluetooth.svg');
  }
  .bluetooth-selected {
    width: 105px;
    height: 97px;
    background-image: url('./bluetooth-selected.svg');
  }
  .alarm {
    width: 105px;
    height: 97px;
    background-image: url('./alarm.svg');
  }
  .alarm-selected {
    width: 105px;
    height: 97px;
    background-image: url('./alarm-selected.svg');
  }
  .mute {
    width: 105px;
    height: 97px;
    background-image: url('./mute.svg');
  }
  .mute-selected {
    width: 105px;
    height: 97px;
    background-image: url('./mute-selected.svg');
  }
  .senseless-lock {
    width: 52px;
    height: 70px;
    background-image: url('./lock-white.svg');
  }
}