.icon {
  .up {
    background-image: url("./up.svg");
  }
  .up-checked {
    background-image: url("./up-checked.svg");
  }
  .down {
    background-image: url("./down.svg");
  }
  .down-checked {
    background-image: url("./down-checked.svg");
  }
  .start {
    background-image: url("./start.svg");
  }
  .start-checked {
    background-image: url("./start-checked.svg");
  }
  .stop {
    background-image: url("./stop.svg");
  }
  .stop-checked {
    background-image: url("./stop-checked.svg");
  }

  .light {
    background-image: url("./light.svg");
  }
  .light-checked {
    background-image: url("./light-checked.svg");
  }

  .disinfect {
    background-image: url("./disinfect.svg");
  }
  .disinfect-checked {
    background-image: url("./disinfect-checked.svg");
  }
  .dry {
    background-image: url("./dry.svg");
  }
  .dry-checked {
    background-image: url("./dry-checked.svg");
  }
  .drying {
    background-image: url("./drying.svg");
  }
  .drying-checked {
    background-image: url("./drying-checked.svg");
  }
  .timing {
    background-image: url("./timing.svg");
  }
  .timing-checked {
    background-image: url("./timing-checked.svg");
  }
}
