.icon {
  .svg-icon {
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
  }
  // TODO
  .svg-icon-small {
    width: 48px;
    height: 48px;
  }
  .svg-icon-normal {
    width: 82px;
    height: 82px;
  }
  // TODO
  .svg-icon-large {
    width: 64px;
    height: 64px;
  }
}
