.input-dialog-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: auto;
  border-radius: 16px;
  background: #FFFFFF;
  box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);
  .dialog-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 50px;
    margin: 0 auto;
    line-height: 25px;
    font-weight: 600;
    font-size: 18px;
    color: #26313D;
    text-align: center;
  }
  .dialog-content {
    padding: 0 35px 42px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;
    color: #26313D;
    .adm-input {
      padding-bottom: 12px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #26313D;;
    }
    input {
      margin-left: 10px;
      width: 100%;
      border: none;
      line-height: 25px;
      font-weight: 600;
      font-size: 18px;
      color: #000000;
      outline-style: none;
    }
    input::placeholder {
      color: rgba(38, 49, 61, 0.75);
    }
  }
  footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #EFF3F5;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      height: 100%;
      background-color: #EFF3F5;
    }
    .dialog-btn {
      flex: 1;
      padding: 20px 0;
      line-height: 25px;
      font-size: 18px;
      font-weight: 600;
      color: #26313D;
      text-align: center;
      cursor: pointer;
    }
  }
}