.icon {
  .open {
    background-image: url("./open.svg");
  }
  .open-checked {
    background-image: url("./open-checked.svg");
  }

  .begin {
    background-image: url("./begin.svg");
  }
  .begin-checked {
    background-image: url("./begin-checked.svg");
  }

  .stop {
    background-image: url("./stop.svg");
  }
  .stop-checked {
    background-image: url("./stop-checked.svg");
  }
  .close {
    background-image: url("./close.svg");
  }
  .close-checked {
    background-image: url("./close-checked.svg");
  }

  .reverse {
    background-image: url("./reverse.svg");
  }
  .reverse-checked {
    background-image: url("./reverse-checked.svg");
  }
  .light {
    background-image: url("./light.svg");
  }
  .light-checked {
    background-image: url("./light-checked.svg");
  }
  .more {
    background-image: url("./more.svg");
  }
  .more-checked {
    background-image: url("./more-checked.svg");
  }
  .time {
    background-image: url("./time.svg");
  }
}
