.editor-layout {
    background: #EFF3F5;


}

.switch-scene-popup {
    .adm-popup-body {
        background: transparent !important;
    }

    .adm-switch .adm-switch-checkbox {
        background: #e5e5e5 !important;

        &::before {
            background: #e5e5e5 !important;
        }
    }
}