@import url("./Position.less");

.home {
  width: 100%;
  color: #ffffff;
  // height: calc( 100vh - 90px );
  .dev-block {
    margin-top: 16px;
    padding: 16px;
    margin-bottom: 90px;
    .title {
      font-weight: 600;
      font-size: 12px;
      line-height: 17px;
    }
  }
  .fix-bottom-btn {
    .btn-primary {
      background: #2D374D;
    }
  }
  .switch-icon{
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    display: inline-block;
  }
}

.dev-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .dev-info {
    width: 139px;
    height: 77px;
    background: #2D374D;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 12px;
    padding: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    .dot {
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      position: relative;
      margin-left: 8px;
      color: #ffffff;
      &.dot-disable {
        color: #c6c6c6;
      }
      &.dot-disable:before {
        background: #c6c6c6;
      }
    }
    .dot::before {
      content: " ";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #00a884;
      position: absolute;
      top: 6px;
      left: -8px;
    }
  }
}
.dev-empty {
  padding-top: 100px;
  width: 100%;
  .info {
    font-weight: 600;
    font-size: 12px;
    opacity: 0.8;
  }
}
