.scene_img_wraper{
  float: left;
  height: 343px;
  width: 33%;
  text-align: center;
  font-weight: 500;
  // display: flex;
  .scene_img{
    width: 230px;
    height: 230px;
  }
}

.scene_img_wraper:hover{
  // background: #ccc;
}

.lamp-scene{
  // width: 100%;
  width: 1125px;
  float: left;
  margin-top:20px;
}