.environment {
  text-align: center;
  .environment-wrap {
    margin-top: 100px;
    padding-bottom: 80px;
    // padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .clock, .work, .power {
    width: 295px;
    height: 300px;
    border-radius: 60px;

    img, svg{
      margin-top:70px;
      width: 100px;
      height: 100px;
    }
    div{
      font-family: PingFangSC-Medium;
      font-size: 36px;
      text-align: center;
    }
    .work_font{
      font-family: PingFangSC-Medium;
      font-weight: Medium;
      font-size: 36px;
      color: #B5C4D1;
      text-align: center;
      margin-top: 35px;
    }
    .clock_font{
      font-family: PingFangSC-Medium;
      font-weight: Medium;
      font-size: 36px;
      color: #B5C4D1;
      text-align: center;
      margin-top: 35px;

    }
  }

  .line {
    width: 3.66px;
    height: 80px;
    background-color: var(--global-color-primary);
    position: relative;
    top: 48px;
  }
  [class='^font'] {
    font-weight: 500;
  }

  // .switch-button{
  //   width: 160px;
  //   height: 160px;
  // }
}
