@import url('./LightSwitch.less');

.cus-dev-detail {
  display: none;
}

.switchv3.cus-dev-detail {
  display: block;
  position: static;
}

.icon-editor {
  display: flex;
  align-items: center;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .switch-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .switch-2 {
    display: flex;
    justify-content: space-between;

    .light-switch {
      width: 142px;
    }
  }

  .switch-1, .switch-2, .switch-3 {
    padding: 0 16px 16px 16px;
  }

  .switch-3 {
    display: flex;
    justify-content: space-between;

    .light-switch {
      width: 110px;
      height: 278px;
      border-radius: 0;
      &:first-child{
        border-radius: 16px 0  0 16px;
      }
      &:last-child{
        border-radius: 0 16px 16px 0  ;
      }

      .content {
        .wrapper {
          height: 278px;
          width: 101px;
          .switch-cus-count {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
