@bg:#fbfbfc;;
.fan-shape {
  width: 100%;
  height: 100%;
  position: relative;
  .clip-path {
    width: 100%;
    height: 100%;
    background: @bg;
    position: absolute;
    border-radius: 50%;
  }
}
