.white-light-wrap{
    width: 801px;
    height: 801px;
    border-radius: 100%;
    border-width: 20px;
    margin-top: 188px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
    
    .white-light-content{
        width: 701px;
        height: 701px;
        background-image: linear-gradient(90deg, #EDA656 0%, #FDFFFF 49%, #C3D3FB 100%);  
        border-radius: 50%;

        // display: flex;
        // align-items: center;
        // justify-content: center;

        .color_circles{
            margin-top: 43.06px;
            margin-left: 43.06px; 
            width: 614.88px;
            height: 614.88px;
            border-radius: 100%;
            // border: solid;
            background-color: white;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .white-light-display-dot{
        // position: absolute;
        // left: 200px;
        // margin-Top: 0px;
        // margin-left: -658px;
        margin-left: -10px;
        margin-top: -317.44px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 10px solid #FFFFFF;
        // border: 10px solid #000;
    }
}