.setting {
  background: #F4F8FB;
  min-height: 100vh;
  padding: 50px 80px;
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;

  }
  .setting-list{
    .list-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 60px;
      box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);
      background-color: #FFFFFF;
      margin-bottom: 40px;
      padding: 25px 0;

      .item-title{
        font-size: 62px;
      }
      .item-title, ._component_base_cell_{
        padding: 25px 71px 25px 65px;
      }
    }
  }
  .modal-body{
    padding-top: 20px;
    min-height: 80px;
  }
}

body.theme_dark {
  .setting {
    background: #222532 !important;
    .list-item {
      color: #FFFFFF !important;
      background-image: var(--global-background-color-gradient) !important;
      border: 3px solid rgba(62,68,84,0.20);
      box-shadow: 0 6px 100px 0 #242735;
    }
    .modal-body{
      color: #ffffff;
    }
  }
}
