.home {
  .action {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    // padding: 0 8px;
    color: #ffffff;
    .action-item {
      display: flex;
      // align-items: center;
      justify-content: center;
      flex-direction: column;
      background: @c2;
      border-radius: 16px;
      width: 158px;
      height: 94px;
      border: 1px solid rgba(156, 140, 255, 0.24);
      .action-ele {
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;
        font-size: 15px;
        // margin-top: 10px;
        font-weight: 600;
        // margin: inherit;
        padding: 17px 12px 0 12px;
        > div:last-child {
          margin-top: 4px;
        }
      }
    }
    &.action-off {
      color: @c6;
    }
  }
}
