.dark_head{
    height: 978.68px;
    // width: 1125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // flex-wrap: wrap;

    align-items: center;
    // align-content: center;
    // border: solid;
    .dark_head_fond{
        width: 108px;
        height: 50px;
        font-family: PingFangSC-Medium;
        font-weight: Medium;
        font-size: 36px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 20px;
    }
    .dark_head_img{
        width: 950px;
        height: 763.84px;
        
        // background-image:url('https://tencent-1305105198.cos.ap-guangzhou.myqcloud.com/electric-curtain/https://tencent-1305105198.cos.ap-guangzhou.myqcloud.com/electric-curtain/curtains-curtain-bar-normal.png');

    }
    .dark_bar{
        width: 950px;
        height: 763.84px;
        position:absolute;

        z-index:2;
        background-repeat: no-repeat;
    }
    // .dark_city{
    //     width: 887px;
    //     height: 600px;
    //     z-index:1;
    //     position:absolute;
    //     background-repeat: no-repeat;
    //     background-position: bottom 0;
    //     // background-image: url("https://tencent-1305105198.cos.ap-guangzhou.myqcloud.com/electric-curtain/curtains-city-dark.png");
    // }
    // .dark_leaves{
    //     width: 49.55px;
    //     height: 685.94px;
    //     z-index:3;
    //     position:absolute;
    //     background-repeat: no-repeat;
    //     background-position: bottom 0;
    // }
    .background_city{
        width: 947px;
        height: 736px;
    }
    .dark_city{
        width: 947px;
        height: 736px;
        // z-index:1;
        position:absolute;
        background-repeat: no-repeat;
        background-position: bottom 0;
        margin-top: 14px;
        // background-image: url("https://tencent-1305105198.cos.ap-guangzhou.myqcloud.com/electric-curtain/curtains-city-dark.png");
    }
    .dark_leave_wrap{
        position: absolute;
        width: 890px;
        display: flex;
        margin-top: 20px;
    }
    .dark_leave_space{
        flex: 0%;
    }
    .dark_leave_div{
        width: 22px;
        // transition: width 1s;
    }
    .dark_leaves{
        // width: 53.25px;
        height: 736px;
        // z-index:3;
        // position:absolute;
        background-repeat: no-repeat;
        background-position: bottom 0;
    }
}