.timer-process{
  margin: 16px;
  .p-title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
  }
}
