.home {
  .dashboard {
    width: 760px;
    height: 760px;
    //height: 676px;
    margin: 0 auto;
    //background-color: white;
  }
  > .title {
    padding: 53px 0 56px;
  }

  /*ant重置*/
  /*List*/
  .adm-list {
    &.adm-list-default {
      .adm-list-item {
        //padding-left: 90px;
        .adm-list-item-content {
          padding-right: 73px;
          border-bottom: 0;
        }
      }
    }
  }
  &.power-off {
    #power{
      pointer-events: auto !important;
    }
    *{
      /*color: @color-disabled !important;*/
      pointer-events: none;
    }
  }
}
.devSetting {
  position: absolute;
  left: 100px;
  top: 50px;
  transform: translate(-50%, 11%);
  width: 200px;
  height: 125px;
  border-radius: 0 60px 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  .dev-img{
    width: 75px;
    height: auto;
  }
}
