.icon {

  .editor {
    background-image: url('./editor.svg');
    width: 20px;
    height: 20px;
  }

  .change {
    background-image: url('./change.svg');
    width: 20px;
    height: 20px;
  }

}