.timer-cloud-list {
  // width: 100%;
  margin-top: 0;
  padding: 16px;
  font-size: 12px;
  height: calc(100vh - 86px);
  overflow: auto;
  .timer-list-card {
    background: #1f2738;
    border: 1px solid #050b18;
    border-radius: 16px;
    margin-bottom: 16px;
    color: #ffffff;
    overflow: hidden !important;
    transform: rotate(0deg);
    .adm-swipe-action {
      display: flow-root;
      border-radius: 16px;
      width: 100%;
      background: #1f2738;
      transform: rotate(0deg);
      .adm-swipe-action-track {
        padding: 11px 22px;
      }
      .adm-swipe-action-action-button {
        width: 80px;
        font-weight: 500;
        font-size: 16px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          position: absolute;
        }
      }
      .adm-swipe-action-actions-right {
        margin-left: 1px;
        background: #ff3141;
      }
    }

    // &.open-status {
    //   color: #000000;
    // }
    .timer-list-body {
      display: flex;
      align-items: baseline;
      margin-bottom: 9px;
      > .timer {
        width: 72px;
        font-size: 24px;
        font-weight: 700;
        position: relative;
        bottom: -5px;
      }

      > .switch {
        // width: 150px;
      }

      > .repeat {
        flex: 1;
        font-weight: 500;
        font-size: px;
      }
      .week-small {
        font-size: 12px;
      }
      > .timer-list-desc {
        font-weight: 400;
        font-size: 12px;
      }
    }
  }
}
