.home {
  .photo {
    .bottom-bg {
      background: #FFFFFF;
      border: 1px solid #EFF3F5;
    }
  }

  .operator {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(246, 244, 252, 0.9);
    border-radius: 16px;
    border: 0;

    .title {
      display: none;
    }
  }
}