.heater-disk-wrap {
  position: relative;
  margin: 0 auto;
  width: 308px;
  height: 308px;
  overflow: visible;
  svg {
    overflow: visible;
  }
  .humidifier-disk {
    width: 308px;
    height: 308px;
  }
  .disk-circle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    
    .num {
      margin-top: 3px;
      font-weight: 700;
      font-size: 40px;
      line-height: 47px;
      font-family: 'DIN Alternate';
    }
    .title {
      margin-top: 4px;
      line-height: 20px;
    }
  }
  &.status-active {
    opacity: 1;
  }
  &.status-disable {
    .disk-circle-content {
      color: rgba(255, 255, 255, 0.5);
    }
    .text {
      fill: rgba(6, 6, 6, 0.5);
    }
    .light {
      opacity: 0.5;
    }
  }
}
