.heater-disk-wrap {
  position: relative;
  margin: 0 auto;
  width: 260px;
  height: 260px;
  overflow: visible;
  svg {
    overflow: visible;
  }
  .humidifier-disk {
    width: 260px;
    height: 260px;
  }
  .disk-circle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    
    .num {
      margin-top: 22px;
      font-weight: 700;
      font-size: 40px;
      line-height: 47px;
      font-family: 'DIN Alternate';
    }
    .title {
      margin-top: 4px;
      line-height: 20px;
    }
    .desc {
      margin-top: 22px;
      line-height: 20px;
      color: #FFFFFF;
      opacity: 0.5;
    }
  }
}
