.home {
  position: relative;
  padding: 16px 16px 0;

  header {
    margin-bottom: 58px;
    display: flex;
    align-items: center;
    .child-lock-status {
      flex: 1;
      padding-left: 24px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      opacity: 0.5;
    }
    .more-btn {
      width: 24px;
      height: 24px;
    }
  }

  .disk-wrap {
    display: flex;
    justify-content: center;
  }

  .control-wrap {
    padding: 16px 29px 56px;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
    .minus-btn, .plus-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 10px;
      background: #30414D;
    }
  }

  footer {
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    background: #26313D;
    .footer-top {
      margin: 32px 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      opacity: 0.5;
    }
    .footer-bottom {
      margin: 16px 20px 46px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      opacity: 0.5;
      .rectangle-button {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 154px;
        height: 60px;
        border-radius: 16px;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
        background: #30414D;
      }
    }
  }
  .open-status {
    opacity: 1;
  }
}