@import url('./Icon/Icon.less');
@import url('./AddTimer/List.less');
@import url('./AddTimer/AddTimer.less');
@import url('./AddTimer/Repeat.less');
@import url('./ListTimer/ListTimer.less');
.timer-cloud {
  background: @c0;
  width: 100%;
  .add-timer-btn {
    position: fixed;
    // background:rgba(0, 0, 0, 0.3);
    width: calc(100% - 32px);
    bottom: 33px;
    left: 16px;
    height: 44px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 16px;

    // border: 1px solid transparent;
    // border-radius: 16px;
    // background-clip: padding-box, border-box;
    // background-origin: padding-box, border-box;
    // background-image: linear-gradient(to right, #141620, #141620), linear-gradient(180deg, rgba(255, 255, 255, 0.08), rgba(156, 140, 255, 0.24));

  }
}
