.ticker {
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .btn-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
