.event-photo {
  font-weight: 400;
  font-size: 14px;
  color: @c2;
  .group {
    .content {
      margin-bottom: 24px;
      display: flex;
      flex-wrap: wrap;
      .cus-image {
        margin-top: 16px;
        width: 107px;
        height: 75px;
        margin-right: 10px;
        &:nth-child(3n) {
          margin-right: 0px;
        }
      }
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

}
