.home {
  .dashboard {
    width: 1000px;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    img{
      width: 700px;
      height: 730px;
    }
    .devSetting {
      position: absolute;
      right: -10px;
      top: 45px;
      transform: translate(-50%, 11%);
      width: 125px;
      height: 125px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;
      .dev-setting-img{
        width: 75px;
        height: auto;
      }
    }
  }
}
