.home {
  .dashboard {
    width: 1000px;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    img{
      width: 700px;
      height: 730px;
    }
  }
}
