@import url("./Position.less");
@import url("./LightBright.less");
@import url("./Action.less");

.route-home {
  display: inherit !important;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 24px 20px;

  .change-panel {
    min-height: 494px;

    .mode-list {
      display: flex;
      justify-content: space-around;
      margin-top: 46px;
      margin-bottom: 40px;

      .mode-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .item-color {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .title {
          margin-top: 16px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          color: #FFFFFF;
          opacity: 0.75;
        }
      }
    }
  }

  .cus-dev-detail {
    top: 380px;
    right: 20px;
  }

  &.is-off {
    opacity: 0.5;
    .custom-mask {
      display: block;
    }
  }
  .custom-mask {
    display: none;
    width: calc(100% - 48px);
    height: 70%;
    z-index: 999;
    position: absolute;
    box-sizing: border-box;
  }
}