.home {
    background: #fff;

    .cell {
        .cell-title {
            color: #565477;
            font-weight: 400;
        }
    }

    .custom-tabs {
        .adm-tabs-header {
            background-image: url('../Icon/bg.svg');

            .adm-tabs-tab {
                color: #565477;
            }

            .adm-tabs-tab-active::after {
                background: #565477;
            }
        }

        .adm-tabs-content {
            .modular {
                .modular-container {
                    .cell {
                        padding: 25px 36px 25px 32px;
                    }
                }
            }
        }
    }

    .custom-tabs .adm-tabs-content .modular {
        .modular-title {
            color: #565477;
            font-weight: 400;
        }

        .modular-container .screen-list .my-screen-selected .add-text {
            color: #565477;
            font-weight: 400;
        }

        .modular-container .screen-add {
            .screen-btn {
                background: #F6F4FC;
                border-radius: 16px;

            }

            .add-text {
                color: #565477;
                font-weight: 400;
            }
        }
    }

    .switch-3 {
        background: transparent;

        .light-switch {
            width: 109px;
            height: 300px;
            background: #FFFFFF;
            border: 1px solid #F6F4FC;
            position: relative;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding: 0 5px;

            .wrapper {
                height: 278px;
                background: #FFFFFF;
                box-shadow: 0px 4px 20px rgba(246, 244, 252, 0.9);
                border-radius: 16px;

                .light-icon {
                    top: 37px;
                }

                .flag {
                    top: unset;
                    bottom: 77px;
                }

                .name {
                    color: #594AE1;
                }
            }
        }
    }
}

.layout-popup,
.layout-info-popup {
    .adm-popup-body {
        background: #FFFFFF;
        box-shadow: 0px -4px 20px rgba(246, 244, 252, 0.9);
    }

    .popup-content {
        .header {
            font-weight: 400;
            color: #565477;
        }

        .footer {
            .primary {
                background: #594AE1;
            }
        }
    }
}