@column_height: 143px;
@column_max_count: 3;
.cus-time-picker {
  color: #342A73;
  .adm-popup-body {
    background: #F7F4FD;
  }
  .picker-header {
    font-weight: 600;
    font-size: 20px;
    margin-top: 24px;
  }
  .picker-show-time {
    text-align: center;
    padding-top:24px;
    font-weight: 600;
    font-size: 24px;
  }
  .picker-body {
    margin-top: 32px;
    margin-bottom: 53px;
  }
  .picker-action {
    font-size: 48px;
    line-height: 67px;
    color: #000000;
    padding: 32px 108px 14px 113px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .picker-footer {
    font-size: 16px;
    color:#342A73;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 24px;
    width: 100%;
    padding: 0 24px;
    button {
      background-color: transparent;
      border: none;
      outline: none;
      font-weight: 600;
      background: transparent;
    }
  }
  &.un-pop {
    background: #F7F4FD;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }
}
