.morandi_bormal_head{
    height: 576px;
    // border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    // align-items: flex-end;
    background-image: linear-gradient(180deg, #576273 0%, #414B5B 86%);
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);

    .center_card{
        width: 848px;
        height: 127px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 183px;

        
        .card_span{
            display: flex;
            // flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;

        }
        .vertical{
            width: 2.31px;
            height: 31.02px;
            transform: rotate(0.57deg);
            // border: 3px solid #0F0F0F;
            background-color: #FFFFFF;
        }
    }
}