.home {
  position: relative;
  padding-top: 30px;
  color: #26313D;

  .top {
    display: flex;
    padding: 0 22px;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 32px;

    .mode-content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 121px;
      height: 40px;
      border: 1px solid rgba(156, 140, 255, 0.24);
      background: rgba(0, 0, 0, 0.3);
      border-radius: 16px;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      color: rgba(255, 255, 255, 0.75);
    }
  }

  .disk-wrap {
    margin: 0 auto;
    width: 260px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;

    .outer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: linear-gradient(180deg, rgba(19, 26, 51, 0.8) 0%, rgba(19, 26, 51, 0.5) 100%);
      box-shadow: 41.4629px -16px 108.84px rgba(50, 97, 255, 0.1), -55.7157px -10px 101.066px rgba(90, 51, 255, 0.2), inset 0px -7.77429px 18.14px rgba(0, 45, 78, 0.21), inset 0px 7.77429px 18.14px rgba(0, 17, 41, 0.2);

      .center {
        width: 214px;
        height: 214px;
        border-radius: 50%;
        border: 4px solid #080a13;
        box-shadow: 41.4629px -16px 108.84px rgba(50, 97, 255, 0.1), -55.7157px -10px 101.066px rgba(90, 51, 255, 0.2), inset 0px -7.77429px 18.14px rgba(0, 45, 78, 0.21), inset 0px 7.77429px 18.14px rgba(0, 17, 41, 0.2);
        // box-shadow: 41.4629px -16px 108.84px rgba(50, 97, 255, 0.51), -55.7157px -10px 101.066px rgba(90, 51, 255, 0.42), inset 0px -7.77429px 18.14px rgba(0, 45, 78, 0.21), inset 0px 7.77429px 18.14px rgba(0, 17, 41, 0.2);

        .inner {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 178px;
          height: 178px;
          border-radius: 50%;
          background: #151D3C;
          box-shadow: 41.4629px -16px 108.84px rgba(50, 97, 255, 0.51), -55.7157px -10px 101.066px rgba(90, 51, 255, 0.42), inset 0px -7.77429px 18.14px rgba(0, 45, 78, 0.21), inset 0px 7.77429px 18.14px rgba(0, 17, 41, 0.2);
          color: #fff;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 17px;

          .title {
            opacity: 0.75;
          }

          .content {
            display: flex;
            color: #fff;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 17px;
            margin-top: 28px;

            .value {
              height: 60px;
              font-size: 60px;
              line-height: 60px;
            }

            .unit {
              line-height: 36px;
            }
          }
        }
      }
    }

  }

  .home-footer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .add-reduce {
      display: flex;

      .custom-slider {
        width: 217px;
        height: 40px;
        margin: 0 20px;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        border: 1px solid rgba(156, 140, 255, 0.24);

        .adm-slider {
          padding: 0;
          height: 100%;
          width: 100%;

          .adm-slider-track-container {
            padding: 0;
            width: 100%;
            height: 100%;

            .adm-slider-track {
              height: 100%;
              background: rgba(0, 0, 0, 0.3);

              .adm-slider-fill {
                height: 100%;
                background: linear-gradient(90deg, #354269 0%, #3B3163 100%);
                opacity: 0.6;
              }

              .adm-slider-thumb-container {
                height: 40px;
                width: 40px;
                border-radius: 0;

                .adm-slider-thumb {
                  width: 100%;
                  height: 100%;
                  border-radius: 0;
                  background: transparent;
                  border: 0;
                  box-shadow: none
                }
              }
            }
          }
        }

        .scale-list {
          position: absolute;
          width: 217px;
          height: 40px;
          top: 0;

          .scale {
            width: 1px;
            height: 32px;
            background: linear-gradient(90deg, #354269 0%, #3B3163 100%);
            position: absolute;
            top: 4px;

            &.scale-1 {
              left: 10%;
            }
            &.scale-2 {
              left: 20%;
            }
            &.scale-3 {
              left: 30%;
            }
            &.scale-4 {
              left: 40%;
            }
            &.scale-5 {
              left: 50%;
            }
            &.scale-6 {
              left: 60%;
            }
            &.scale-7 {
              left: 70%;
            }
            &.scale-8 {
              left: 80%;
            }
            &.scale-9 {
              left: 90%;
            }
          }
        }

      }

      .btn {
        width: 24px;
        height: 24px;
        border-radius: 0;

        .icon {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .actions {
      display: flex;
      padding: 0 22px;
      justify-content: space-between;
      margin-bottom: 16px;

      .cell-first,
      .cell-second {
        border-bottom: 0;
        border: 1px solid rgba(156, 140, 255, 0.24);
        background: rgba(0, 0, 0, 0.3);
        border-radius: 16px;

        .cell-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: 100%;

          .cell-prefix-icon {
            margin-right: 0;
            margin-bottom: 16px;
          }

          .icon-arrow-right {
            display: none;
          }
        }
      }

      .cell-first {
        width: 37px;
        height: 82px;
        padding: 20px 24px;
      }

      .cell-second {
        width: 103px;
        height: 94px;
        padding: 0;

        .cell-wrapper {
          justify-content: center;
        }
      }
    }

  }

  // &.power-off {

  //   .icon,
  //   .content,
  //   .value,
  //   .button-name {
  //     opacity: 0.5;
  //   }
  // }
}