.home {
  .action {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    // padding: 0 8px;
    color: #ffffff;

    .action-item {
      display: flex;
      // align-items: center;
      justify-content: center;
      flex-direction: column;
      background: #fff;
      border-radius: 8px;
      width: 120px;
      height: 92px;
      border: 1px solid #EFF3F5;

      .action-ele {
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;
        font-size: 15px;
        // margin-top: 10px;
        font-weight: 600;
        // margin: inherit;
        justify-content: center;
        align-items: center;

        >div:last-child {
          margin-top: 15px;
        }
      }
    }

    .action-item-2 {
      border-radius: 100%;
      width: 60px;
      height: 60px;
      background: #30414D;

      .action-ele-1 {
        padding: 0;
      }

      div:nth-child(2) {
        display: none;
      }
    }

    .action-item-4 {
      width: 343px;
      height: 72px;
      left: 16px;
      top: 664px;

      background: #FFFFFF;
      border: 1px solid #EFF3F5;
      border-radius: 8px;
    }

    &.action-off {
      color: #30414D;
    }

    .cell-settings {
      width: 120px;
      height: 92px;
      margin-top: 24px;
      background: #FFFFFF;
      border: 1px solid #EFF3F5;
      border-radius: 8px;
      padding: 0;
      margin-bottom: 4px;


      &.switch-btn-settings {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 0;
        background: #30414D;

        .cell-wrapper {
          width: 100%;
          height: 100%;

          .cell-prefix-icon {
            margin-bottom: 0;
            margin-top: 0;
          }

          .cell-title-wrapper {
            display: none;
          }
        }

      }

      &.mode-btn-settings {
        width: 343px;
        height: 72px;

        .cell-wrapper {
          width: calc(100% - 36px);
          height: 100%;
          padding: 0 18px;
          flex-direction: row;
          position: relative;

          .cell-prefix-icon {
            margin-right: 18px;
          }

          .icon-arrow-right {
            display: block;
          }

          .cell-title-wrapper {
            .cell-subtitle {
              position: absolute;
              right: 40px;
              top: 24px;
              font-weight: 600;
              font-size: 16px;
              line-height: 22px;
              text-align: right;
              color: rgba(38, 49, 61, 0.75);
            }
          }
        }

      }
    }
  }

  .custom-modal {
    .modal {
      display: flex;
      flex-direction: column;
    }

    .custom-radio {
      display: flex;
      flex-direction: column;
      flex: 1;

      input[type="radio"] {
        opacity: 0;
        width: 0;
        height: 0;
        display: none;
      }

      .radio-item {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.65);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        list-style: none;
        display: block;
        position: relative;
        margin-right: 8px;
        cursor: pointer;
        transition: all .3s ease;

        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #EFF3F5;
        margin: 0 16px;
        padding: 0 8px;
      }

      .radio-item:last-child {
        border: 0;
      }

      .radio-item-label::after {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #30414D;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        content: "";
        right: 0;
        position: absolute;
        top: calc(50% - 10px);
      }

      input[type="radio"]:checked+.radio-item-label::after {
        padding: 4px;
        background-color: #30414D;
        background-clip: content-box;
        border-color: #30414D;
      }

      display: flex;
      flex-direction: column;

      .radio-item-label {
        padding: 16px 0;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #30414D;
        display: block;
        width: calc(100% - 16px);
        text-align: left;
      }
    }

    .modal-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-left: 24px;
      padding-right: 6px;
      padding-top: 20px;

      .title {
        color: #30414D;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
      }

      .selector {
        .adm-dropdown-item-title-text {
          color: #30414D;
          font-family: 'PingFang SC';
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
        }
      }

      .custom-dropdown {
        background: transparent;
        color: #fff;
      }
    }

    .modal-footer {
      .btn:nth-child(1) {
        margin: 0 8px 0 0 !important;
      }

      .btn:nth-child(2) {
        margin: 0 0 0 8px !important;
      }
    }
  }

  .scene-panel {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #FFFFFF;
    padding: 16px;
    border-radius: 8px;

    .scene-item {
      width: 70px;
      height: 48px;
      border-radius: 8px;
      text-align: center;
      font-weight: 600;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1px;
      &.item-0 {
        background: #FFF9DB;
      }

      &.item-1 {
        background: #FFDFDB;
      }

      &.item-2 {
        background: #DBFFF8;
      }

      &.item-3 {
        background: #DBE3FF;
      }

    }
  }

}