@import url("./Position.less");
@import url("./LightBright.less");
@import url("./Action.less");

.route-home {
  display: inherit !important;
}

.home {
  display: flex;
  flex-direction: column;

  // padding: 24px 20px;
  .cus-dev-detail {
    z-index: 1000;
  }

  .change-panel {
    // min-height: 494px;
    position: relative;

    .touch-panel {
      width: 100%;
      height: 437px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(180deg, #BDD0FA 59.43%, rgba(189, 208, 250, 0) 100%);

      .count-down {
        position: absolute;
        width: 200px;
        height: 32px;
        left: calc(50% - 100px);
        bottom: 123px;
        display: flex;
        background: rgba(255, 255, 255, 0.24);
        border-radius: 8px;
        justify-content: center;
        align-items: center;

        span {
          font-weight: 600;
          font-size: 12px;
          line-height: 17px;
          color: #30414D;
        }
      }

      .split-line {
        width: 2px;
        height: 200px;
        background: #FFFFFF;
        opacity: 0.5;
        position: absolute;
        top: 80px;
      }

      .touch-item {
        width: calc(50% - 1px);
        height: calc(100% - 254px);
        display: flex;
        flex-direction: column;
        margin-top: 0;
        align-items: center;
        color: #FFFFFF;

        .title {
          margin-top: 20px;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
        }

        &:first-child {
          margin-top: -18px;
        }
      }

      &.mode-1 {
        background: linear-gradient(180deg, #F9D276 59.43%, rgba(189, 208, 250, 0) 100%);

        .split-line {
          background: #30414D;
        }

        .touch-item {
          color: #30414D;
        }
      }

      &.mode-2 {
        background: linear-gradient(180deg, #FCF0D2 59.43%, rgba(189, 208, 250, 0) 100%);
      }

      &.mode-3 {
        background: linear-gradient(180deg, #FEFFFF 59.43%, rgba(189, 208, 250, 0) 100%);

        .split-line {
          background: #30414D;
        }

        .touch-item {
          color: #30414D;
        }
      }

      &.mode-4 {
        background: linear-gradient(180deg, #BDD0FA 59.43%, rgba(189, 208, 250, 0) 100%);
      }
    }

    .mode-list {
      display: flex;
      justify-content: space-around;
      position: absolute;
      bottom: 28px;
      width: calc(100% - 64px);
      z-index: 10;
      padding: 0 32px;

      .mode-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .item-color {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .title {
          margin-top: 16px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          color: #30414D;
        }
      }
    }
  }

  .dialog-wrap {
    .dialog-content {
      margin-bottom: 24px;

      .item-block {
        margin: 0;
        padding: 16px 0;
        border-bottom: 1px solid #EFF3F5;
      }
    }
  }

  .cus-dev-detail {
    z-index: 1000;
    top: 12px;
    right: 16px;
  }

  &.is-off {
    opacity: 0.5;

    .custom-mask {
      display: block;
    }
  }

  .custom-mask {
    display: none;
    width: 100%;
    height: 50%;
    z-index: 999;
    position: absolute;
    box-sizing: border-box;
  }
}