.theme-list {
    background: #fff;
    .content {
        .header {
            .title {
                font-weight: 400;
                color: #565477;
            }
            .text {
                border: 1px solid #594AE1;
                color: #594AE1 ;
            }
        }
    }
}