.disk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto 131px auto;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  border: 1px solid #1F2738;
  box-shadow: 41.4629px -16px 108.84px rgba(50, 97, 255, 0.51), -55.7157px -10px 101.066px rgba(90, 51, 255, 0.42), inset 0px -7.77429px 18.14px rgba(0, 45, 78, 0.21), inset 0px 7.77429px 18.14px rgba(0, 17, 41, 0.2);

  .content-wrap {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background: linear-gradient(180deg, #131A33 0%, rgba(19, 26, 51, 0.8) 100%);
    box-shadow: 41.4629px -16px 108.84px rgba(50, 97, 255, 0.51), -55.7157px -10px 101.066px rgba(90, 51, 255, 0.42), inset 0px -7.77429px 18.14px rgba(0, 45, 78, 0.21), inset 0px 7.77429px 18.14px rgba(0, 17, 41, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content {
      display: flex;
      margin-left: 20px;
      // margin-top: 48px;
      // margin-left: 80px;
      margin-bottom: 24px;
    }

    .status-desc {
      position: relative;
      padding-left: 12px;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 400;
      color: #FFFFFF;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -4px;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #15C55D;
      }
    }
    .status-active {
      width: 84px;
      &::before {
        background: #D83939;
      }
    }
  }
}
