.senseless-unlock {
  min-height: calc(~"100vh - 170px");
  padding: 85px 80px;
  text-align: center;
  .header-block {
    position: relative;
    padding: 182px 86px 56px 111px;
    margin-bottom: 75px;

    .car-unlock-image {
      margin-bottom: 159px;
      width: 770px;
      height: 390px;
      background-image: url('https://tencent-1305105198.cos.ap-guangzhou.myqcloud.com/electric-car/19341640748320_.pic_hd.jpg');
    }

    .tips {
      display: flex;
      align-items: center;
      justify-content: center;
      .tips-name {
        margin-left: 24px;
        line-height: 67px;
        font-size: 48px;
        color: #FFFFFF;
      }
    }
  }

  .unlock-setting {
    .cell {
      padding: 47px 66px 47px 77px;
      border-radius: 80px;
      background: #FFFFFF;
      box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      &:first-child {
        margin-bottom: 40px;
      }

      .adm-switch.adm-switch-checked .adm-switch-checkbox {
        background-image: linear-gradient(137deg, #C6F5B3 0%, #1E99F5 100%) !important;
      }
      .cell-content-style-normal {
        color: #2C77F5;
      }
    }
    .tips {
      margin-top: 26px;
      line-height: 45px;
      font-weight: 500;
      font-size: 32px;
      color: #FFFFFF;
      text-align: center;
    }
  }
}