.detail {
  .environment {
    display: flex;
    flex-direction: column;

    .device-info {
      .cell {
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px #E6EAF0;
        border-radius: 8px;
        padding: 25px 36px 25px 32px;

        .cell-prefix-icon,
        .icon-editor-other {
          width: 18px;
          height: 18px;
        }
        .cell-prefix-icon {
          margin-right: 12px;
        }
      }

      margin: 12px 16px;
    }

    .info {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background: #FFFFFF;
      box-shadow: 0px 4px 20px #E6EAF0;
      border-radius: 8px;
      margin: 0 16px;

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .detail {
          height: 93px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 0 14px;

          .title {
            font-style: normal;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #182129;
            opacity: 0.75;

            .value {
              font-family: 'DIN Condensed';
              font-weight: 700;
            }

            .unit {
              font-weight: 600;
              font-size: 16px;
              line-height: 22px;
            }

          }

          .desc {
            font-size: 12px;
            line-height: 20px;
            color: rgba(24, 33, 41, 0.5);
          }
        }

        &:nth-child(2) {

          &:after,
          &::before {
            content: '';
            width: 2px;
            background: #555861;
            opacity: 0.1;
            border-radius: 10px;
            height: 56px;
          }
        }
      }
    }

    .btn-config {
      margin: 44px 16px 0 16px;
      width: calc(100% - 32px);
      height: 60px;
    }
  }
}