@import url('./LightSwitch.less');

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;

  .custom-tabs {
    width: 100%;
    height: 100%;

    .adm-tabs-header {
      border-bottom: 0;
      background-image: url('../Icon/bg.svg');
      background-size: 100%;
      width: 100%;
      height: 52px;
      display: flex;
      flex-direction: row;

      .adm-tabs-tab-active {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 42px;
          height: 2px;
          background: #182129;
          top: 42px;
          left: calc(50% - 21px);
        }
      }

      .adm-tabs-tab-list {
        width: 100%;
        height: 100%;
      }
    }

    .adm-tabs-content {
      padding: 0;
      padding-top: 8px;
      display: flex;
      flex-direction: column;

      .modular {
        margin: 8px 16px 16px 16px;

        .modular-title {
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          margin-bottom: 12px;
          display: flex;
          justify-content: space-between;

          .editor-btn {
            width: 24px;
            height: 24px;
            margin-right: 12px;
            background: transparent;
          }
        }

        .modular-container {
          .cell {
            background: #FFFFFF;
            box-shadow: 0px 4px 20px #E6EAF0;
            border-radius: 8px;
            padding: 25px 36px 25px 32px;
          }

          .cell-prefix-icon {
            margin-right: 12px;
          }

          .screen-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 100%;

            .my-screen-selected {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-right: calc((100% - 297px) / 2);
              margin-bottom: 20px;

              .add-text {
                margin-top: 8px;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #182129;
              }

              &:nth-child(3n+3) {
                margin-right: 0;
              }
            }
          }

          .screen-add {
            margin-top: -2px;

            display: flex;
            flex-direction: column;
            align-items: center;

            .screen-btn {
              width: 95px;
              height: 95px;
              background: #30414D;
              border-radius: 0;
              margin-top: 2px;
            }

            .add-text {
              margin-top: 6px;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #30414D;

            }

          }

        }

        .my-screen {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }

  //   .switch-1 {
  //     padding: 90px 82px 110px 82px;
  //   }
  //   .switch-2 {
  //     display: flex;
  //     padding: 50px 25px 23px 25px;
  //     justify-content: space-between;
  //     .light-switch {
  //       width: 160px;
  //     }
  //   }
  .switch-3 {
    display: flex;
    margin: 8px 16px 12px 16px;
    background: #EFF3F5;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

    .light-switch {
      width: 103px;
    }

    .light-switch:nth-child(2) {
      margin: 0 8px;
    }
  }

}

.layout-popup,
.layout-info-popup {
  .popup-content {
    height: 634px;
    overflow: hidden;
    padding: 24px 0;
    box-sizing: border-box;

    .header {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      height: 22px;
      display: flex;
      align-items: center;
      color: #182129;
      justify-content: center;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      padding: 0 24px;
      margin-top: 24px;
      height: calc(100% - 112px);
      box-sizing: border-box;
      overflow: auto;
      justify-content: space-between;
    }

    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 60px;
      padding: 0 24px;

      .custom-btn {
        box-sizing: border-box;
        width: 148px;
        height: 56px;
        border: 1px solid rgba(48, 65, 77, 0.3);
        border-radius: 12px;
        background: #fff;
        color: #30414D;
        font-size: 16px;
        line-height: 22px;
      }

      .primary {
        background: #4D9CF8;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
        backdrop-filter: blur(250px);
        border: 1px solid transparent;
        color: #fff;
      }

      .disabled {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), #4D9CF8;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
        backdrop-filter: blur(250px);
        border: 1px solid transparent;
        color: #fff;
      }
    }
  }
}

.layout-info-popup {
  .popup-content {
    height: 520px;

    .content {
      align-items: center;
      display: flex;
      width: 206px;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      margin-top: 24px;
      position: relative;
      height: unset;
      overflow: unset;
      box-sizing: unset;
      flex-wrap: unset;

      .info {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #30414D;
      }

      .info-photo {
        padding: 12px 0;
        box-sizing: border-box;
      }

      .arrow-1 {
        position: absolute;
        top: 16px;
        left: -50px;
      }

      .arrow-2 {
        position: absolute;
        bottom: 16px;
        right: -36px;
      }
    }

    .footer {
      justify-content: center;
      margin-top: 40px;

      .custom-btn {
        width: 100%;
      }
    }
  }

}
