.home{
  .devSetting {
    position: absolute;
    left: 80px;
    top: 25px;
    transform: translate(-50%, 11%);
    width: 200px;
    height: 100px;
    border-radius: 0 60px 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    .dev-img{
      width: 75px;
      height: auto;
    }
  }
}

.vshow{
    display: block;
}

.vhide{
    display: none;
}
