.disk {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 308px;
  height: 308px;
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-image: url('./bg.svg');
    background-position: center;
    background-size: contain;
    z-index: 2;

    .disk-icon {
      position: relative;
      margin-top: 92px;
      z-index: 3;
    }

    .number {
      position: relative;
      margin-top: 9px;
      font-family: DIN Alternate;
      font-weight: bold;
      font-size: 38px;
      line-height: 44px;
      color: #FFFFFF;
      z-index: 3;
    }
  }
  .status-desc {
    position: absolute;
    left: 50%;
    bottom: -36px;
    transform: translateX(-50%);
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
    color: #060606;
  }
  .pulse {
    position: absolute;
    border-radius: 50%;
  }
  .pulse1 {
    top: 24px;
    left: 24px;
    width: 260px;
    height: 260px;
    opacity: 1;
  }
  
  .pulse2 {
    left: 12px;
    top: 12px;
    width: 284px;
    height: 284px;
    background: #FCF8F6;
    opacity: 0.5;
  }
  
  .pulse3 {
    top: 0;
    left: 0;
    width: 308px;
    height: 308px;
    background: #FCF8F6;
    opacity: 0.35;
  }

  .pulseAnimation {
    animation-iteration-count: infinite;
    animation-timing-function: forwards;
    animation-duration: 2s;
    animation-name: diffusion;
  }
}

@keyframes diffusion {
  0% {
  }
  100% {
    opacity: 0;
  }
}

