
/*蓝白主题*/
.color_primary() {
  color: var(--global-color-white);
}
.theme_blue_white {
  background: #006fff;

  .bar_end{
    background: #205AF8 !important;
  }
  .bar_go{
    background: #205AF8 !important;
  }
  .oven_head{
    padding-top:0;
  }
  .oven_foot{
    .foot_card{
      margin-top: 120px;
      .card_font{
        background: #0074FF !important;
      }
    }
  }

  .bar_1{
    .lightbright-mark{
      color: #B5C4D1;
      .lightbright-value-text{
        color: #000000;
      }
    }
    .lightbright-slider{
      background: #e5f1ff;
      .lightbright-progress{
        background: #0074FF;
        .lightbright-progress-dot{
          background: #FBFBFF;
        }
      }
    }
  }
  .bar_2{
    .lightbright-mark{
      color: #B5C4D1;
      .lightbright-value-text{
        color: #000000;
      }
    }
    .lightbright-slider{
      background: #e5f1ff;
      .lightbright-progress{
        background: #0074FF;
        .lightbright-progress-dot{
          background: #FBFBFF;
        }
      }
    }
  }
  .bar_3{
    .lightbright-mark{
      color: #B5C4D1;
      .lightbright-value-text{
        color: #000000;
        }
      }

      .lightbright-slider{
        background: #e5f1ff;
        .lightbright-progress{
          background: #0074FF;
          .lightbright-progress-dot{
            background: #FBFBFF;
          }
        }
      }
    }
  .home{
      .head_card{
        margin-top: 120px;

        .span_size1{
          color: #FFFFFF;
          &.power-off{
            color: #4090FF;
          }
          &.idle-state{
            color: #4090FF;
          }
        }
        .span_size2{
          color: #FFFFFF;

          &.power-off{
            color: #4090FF;
          }
          &.idle-state{
            color: #4090FF;
          }
        }
          .card_foot{
          // background: #0074FF;
          .foot_span{
            .span_size{
              color: #FFFFFF;
              &.power-off{
                color: #4090FF;
              }
              &.idle-state{
                color: #4090FF;
              }
            }

          }
        }
      }
      .right_size{
        color: #FFFFFF;
        &.power-off{
          color: #4090FF;
        }
        &.idle-state{
          color: #4090FF;
        }
      }
      .right_num{
        color: #FFFFFF;
        &.power-off{
          color: #4090FF;
        }
        &.idle-state{
          color: #4090FF;
        }
      }

    .right_botton{
      .span_num{
        color: #FFFFFF;
        &.power-off{
          color: #4090FF;
        }
        &.idle-state{
          color: #4090FF;
        }
      }
    }
    .right_botton1{
      color: #FFFFFF;
      &.power-off{
        color: #4090FF;
      }
      &.idle-state{
        color: #4090FF;
        .font_right1{
          text-align: center;
        }
      }

      .font_right1{
        color: #FFFFFF;
        &.power-off{
          color: #4090FF;
        }
        &.idle-state{
          color: #4090FF;
        }
      }


    }
    .card_span1{
      .foot_size{
        color: #FFFFFF;
        &.power-off{
          color: #4090FF;
        }
        &.idle-state{
          color: #4090FF;
        }
      }
    }
    .left_num{
      color: #FFFFFF;
      &.power-off{
        color: #4090FF;
      }
      &.idle-state{
        color: #4090FF;
      }
    }
    .left_size{
      color: #FFFFFF;
      &.power-off{
        color: #4090FF;
      }
      &.idle-state{
        color: #4090FF;
      }
    }
    .cooking_icon_card{

      background: #4093ff;
      border-radius: 25px;
    }
    .head_card{
      background: none;
      border: none;
      box-shadow: none;
    }
    .center_card{
      background: none;
      box-shadow: none;
      border: none;
      margin-top: 0;

      .work_card_icon{
        opacity: 0.5;
      }
      .check{
        opacity: 1;
      }
      .card_title{
        color: #FFFFFF;
      }
      .card_size{
        color: #FFFFFF !important;
      }
    }

    .center_closure{
      color: #4090FF;
    }
    .center_cooking{
      color: #FFFFFF;
    }
    .center_paused{
      color: #FFFFFF;
    }
    .center_standby{
      color: #FFFFFF;
    }

  }
}
/*暗色主题*/
.theme_dark {
  .modal-inner{
    background-color: #263240;
    .modal-header{
      color: #FFFFFF;
      background-color: #263240;
      border-bottom: 1px solid #3B4757;
    }
    .modal-body{
      color: #FFFFFF;
      background-color: #263240;
      .adm-list{
        background-color: #263240;
        .adm-list-inner{
          background-color: #263240;
          .tube_temperature{
            background-color: #263240;
          }
        }
      }
    }
    .modal-footer{
      .footer-buttons{
        .button-cancel{
          background-color: #263240;
          color: #B5C4D1;
        }
        .button-confirm{
          background-color: #263240;
          color: #FFFFFF;
        }
      }
    }
  }
  .detail{
    background-image: linear-gradient(139deg, #333E4D 0%, #202C3A 100%);
    box-shadow: 0 6px 100px 0 #242735;

    .detail_title{
      color: #FFFFFF !important;
    }
    .heating_top{
      color: #FFFFFF !important;
    }

    .heating_span{
      color: #FFFFFF !important;
      .heating_font{
        color: #B5C4D1 !important;
      }
      .heating_font1{
        color: #B5C4D1 !important;
      }
    }
    .bar_size{
      color: #FFFFFF !important;
    }
    .bar_num{
      color: #FFFFFF !important;
    }
    .bar_botton{
      border-top-color: #323F4C;
    }
  }
  .bar_end{
    background: none;
    background-image: linear-gradient(180deg, #00ACFF 0%, #576FF3 86%) !important;
  }
  .bar_go{
    background: none;
    background-image: linear-gradient(180deg, #00ACFF 0%, #576FF3 86%) !important;
  }
  .bar_1{
    .lightbright-mark{
      color: #FFFFFF;
      .lightbright-value-text{
        color: #FFFFFF;
      }
    }
    .lightbright-slider{
      background: #34404e;
      .lightbright-progress{
        background: none;
        background-image: linear-gradient(137deg, #00F0FF 0%, #5572F3 100%);
        .lightbright-progress-dot{
          background: #FBFBFF;
        }
      }
    }
  }
  .bar_2{
    .lightbright-mark{
      color: #FFFFFF;
      .lightbright-value-text{
        color: #FFFFFF;
      }
    }
    .lightbright-slider{
      background: #34404e;
      .lightbright-progress{
        background: none;
        background-image: linear-gradient(137deg, #00F0FF 0%, #5572F3 100%);
        .lightbright-progress-dot{
          background: #FBFBFF;
        }
      }
    }
  }
  .bar_3{
    .lightbright-mark{
      color: #FFFFFF;
      .lightbright-value-text{
        color: #FFFFFF;
      }
    }

    .lightbright-slider{
      background: #34404e;
      .lightbright-progress{
        background: none;
        background-image: linear-gradient(137deg, #00F0FF 0%, #5572F3 100%);
        .lightbright-progress-dot{
          background: #FBFBFF;
        }
      }
    }
  }
  .home{

    .card_span1{
      .foot_size{
        &.power-off{
          visibility: hidden;
        }
        &.idle-state{
          visibility: hidden;
        }
      }
    }
    .left_size{
      color: #B5C4D1;
    }
    .head_card{
      background-image: linear-gradient(139deg, #333E4D 0%, #202C3A 100%);
      box-shadow: 0 6px 100px 0 #242735;
      color: #FFFFFF;


      .span_center{
        color: #FFFFFF;
      }
      .foot_size{
        color: #FFFFFF;
      }
      .right_num{
        color: #FFFFFF;
      }
      .left_num{
        color: #FFFFFF;
      }
      .span_size{
        color: #B5C4D1;
      }
      .span_num{
        color: #B5C4D1;
      }
      .font_right1{
        color: #B5C4D1;
      }
      .span_size1{
        color: #B5C4D1;
      }
      .span_size2 {
        color: #B5C4D1;

      }
    }

    .right_size{
      color: #B5C4D1;
      visibility: visible;
      &.power-off{
        visibility: hidden;
        color: #B5C4D1;
      }
      &.idle-state{
        visibility: hidden;
        color: #B5C4D1;
      }
    }
    .right_num{
      visibility: visible;

      &.power-off{
        visibility: hidden;
        color: #FFFFFF;
      }
      &.idle-state{
        visibility: hidden;
        color: #FFFFFF;

      }
    }

    .center_card{
      background-image: linear-gradient(139deg, #333E4D 0%, #202C3A 100%);
      box-shadow: 0 6px 100px 0 #242735;
      .work_card_icon{
        background: #374F6B !important;
      }
      .check{
        background-image: linear-gradient(139deg, #15D0FC 0%, #5475F4 100%) !important;;
      }
      .card_title{
        color: #FFFFFF;
      }
      .card_size{
        color: #FFFFFF !important;
      }
    }

    .foot_card{
      background: #273241;
      box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      .card_font{
        background: none;
        background-image: linear-gradient(180deg, #19CCFC 0%, #5376F4 83%);
      }
    }

  }
}
/*多彩主题*/
.theme_colorful {
  .bar_end{
    background: #205AF8 !important;
  }
  .bar_go{
    background: #205AF8 !important;
  }
  .oven_foot{
    .foot_card{
      .card_font{
        background: #0074FF !important;
      }
    }
  }
  .detail{
    margin-top: -530px;
  }
  .bar_1{
    .lightbright-mark{
      color: #B5C4D1;
      .lightbright-value-text{
        color: #000000;
      }
    }
    .lightbright-slider{
      background: #e5f1ff;
      .lightbright-progress{
        background: #0074FF;
        .lightbright-progress-dot{
          background: #FBFBFF;
        }
      }
    }
  }
  .bar_2{
    .lightbright-mark{
      color: #B5C4D1;
      .lightbright-value-text{
        color: #000000;
      }
    }
    .lightbright-slider{
      background: #e5f1ff;
      .lightbright-progress{
        background: #FFC704;
        .lightbright-progress-dot{
          background: #FBFBFF;
        }
      }
    }
  }
  .bar_3{
    .lightbright-mark{
      color: #B5C4D1;
      .lightbright-value-text{
        color: #000000;
        }
      }

      .lightbright-slider{
        background: #e5f1ff;
        .lightbright-progress{
          background: #2AE366;
          .lightbright-progress-dot{
            background: #FBFBFF;
          }
        }
      }
    }
 .home{
   .center_card{
     .work_card_icon{
       opacity: 0.4;
     }
     .check{
       opacity: 1;
     }
   }
    .card_foot{
      // background: #205AF8;
      .foot_span{
        .span_size{

          &.power-off{
            color: #B5C4D1 !important;
          }
          &.idle-state{
            color: #B5C4D1 !important;
          }
        }
        .span_size1{
          color: #B5C4D1
        }

      }
    }
    .span_size2{
      color: #B5C4D1;
    }
    .right_size{
      color: #B5C4D1;
      &.power-off{
        visibility: hidden;
      }
      &.idle-state{
        visibility: hidden;
      }
    }
    .right_num{
      &.power-off{
        visibility: hidden;
      }
      &.idle-state{
        visibility: hidden;
      }
    }
    .card_span1{
      .foot_size{
        &.power-off{
          visibility: hidden;
        }
        &.idle-state{
          visibility: hidden;
        }
      }
    }


    .left_num{
      color: #000000;
      &.power-off{
        color: #B5C4D1 ;

      }
      &.idle-state{
        color: #B5C4D1 ;

      }
    }
    .left_size{
      color: #B5C4D1;
    }
    .right_botton{
      .span_num{
        &.power-off{
          color: #B5C4D1 !important;
        }
        &.idle-state{
          color: #B5C4D1 !important;
        }
      }
    }
    .right_botton1{
      .font_right1{
        // text-align: center;
        &.power-off{
          color: #B5C4D1 !important;
        }
        &.idle-state{
          color: #B5C4D1 !important;
        }
      }
    }
  }
}
/*莫兰迪主题*/
.theme_morandi {


  .bar_end{
    background: #B5ABA1 !important;
  }
  .bar_go{
    background: #B5ABA1 !important;
  }
  .detail{
    margin-top: -500px;
  }
  .oven_foot{
    .foot_card{
      margin-top: 120px;
    }
  }
  .bar_1{
    .bar_size{
      color: #808B9D;
    }
    .lightbright-mark{
      color: #B5C4D1;
      .lightbright-value-text{
        color: #808B9D;
      }
    }
    .lightbright-slider{
      background: #e5f1ff;
      .lightbright-progress{
        background: none;
        background-image: linear-gradient(137deg, #808C9D 0%, #414B5B 100%);
        .lightbright-progress-dot{
          background: #FBFBFF;
        }
      }
    }
  }
  .bar_2{
    .bar_size{
      color: #808B9D;
    }
    .lightbright-mark{
      color: #B5C4D1;
      .lightbright-value-text{
        color: #808B9D;
      }
    }
    .lightbright-slider{
      background: #e5f1ff;
      .lightbright-progress{
        background: none;
        background-image: linear-gradient(137deg, #808C9D 0%, #414B5B 100%);
        .lightbright-progress-dot{
          background: #FBFBFF;
        }
      }
    }
  }
  .bar_3{
    .bar_size{
      color: #808B9D;
    }
    .lightbright-mark{
      color: #B5C4D1;
      .lightbright-value-text{
        color: #808B9D;
        }
      }

      .lightbright-slider{
        background: #e5f1ff;
        .lightbright-progress{
          background: none;
          background-image: linear-gradient(137deg, #808C9D 0%, #414B5B 100%);
          .lightbright-progress-dot{
            background: #FBFBFF;
          }
        }
      }
    }
    .oven_head{
      // margin-top: 0;
      padding: 0;
    }
  .home {
    background-color: #F4F8FB;
    .center_card{
      .check{
        background: #B5ABA1 !important;
      }
    }
    .card_foot{
      .foot_span{
        .span_size{
          &.power-off{
            color: #B5C4D1 !important;
          }
          &.idle-state{
            color: #B5C4D1 !important;
          }
        }

      }
    }

    .right_botton{
      .span_num{
        color: #FFFFFF;
        &.power-off{
          color: #B5C4D1 !important;
        }
        &.idle-state{
          color: #B5C4D1 !important;
        }
      }
    }
    .right_botton1{
      .font_right1{
        &.power-off{
          color: #B5C4D1 !important;
        }
        &.idle-state{
          color: #B5C4D1 !important;
        }
      }
    }
    // .oven_head{
    //   flex-direction: column;
    //   align-items: center;
    // }
    .card_title{
      visibility: hidden;
    }
    .card_size{
      color: #566172 !important;
    }
    .card_font{
      background: #B5ABA1 !important;
    }
    .cooking_icon_foot_card{
      background-color: #707884;
    }
    .span_size2{
      color: #B5C4D1;
    }
    .oven_head{
      background: none;
      background-image: linear-gradient(180deg, #576273 0%, #414B5B 86%);
      box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);

      .head_card{
        background: none;
        border: none;
        box-shadow: none;

        .right_num{
          color: #FFFFFF;
          &.power-off{
            visibility: hidden;
          }
          &.idle-state{
            visibility: hidden;
          }
        }
        .right_size{
          color: #B5C4D1;
          &.power-off{
            visibility: hidden;
          }
          &.idle-state{
            visibility: hidden;
          }
        }
        .font_right1{
          color: #FFFFFF;

          &.power-off{
            color: #B5C4D1;
          }
          &.idle-state{
            color: #B5C4D1;
          }
        }
        .card_span1{
          .foot_size{
            color: #FFFFFF;
            &.power-off{
              visibility: hidden;
            }
            &.idle-state{
              visibility: hidden;
            }
          }
        }

        .span_center{
          color: #FFFFFF !important;
        }
        .left_num{
          color: #FFFFFF !important;
        }
        .left_size{
          color: #B5C4D1;
        }

        .span_size{
          color: #FFFFFF !important;
        }
        .span_size1{
          color: #B5C4D1;
        }

      }
    }
  }
}
/*正常主题*/
.theme_normal {
  background: #f4f8fb;

  .oven_foot{
    .foot_card{
      // margin-top: 120px;
      .card_font{
        background: #000000 ;
      }
    }
  }

  .home {
    min-height: 100vh;
    background: #F4F8FB;

    .detail{
      margin-top: -520px;
    }
    .oven_foot{
      .foot_card{
        margin-top: 100px;
      }
    }
    .oven_center{
      .card_span{
        .check{
          background: #000000;
        }
      }
    }
    .card_foot{
      .foot_span{
        .span_size{

          &.power-off{
            color: #B5C4D1 !important;
          }
          &.idle-state{
            color: #B5C4D1 !important;
          }
        }

      }
    }

    .right_size{
      &.power-off{
        visibility: hidden;
      }
      &.idle-state{
        visibility: hidden;
      }
    }
    .right_num{
      &.power-off{
        visibility: hidden;
      }
      &.idle-state{
        visibility: hidden;
      }
    }

    .left_size{
      &.power-off{
        color: #B5C4D1 ;
      }
      &.idle-state{
        color: #B5C4D1 ;
      }
    }
    .left_num{
      &.power-off{
        color: #B5C4D1 ;
      }
      &.idle-state{
        color: #B5C4D1 ;
      }
    }

    .span_size1{
      color: #B5C4D1 ;
    }
    .span_size2{
      color: #B5C4D1 ;
    }
    .card_span1{
      .foot_size{
        &.power-off{
          visibility: hidden;
        }
        &.idle-state{
          visibility: hidden;
        }
      }
    }

    .right_botton{
      .span_num{
        &.power-off{
          color: #B5C4D1 !important;
        }
        &.idle-state{
          color: #B5C4D1 !important;
        }
      }
    }
    .right_botton1{
      .font_right1{
        &.power-off{
          color: #B5C4D1 !important;
        }
        &.idle-state{
          color: #B5C4D1 !important;
        }
      }
    }

  }
}

