.icon {
  font-size: 0;

  .switch {
    width: 24px !important;
    height: 24px !important;
    background-image: url('./switch.svg');
  }

  .mode {
    width: 24px;
    height: 24px;
    background-image: url('./mode.svg');
  }

  .time {
    width: 24px;
    height: 24px;
    background-image: url('./time.svg');
  }

  .count {
    width: 24px;
    height: 24px;
    background-image: url('./count.svg');
  }

  .minus {
    width: 24px;
    height: 24px;
    background-image: url('./minus.svg');
  }

  .plus {
    width: 24px;
    height: 24px;
    background-image: url('./plus.svg');
  }
  .light {
    background-image: url('./light.svg');
  }
  .hum {
    width: 102px;
    height: 182px;
    background-image: url('./hum.svg');
  }
}