.power-tools-bar {
  display: flex;
  padding: 100px 123px 108px;
  justify-content: space-around;
  align-items: center;
  button {
    .label {
      width: 154px;
      height: 50px;
      line-height: 50px;
      margin-top: 28px;
      font-size: 36px;
      text-align: center;
      color: #B5C4D1;
    }
  }
  .btn-power-switch {
    width: 300px;
    height: 300px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 180px;
      height: 180px;
    }
  }
}
