.morandi_foot{
    height: 459px;
    display: flex;
    align-items: flex-end;

    .foot_card{
        width: 1125px;
        height: 393px;
        // height: 793px;
        // background: #FFFFFF;
        // box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        // border-radius: 120px 120px 0 0;
        // margin-top: 66px;

        .foot_botton{
            height: 389px;
            display: flex;
            justify-content: center;
            align-items: center;
            // border-bottom: 3px solid #EDEEF2;

            .botton_span{
                height: 230px;
                width: 879px;
                // border: solid 1px;

                display: flex;
                justify-content: space-around;
                align-items: center;

                // .span_switch{
                //     height: 230px;
                //     width: 230px;
                // }
            }
        }
        
    }

}