.theme_normal_center{
    height: 300px;
    display: flex;
    justify-content: center;
    .normal_card{
        height: 300px;
        width: 969px;
        display: flex;
        justify-content: space-between;

        .center_botton{
            width: 295px;
            height: 300px;
            background: #FFFFFF;
            box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
            border-radius: 60px;
            display: flex;
            justify-content: center;
            // flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            
    
            .botton_font{
                width: 154px;
                height: 50px;
                font-family: PingFangSC-Medium;
                font-weight: Medium;
                font-size: 36px;
                color: #B5C4D1;
                text-align: center;
                margin-top: 30px;
            }
        }
    }
    .adm-list-item-content{
        border: none !important;
      }
    
}