.light-bright {
  font-size: 36px;
  margin: 24px 16px;
  .border {
    border: none;
  }
  &.off-switch {
    .value-text {
      color:  @c6;
    }
    .mark-op-btn{
      color: @c6;
    }
    .progress{
      background: @c6 !important;
    }
  }
  .mark-op-btn {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }
  .progress {
    background: @c2 !important;
  }
}
