.icon {
  font-size: 0;
  .record {
    width: 32px;
    height: 32px;
    background-image: url('./record.svg');
  }
  .settings {
    width: 25px;
    height: 24px;
    background-image: url('./settings.svg');
  }
}