.detail {
    .environment {
        .device-info {
            .cell {
                border: 1px solid #9C8CFF3D;
                background: rgba(0, 0, 0, 0.3);
                border-radius: 16px;
                box-shadow: unset;

                .cell-prefix-icon,
                .icon-editor-other {
                    width: 18px;
                    height: 18px;
                }

                .cell-prefix-icon {
                    margin-right: 12px;
                }
            }

            margin: 12px 16px;
        }

        .info {
            border: 1px solid #9C8CFF3D;
            background: rgba(0, 0, 0, 0.3);
            box-shadow: unset;
            border-radius: 16px;
            .item {
                .detail {
                    .title {
                        color: #fff;
                        opacity: 0.75;

                        .value {
                            color: #fff;
                        }

                        .unit {
                            color: rgba(255, 255, 255, 0.5);
                        }

                    }

                    .desc {
                        color: rgba(255, 255, 255, 0.5);
                    }
                }

                &:nth-child(2) {
                    &:after,
                    &::before {
                        background: transparent;

                    }
                }
            }
        }
    }
}