.home {
  position: relative;

  .dashboard {
    width: 760px;
    height: 760px;
    //height: 676px;
    margin: 0 auto;
  }
  .devSetting {
    position: absolute;
    right: 35px;
    top: 310px;
    transform: translate(-50%, 11%);
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    img{
      width: 75px;
    }
  }
  > .title {
    padding: 53px 0 56px;
  }

  /*ant重置*/
  /*List*/
  .adm-list {
    &.adm-list-default {
      .adm-list-item {
        //padding-left: 90px;
        .adm-list-item-content {
          padding-right: 73px;
          border-bottom: 0;
        }
      }
    }
  }
  &.power-off {
    #power-new{
      pointer-events: auto !important;
    }
    *{
      /*color: @color-disabled !important;*/
      pointer-events: none;
    }
  }
}
