._component_business_list_picker_ {
  &.is_hidden {
    display: none;
  }

  .dialog-selection {
    .dialog-selection-item {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 48px;
      line-height: 70px;
      color: #0f0f0f;

      &.is_disabled {
        color: #B5C4D1;
        .svg-icon {
          color: #B5C4D1;
        }
      }
    }
    .item-label {
      margin-right: 43px;
      padding: 41px 0;
    }
  }

  .adm-list, .adm-list-item-content {
    border: none;
  }

  .adm-dialog-wrap {
    .adm-dialog-main {
      border-radius: 60px;
    }

    .adm-dialog-body {
      padding: 0;
      // 弹窗标题样式
      .adm-dialog-body-title {
        font-size: 48px;
        line-height: 67px;
        color: #000000;
        padding: 72px 0 23px;
      }
      // 弹窗内容部分样式
      .adm-dialog-body-message {
        width: 100%;
        max-height: 1100px;
      }
      // .adm-dialog-body-message-wrapper {
      //   .adm-list-inner {
      //     .adm-list-item {
      //       .adm-list-item-content {
      //         padding: 0;
      //         border: none;
      //       }
      //     }
      //   }
      // }
    }
    // 弹窗底部 footer 样式
    .adm-dialog-footer {
      .adm-dialog-action-row {
        padding: 84px 0 72px;
        border-top: 3px solid #EDEEF2;
      }
      .adm-dialog-action-row > button.adm-dialog-button {
        font-size: 48px;
        line-height: 67px;
        color: #000;
        border: none;
        padding: 0;
      }
      .adm-button::before {
        background-color: transparent;
      }
    }
  }
  .item-select-icon{
    .svg-icon-unselected {
      padding: 22px 17px;
      width: 36px;
      height: 25px;
    }
    .svg-icon-selected{
      width: 69px;
      height: 69px;
    }
    .svg-icon-selected-dark {
      width: 69px;
      height: 69px;
    }
  }
  &.layout-middle {
    .dialog-selection-item {
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
      .item {
        position: relative;
        .item-label {
          margin-right: 0;
          padding: 41px 0;
        }
        .item-select-icon {
          position: absolute;
          top: 50%;
          right: -139px;
          margin-top: -35px;
        }
      }
    }
  }
  &.layout-spaceBetween {
    .dialog-selection {
      padding-top: 30px;
      .dialog-selection-item {
        padding: 0 73px 73px 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .item-label {
        margin-right: 0;
        padding: 0;
      }
      .item-select-icon {
        display: flex;
        font-size: 0;
      }
    }
  }
}
body.theme_dark {
  ._component_business_list_picker_{
    .adm-dialog-main{
      background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
      .adm-dialog-body-title, .dialog-selection-item{
        color: #ffffff !important;
      }
      .adm-dialog-action-row{
        border-top: 3px solid #768092;
        button:first-child{
          color: #768092 !important;
        }
        button:last-child{
          color: #ffffff !important;
        }
      }
      .adm-dialog-footer {
        .adm-dialog-action-row {
          border-top: 3px solid #344050;
        }
      }
    }
  }
}
