.disk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto 131px auto;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(162, 157, 217, 0.5);
  border: none;
  position: relative;

  &::before {
    content: ' ';
    position: absolute;
    width: 2px;
    height: calc(100% - 20px);
    background: linear-gradient(to bottom, #C6C4E9 0%, #fff 50%, #fff 50%);
    animation: fadenum 10s infinite;
    transition: all .1s ease-in 0ms;
  }

  // &::after {
  //   content: ' ';
  //   width: 2px;
  //   height: 60px;
  //   background: #C6C4E9;
  //   position: absolute;
  //   top: 10px;
  //   border-radius: 100px;
  // }

  .content-wrap {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: none;

    &::after {
      content: ' ';
      width: 120px;
      height: 120px;
      background: #FFFFFF;
      border-radius: 100%;
    }

    .content {
      display: none;
    }

    .status-desc {
      position: absolute;
      padding-left: 16px;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 600;
      color: #30414D;
      top: calc(50% - 10px);
      width: auto;
      text-align: center;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -4px;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #15C55D;
      }
    }

    .status-active {
      width: 84px;

      &::before {
        background: #D83939;
      }
    }
  }
}

@keyframes fadenum {
  100% {
    transform: rotate(360deg);
  }
}