.cus-time-picker-list {
    .fix-bottom-btn {
        margin-bottom: 53px;

        .btn {
            background: transparent !important;
            border: 1px solid rgba(48, 65, 77, 0.3);
            border-radius: 12px;

            .btn-text {
                color: rgba(216, 57, 57, 1)
            }
        }
    }
}