.users {
  min-height: calc(~"100vh - 24px");;
  padding: 12px 16px;

  .cell-user {
    position: relative;
    padding: 14px 16px 14px 30px;
    width: 100%;
    border-radius: 16px;
    background: #FFFFFF;
    .cell-title {
      margin-bottom: 21px;
    }
    .cell-subtitle {
      position: absolute;
      left: 82px;
      bottom: 14px;
      margin: 0;
      line-height: 17px;
      font-weight: 400;
      font-size: 12px;
      color: rgba(38, 49, 61, 0.75);
    }
    .cell-prefix-icon {
      display: block;
      width: 32px;
      height: 32px;
      overflow: hidden;
      margin-right: 20px;
    }
  }
  .no-record-tips {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    z-index: 10;
    background: #FFFFFF;
    .footer-button {
      margin: 10px 16px;
      height: 44px;
      line-height: 44px;
      font-size: 16px;
      border-radius: 8px;
      color: #FFFFFF;
      background: #26313D;
    }
  }
}
.no-users {
  margin: 0;
}
