.switch-list-panel {
    background: #1D202D;

    .switch-group {
        .title {
            color: rgba(255, 255, 255, 0.5);
        }

        .custom-input {
            border-bottom: 1px solid rgba(254, 254, 254, 0.12);

            input {
                color: #fff;
            }
        }
    }
}