@import url('./Icon/Icon.less');
@import url('./AddTimer/List.less');
@import url('./AddTimer/AddTimer.less');
@import url('./AddTimer/Repeat.less');
@import url('./ListTimer/ListTimer.less');
.timer-cloud {
  background: @c0;
  width: 100%;
  .add-timer-btn {
    position: fixed;
    background: linear-gradient(90deg, #FFBD79 0%, #FFB86C 100%), #FFFFFF;
    border-radius: 100px;
    width: calc(100% - 32px);
    bottom: 33px;
    left: 16px;
    height: 72px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
  }
}
