@import url('./Icon/Icon.less');
@import url('./AddTimer/List.less');
@import url('./AddTimer/AddTimer.less');
@import url('./AddTimer/Repeat.less');
@import url('./ListTimer/ListTimer.less');

.timer-cloud {
  background: @c0;
  width: 100%;

  .add-timer-btn {
    position: fixed;
    // background: linear-gradient(90deg, #FFBD79 0%, #FFB86C 100%), #FFFFFF;
    background: linear-gradient(0deg, #A8866B, #A8866B), #FFFFFF;
    box-shadow: 0px 4px 16px #A8866B;
    border-radius: 24px;
    width: calc(100% - 32px);
    bottom: 33px;
    left: 16px;
    height: 72px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
  }
}
