// ant-mobile 组件临时重置样式
.adm-mask {
  background: rgba(45, 48, 54, 0.74);
}
.adm-popup {
  z-index: 10000 !important;
  .adm-popup-body {
    border-radius: 120px 120px 0 0;
    background: #1f2036;
    box-shadow: 0 6px 100px 0 rgba(32, 33, 33, 0.1);
  }
}
