.icon {
  font-size: 0;

  .pot {
    width: 185px;
    height: 128px;
    background-image: url('./pot.svg');
  }
  .mode-0 {
    width: 24px;
    height: 24px;
    background-image: url('./mode-0.svg');
  }

  .start {
    width: 24px;
    height: 24px;
    background-image: url('./start.svg');
  }

  .time {
    width: 32px;
    height: 32px;
    background-image: url('./time.svg');
  }

  .cook-time {
    width: 24px;
    height: 24px;
    background-image: url('./cook-time.svg');
  }

  .temperature {
    width: 24px;
    height: 24px;
    background-image: url('./temperature.svg');
  }
  .stop {
    width: 24px;
    height: 24px;
    background-image: url('./stop.svg');
  }
}