.icon {
  font-size: 0;
  .light {
    width: 46px;
    height: 48px;
    background-image: url('./light.svg');
  }
  // .switch {
  //   width: 22px;
  //   height: 24px;
  //   background-image: url('./switch.svg');
  // }

  // .mode {
  //   width: 24px;
  //   height: 24px;
  //   background-image: url('./mode.svg');
  // }

  // .countdown {
  //   width: 24px;
  //   height: 24px;
  //   background-image: url('./countdown.svg');
  // }

  // .time {
  //   width: 24px;
  //   height: 24px;
  //   background-image: url('./time.svg');
  // }

  // .gesture-hoz-white {
  //   width: 65px;
  //   height: 54px;
  //   background-image: url('./gesture-hoz-white.svg');
  // }

  // .gesture-ver-white {
  //   width: 56px;
  //   height: 44px;
  //   background-image: url('./gesture-ver-white.svg');
  // }

  // .gesture-hoz-blank {
  //   width: 65px;
  //   height: 54px;
  //   background-image: url('./gesture-hoz-blank.svg');
  // }

  // .gesture-ver-blank {
  //   width: 56px;
  //   height: 44px;
  //   background-image: url('./gesture-ver-blank.svg');
  // }
}
