@import url('./LightSwitch.less');

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .switch-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 60px 0;
  }

  .switch-2 {
    display: flex;
    padding: 80px 16px 60px 16px;
    justify-content: space-between;

    .light-switch {
      width: 142px;
    }
  }

  .switch-3 {
    display: flex;
    padding: 109px 18px 58px 18px;
    justify-content: space-between;

    .light-switch {
      width: 110px;
      height: 278px;
      border-radius: 0;
      &:first-child{
        border-radius: 16px 0  0 16px;
      }
      &:last-child{
        border-radius: 0 16px 16px 0  ;
      }

      .content {
        .wrapper {
          height: 278px;
          width: 101px;
          .switch-cus-count {
            opacity: 0.7;
          }
        }
      }
    }
  }
}