.icon {
  font-size: 0;
  .smoke {
    width: 44px;
    height: 40px;
    background-image: url('./smoke.svg');
  }
  .smoke-alarm {
    margin-left: 20px;
    width: 63px;
    height: 41px;
    background-image: url('./smoke-alarm.svg');
  }
  .record {
    width: 22px;
    height: 24px;
    background-image: url('./record.svg');
  }
  .settings {
    width: 25px;
    height: 24px;
    background-image: url('./settings.svg');
  }
}