.humidifier-disk-wrap {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  overflow: visible;
  svg {
    overflow: visible;
  }
  .humidifier-disk {
    width: 300px;
    height: 300px;
  }
  .disk-circle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 14px;
    color: #6655F8;
    text-align: center;
    .title {
      margin-bottom: 30px;
    }
    .num {
      font-weight: 700;
      font-size: 40px;
      font-family: 'DIN Alternate';
      span {
        font-size: 20px;
      }
    }
    .desc {
      margin-top: 20px;
      color: #6655F8;
      opacity: 0.5;
    }
    .close {
      font-weight: 600;
      font-size: 28px;
      line-height: 39px;
      color: #6655F8;
      opacity: 0.5;
    }
  }
}
