.detail {
  // margin-top: 66px;
  padding-top: 50px;
  // background: #FFFFFF;
  // box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
  // border-radius: 120px 120px 0 0;
  height: 660px;
}

.lightbright {
  // margin: 80px 60px;
  margin: 0 auto;
  width: 805px;
  height: 200px;
  // border-radius: 60px;
  font-size: 36px;
}
