.icon {
  .light {
    background-image: url('./light.svg');
  }

  .light-on {
    background-image: url('./light-on.svg');
  }

  .editor {
    background-image: url('./editor.svg');
  }

  .on {
    background-image: url('./on.svg');
  }

  .timing {
    background-image: url('./timing.svg');
  }

  .count-down {
    background-image: url('./count-down.svg');
  }

  .switch {
    background-image: url('./switch.svg');
  }

  .mode {
    background-image: url('./mode.svg');
  }

  .drop-checked {
    background-image: url('./drop-checked.svg');
  }
}