.theme_normal_foot{
    height: 859px;
    display: flex;
    align-items: flex-end;

    .foot_card{
        width: 1125px;
        height: 793px;
        background: #FFFFFF;
        box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        border-radius: 120px 120px 0 0;
        // margin-top: 66px;

        .foot_botton{
            height: 389px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 3px solid #EDEEF2;




            .botton_span{
                height: 230px;
                width: 879px;
                // border: solid 1px;

                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
        .foot_size{
            height: 400px;
            display: flex;
            justify-content: center;
            // margin-top: 91.5px;

            .state{
                width: 865px;
                height: 147px;
                // border: solid 1px;

                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 91.5px;
            }
            .span_top{
                width: 199px;
                height: 61px;
                font-family: PingFangSC-Semibold;
                font-weight: Semibold;
                font-size: 48px;
                color: #000000;
                letter-spacing: 0.07px;
                text-align: center;
            }
            .soan_foot{
                height: 67px;
                font-family: PingFangSC-Regular;
                font-weight: Regular;
                font-size: 48px;
                color: #B5C4D1;
                text-align: center;
                margin-top: 19px;
            }
            .vertical{
                width: 3.66px;
                height: 80px;
                transform: rotate(1.14deg);
                // border: 3px solid #B5C4D1;
                background-color: #B5C4D1;
            }
        }
    }

}
