@status_on_color: #FCE61F;
@status_off_color: #B8EA87;
@tringle_on_color: #B5C4D1;
@tringle_off_color: #000000;

.app-magnetic-door-view {
  box-sizing: border-box;
  padding-bottom: 120px;
  min-height: calc(~"100vh - 120px");

  .status-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #B5C4D1;
    padding: 0 67px;
    margin: 97px 0 228px;
    
    .battery-percent {
      color: #B5C4D1;
      font-size: 48px;
      margin-left: 18px;
    }
    .status-desc {
      font-size: 36px;
      line-height: 50px;
    }
  }

  .main-view {
    display: flex;
    align-items: center;
    justify-content: center;
    
    & > div {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      width: 335px;
      height: 760px;
      box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);
      border-radius: 40px;
      margin: 0 10px;
      transition: .3s all linear;
      perspective: 1000;
      backface-visibility: hidden;
      transform: translateZ(0);
      .svg-icon {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -25px;
        margin-right: -25px;
        fill: @tringle_off_color;
      }
    }
    .left-block {
      &::before {
        display: block;
        content: '';
        width: 80px;
        height: 20px;
        border-radius: 46px;
        background-color: @status_off_color;
        margin-top: 60px;
      }
    }
    .right-block {
      width: 127px;
      .svg-icon {
        transform: rotate(-180deg);
      }
    }

    &.is_on {
      & > div {
        margin: 0 40px;
        .svg-icon {
          fill: @tringle_on_color;
        }
      }
      .left-block {
        &::before {
          background-color: @status_on_color;
        }
      }
    }
  }

  .tips {
    display: flex;
    justify-content: center;
    margin: 297px 0 112px;
    min-height: 62px;
    span {
      position: relative;
      display: inline-block;
      line-height: 50px;
      font-size: 36px;
      color: #B5C4D1;
      text-align: center;
      &::before {
        position: absolute;
        left: -34px;
        top: 18px;
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #B5C4D1;
      }
    }
  }

  .control-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 160px;
    & > .control-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 295px;
      height: 300px;
      padding: 55px 72px;
      .button-icon {
        display: block;
        margin-bottom: 36px;
      }
      .icon-record {
        width: 76px;
        height: 76px;
      }
      .icon-setting {
        width: 75px;
        height: 75px;
      }
      .button-name {
        line-height: 50px;
        font-size: 36px;
        font-family: PingFangSC-Medium;
        color: #B5C4D1;
      }
    }
  }
}

body.theme_blue_white {
  .app-magnetic-door-view {
    background-image: linear-gradient(180deg, #45A3FF 6%, #005BFF 100%);
    .status-bar {
      color: #FFFFFF;
      padding: 97px 67px 0;
      margin: 0 0 228px;
      
      .battery-percent {
        color: #FFFFFF;
      }
    }
    .tips {
      span {
        color: #FFFFFF;
        &::before {
          background: #FFFFFF;
        }
      }
    }
    .control-area {
      & > .control-button {
        .button-name {
          color: #323232;
        }
      }
    }
  }
}

body.theme_dark {
  .app-magnetic-door-view {
    .status-bar {
      color: #FFFFFF;
      
      .battery-percent {
        color: #FFFFFF;
      }
    }
    .main-view {
      & > div {
        background-image: linear-gradient(132deg, #303B4A 0%, #263140 100%);
        .svg-icon {
          fill: #FFFFFF;
        }
      }
      .left-block {
        &::before {
          display: block;
          content: '';
          width: 80px;
          height: 20px;
          border-radius: 46px;
          background-color: @status_off_color;
          margin-top: 60px;
        }
      }
      .right-block {
        width: 127px;
        .svg-icon {
          transform: rotate(-180deg);
        }
      }
  
      &.is_on {
        & > div {
          margin: 0 40px;
          .svg-icon {
            fill: @tringle_on_color;
          }
        }
        .left-block {
          &::before {
            background-color: @status_on_color;
          }
        }
      }
    }
    .tips {
      span {
        color: #FFFFFF;
        &::before {
          background: #FFFFFF;
        }
      }
    }
    .control-area {
      & > .control-button {
        padding: 55px 72px;
        .button-name {
          color: #FFFFFF;
        }
      }
    }
  }
}

body.theme_colorful {
  .app-magnetic-door-view {
    .status-bar {
      color: #656565;
      
      .battery-percent {
        color: #656565;
      }
    }
    .main-view {
      & > div {
        background-color: #346AF8;
        .svg-icon {
          fill: #FFFFFF;
        }
      }
      .left-block {
        &::before {
          display: block;
          content: '';
          width: 80px;
          height: 20px;
          border-radius: 46px;
          background-color: @status_off_color;
          margin-top: 60px;
        }
      }
      .right-block {
        width: 127px;
        .svg-icon {
          transform: rotate(-180deg);
        }
      }
  
      &.is_on {
        & > div {
          margin: 0 40px;
          background-color: #FFFFFF;
          .svg-icon {
            fill: @tringle_on_color;
          }
        }
        .left-block {
          &::before {
            background-color: @status_on_color;
          }
        }
      }
    }
    .tips {
      span {
        color: #656565;
        &::before {
          background: #346AF8;
        }
      }
    }
    .control-area {
      & > .control-button {
        .button-name {
          color: #323232;
        }
      }
    }
  }
}

body.theme_morandi {
  .app-magnetic-door-view {
    .magnetic-door-header {
      padding-bottom: 123px;
      background-image: linear-gradient(180deg, #576273 0%, #414B5B 86%);
      box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      .status-bar {
        padding-top: 97px;
        margin: 0 0 228px;
        color: #FFFFFF;
        
        .battery-percent {
          color: #FFFFFF;
        }
      }
    }
    .main-view {
      & > div {
        .svg-icon {
          fill: #B5ABA1;
        }
      }
      &.is_on {
        & > div {
          .svg-icon {
            fill: @tringle_on_color;
          }
        }
      }
    }
    .tips {
      margin: 174px 0 112px;
      span {
        color: #656565;
        &::before {
          background: #656565;
        }
      }
    }
    .control-area {
      & > .control-button {
        .button-name {
          color: #424C5C;
        }
      }
    }
  }
}
