.icon {
    font-size: 0;

    .mode-0 {
        width: 24px;
        height: 24px;
        background-image: url('./mode-0.svg');
    }

    .switch {
        width: 28px;
        height: 28px;
        background-image: url('./switch.svg');
    }

    .pot {
        width: 184px;
        height: 214px;
        background-image: url('./pot.svg');
    }

    .time {
        width: 24px;
        height: 24px;
        background-image: url('./time.svg');
    }

    .stop {
        width: 24px;
        height: 24px;
        background-image: url('./stop.svg');
    }

    // .mode-1 {
    //     width: 24px;
    //     height: 24px;
    //     background-image: url('./mode-0.svg');
    // }

    // .mode-2 {
    //     width: 24px;
    //     height: 24px;
    //     background-image: url('./mode-0.svg');
    // }

    // .mode-3 {
    //     width: 24px;
    //     height: 24px;
    //     background-image: url('./mode-0.svg');
    // }

    // .mode-4 {
    //     width: 24px;
    //     height: 24px;
    //     background-image: url('./mode-0.svg');
    // }

    // .mode-5 {
    //     width: 24px;
    //     height: 24px;
    //     background-image: url('./mode-0.svg');
    // }

    // .mode-6 {
    //     width: 24px;
    //     height: 24px;
    //     background-image: url('./mode-0.svg');
    // }

    // .mode-7 {
    //     width: 24px;
    //     height: 24px;
    //     background-image: url('./mode-0.svg');
    // }
}