.home {
  position: relative;
  padding: 16px 16px 0;

  .image {
    width: 320px;
    height: 108px;
    background-image: url('./conditioner.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .setting-button-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    background: #26313D;
    .control-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px 38px 58px;
      .control-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 22px;
        background: #30414D;
      }
    }
  }
}