.timer-action {
  width: 100%;
  padding: 57px 76px 0 84px;
  border: none;
  background: transparent;
  .adm-list {
    background: transparent;

  }
  .adm-list-item {
    border: none !important;
    padding: 56px 39px 66px 66px !important;
    margin-bottom: 25px;
    background: #ffffff !important;
    border-radius: 60px;
    margin-bottom: 25px;
    // height: 200px;
    .adm-list-item-content {
      padding: 0;
    }
  }

  .adm-checkbox-icon {
    display: none;
  }
  .adm-list-item-content-extra {
    .icon {
      width: 90px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    .icon-select {
      background: #89ce6b;
    }
  }
  .description{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 84px;
    font-weight: 400;
    font-size: 48px;
    color: #B5C4D1;
  }
}
