.environment {
  text-align: center;
  padding: 80px 129px;
  background: var(--global-color-white);
  border-top: 3px solid #EDEEF2;
  .environment-wrap {
    display: flex;
    justify-content: space-around;
    .text-primary {
      display: inline-block;
      margin-bottom: 19px;
      font-family: PingFangSC-Regular;
      font-size: 48px;
    }
    .label {
      line-height: 67px;
      font-size: 48px;
      color: #B5C4D1;
    }
  }
  .progress {
    margin:130px 0 0;
  }
  .line {
    width: 4px;
    height: 80px;
    background-color: #B5C4D1;
    position: relative;
    top: 28px;
  }
  [class='^font'] {
    font-weight: 500;
  }
}
