.electricity-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
  padding: 62px 140px 70px;
  border-radius: 60px;
  background: #FFFFFF;
  box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);
  .text-regular {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: PingFangSC-Regular;
    font-size: 48px;
    color: #515B6C;
    .label {
      display: inline-block;
      margin-top: 20px;
    }
  }
}
