.bormal_center{
    height: 127px;
    display: flex;
    justify-content: center;
    .center_card{
        width: 848px;
        height: 127px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        
        .card_span{
            display: flex;
            // flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #0F0F0F;

        }
        .vertical{
            width: 2.31px;
            height: 31.02px;
            transform: rotate(0.57deg);
            // border: 3px solid #0F0F0F;
            background-color: #0F0F0F;
        }
    }
}