.cus-time-picker-list {
    .fix-bottom-btn {
        margin-bottom: 53px;

        .btn {
            background: rgba(0, 0, 0, 0.3) !important;
            border: 1px solid rgba(156, 140, 255, 0.24);
            border-radius: 16px;

            .btn-text {
                color: rgba(216, 57, 57, 1)
            }
        }
    }
}