.disk {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 260px;
  height: 260px;
  border: 1px solid #EFF3F5;
  border-radius: 50%;
  background: #FBFBFC;
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-image: url('./bg.svg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .disk-icon {
      position: relative;
      margin-top: 60px;
      z-index: 3;
    }

    .number {
      position: relative;
      margin-top: 12px;
      font-family: DIN Alternate;
      font-weight: bold;
      font-size: 38px;
      line-height: 44px;
      color: #1D2C3E;
      z-index: 3;
    }
    .unit {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #1D2C3E;
      z-index: 3;
    }
  }
  .status-desc {
    position: absolute;
    left: 50%;
    bottom: -60px;
    transform: translateX(-50%);
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
    color: #1D2C3E;
  }
  .bg-bubbles {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -130px;
    width: 260px;
    height: 260px;
    z-index: 1;
  }
  .bg-bubbles li {
    display: block;
    position: absolute;
    top: 130px;
    left: 130px; 
    width: 260px;
    height: 260px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .animation {
    animation-iteration-count: infinite;
    animation-timing-function: forwards;
    animation-duration: 3s;
    animation-name: bubble;
  }
  .bg-bubbles li span {
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #E5E6EB;
  }
  .bg-bubbles li:nth-child(1) span {
    top: 0;
    left: -16px;
    width: 8px;
    height: 8px;
    opacity: 0.59;
  }
  .bg-bubbles li:nth-child(2) span {
    top: -9px;
    left: 58px;
    width: 16px;
    height: 16px;
  }
  .bg-bubbles li:nth-child(3) span {
    top: -25px;
    right: 119px;
    width: 4px;
    height: 4px;
    opacity: 0.59;
  }
  .bg-bubbles li:nth-child(4) span {
    top: -62px;
    right: 111px;
    width: 12px;
    height: 12px;
    opacity: 0.59;
  }
  .bg-bubbles li:nth-child(5) span {
    top: -25px;
    right: 36px;
    width: 16px;
    height: 16px;
  }
  .bg-bubbles li:nth-child(6) span {
    top: 137px;
    right: -9px;
    width: 4px;
    height: 4px;
    opacity: 0.59;
  }
  .bg-bubbles li:nth-child(7) span {
    bottom: -1px;
    right: 36px;
    width: 16px;
    height: 16px;
  }
  .bg-bubbles li:nth-child(8) span {
    bottom: -5px;
    right: 15px;
    width: 8px;
    height: 8px;
    opacity: 0.59;
  }
  .bg-bubbles li:nth-child(9) span {
    bottom: -27px;
    left: 0;
    width: 12px;
    height: 12px;
  }
  .bg-bubbles li:nth-child(10) span {
    bottom: -35px;
    left: -12px;
    width: 4px;
    height: 4px;
    opacity: 0.59;
  }
  .bg-bubbles li:nth-child(11) span {
    bottom: 42px;
    left: 8px;
    width: 8px;
    height: 8px;
    opacity: 0.59;
  }
  .bg-bubbles li:nth-child(12) span {
    top: 129px;
    left: -42px;
    width: 8px;
    height: 8px;
    opacity: 0.59;
  }
  .bg-bubbles li:nth-child(13) span {
    top: 47px;
    left: -10px;
    width: 4px;
    height: 4px;
    opacity: 0.59;
  }

  &.is-alarm {
    .content {
      .number {
        color: #FF5057;
      }
      .unit {
        color: #FF5057;
      }
    }
  }
}

@keyframes bubble {
  0% {
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.15);
    opacity: 0;
  }
}