.curtain_options{
    width: 1125px;
    height: 765px;
    background: #FFFFFF;
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
    border-radius: 120px 120px 0 0;
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  padding-bottom: 50px;


    .button_model{
        width: 785px;
        height: 375.5px;
        display: flex;
        justify-content: center;
        align-items: center;

        display: flex;
        justify-content: space-between;

        .options_box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }

    .options_font1{
        width: 151px;
        height: 50px;
        font-family: PingFangSC-Medium;
        font-weight: Medium;
        font-size: 36px;
        color: #0F0F0F;
        text-align: center;
        margin-top: 40px;
    }
    .options_font2{
        width: 151px;
        height: 50px;
        font-family: PingFangSC-Medium;
        font-weight: Medium;
        font-size: 36px;
        color: #0F0F0F;
        text-align: center;
        margin-top: 70px;
    }
    .options_font3{
        width: 151px;
        height: 50px;
        font-family: PingFangSC-Medium;
        font-weight: Medium;
        font-size: 36px;
        color: #0F0F0F;
        text-align: center;
        margin-top: 80px;

        margin-bottom: 5px;
    }
    .icon_wh{
        width: 68px;
        height: 72px;
        margin-right: 40px;
    }

    .icon_margtop{
        margin-top: -70px !important;
        margin-left: -60px !important;
    }

    .card_top{
        height: 389.5px;
        width: 1125px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;



        .across{
            width: 50px;
            height: 10px;
            background: #0F0F0F;
            border-radius: 8px;
            border-radius: 6px;
            margin-top: 56px !important;

        }
        .control_bar{
            width: 865px;
            height: 173px;

            .control_bar_title{
                color: #0f0f0f;
                text-align: center;
            }

            .control_bar_progress{
                margin-top: 20px;
                height: 60px;
                display: flex;
                align-items: center;
                .control_bar_left{
                    border: #0f0f0f solid 10px;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    margin-left: 4px;
                }
                .control_bar_center{
                    width: 785px;
                    height: 20px;
                    background-color: #ccc;
                }
                .control_bar_right{
                    border: #ccc solid 12px;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    margin-left: -4px;
                }

                .control_bar_progress_pass{
                    display: flex;
                    align-items: center;
                    margin-left: -4px;
                    position: absolute;
                    height: 20px;
                    background-color: #0f0f0f;
                    width:400px;
                    // justify-content: flex-end;
                }
                .control_bar_progress_btn{
                    margin-left: 400px;
                    position: absolute;
                    width: 90px;
                    height: 60px;
                    background-color: #0f0f0f;
                    border-radius: 30px;
                    justify-content: space-around;
                    align-items: center;

                    display: flex;
                    .control_bar_progress_btn_mark_left{
                        background-color: #fff;
                        height: 30px;
                        width: 10px;
                        border-radius: 5px;
                    }
                    .control_bar_progress_btn_mark_right{
                        background-color: #fff;
                        height: 30px;
                        width: 10px;
                        border-radius: 5px;
                    }
                }
            }
        }
        .options_line{
            width: 100%;
            height: 3px;
            background-color:#EDEEF2;
            // border: 3px solid #EDEEF2;
        }
    }
}
