.icon {
  .light {
    background-image: url('./light.svg');
  }
  .editor {
    background-image: url('./editor.svg');
  }
  .light-on {
    background-image: url('./on.svg');
  }
  .timing {
    background-image: url('./timing.svg');
  }
  .count-down {
    background-image: url('./count-down.svg');
  }
  .error {
    width: 24px;
    height: 24px;
    background-image: url('./error.svg');
  }
  .add {
    width: 28px;
    height: 28px;
    background-image: url('./add.svg');
  }
  .bg {
    background-image: url('./bg.svg');
  }
  .layout-1 {
    width: 95px;
    height: 95px;
    background-image: url('./layout-1.svg');
  }
  .layout-2 {
    width: 95px;
    height: 95px;
    background-image: url('./layout-2.svg');
  }
  .layout-3 {
    width: 95px;
    height: 95px;
    background-image: url('./layout-3.svg');
  }
  .layout-4 {
    width: 95px;
    height: 95px;
    background-image: url('./layout-4.svg');
  }
  .layout-5 {
    width: 95px;
    height: 95px;
    background-image: url('./layout-5.svg');
  }
  .layout-6 {
    width: 95px;
    height: 95px;
    background-image: url('./layout-6.svg');
  }
  .layout-7 {
    width: 95px;
    height: 95px;
    background-image: url('./layout-7.svg');
  }
  .layout-8 {
    width: 95px;
    height: 95px;
    background-image: url('./layout-8.svg');
  }
  .layout-9 {
    width: 95px;
    height: 95px;
    background-image: url('./layout-9.svg');
  }
  .layout-10 {
    width: 95px;
    height: 95px;
    background-image: url('./layout-10.svg');
  }
  .layout-11 {
    width: 95px;
    height: 95px;
    background-image: url('./layout-11.svg');
  }

  .layout-add-0{
    width: 28px;
    height: 28px;
    background-image: url('./layout-add-0.svg');
  }

  .layout-add-1{
    width: 28px;
    height: 28px;
    background-image: url('./layout-add-1.svg');
  }
}
