.icon {
  font-size: 0;
  .body {
    width: 76px;
    height: 80px;
    background-image: url('./body.svg');
  }
  .alarm {
    width: 17px;
    height: 17px;
    background-image: url('./alarm.svg');
  }
  .sensitivity {
    width: 22px;
    height: 24px;
    background-image: url('./sensitivity.svg');
  }
  .time {
    width: 25px;
    height: 24px;
    background-image: url('./time.svg');
  }
}