.temperatureUnit-wrap {
  margin-top: 50px;
  padding: 62px 0 66px 51px;
  color: var(--global-color-black);
  border-radius: 60px;
  background: #FFFFFF;
  box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);

  .btn-temperature {
    margin-bottom: 51px;
    .title-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 54px;
      .title {
        margin-left: 53px;
        font-family: PingFangSC-Medium;
        font-size: 48px;
      }
      .unit-convert {
                width: 67px;
                height: 59px;
            }
    }
    .btn-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 66px;
      & > button {
        width: 350px;
        // height: 70px;
        padding: 0;
        .button-inner {
          border-radius: 34px;
          padding: 0;
        }
      }
    }
  }
  .adm-card-header {
    border: 0;
    line-height: 1;
    padding: 0;
    svg {
      transform: translateY(10px);
      margin-right: 53px;
    }
  }
}
