.set-temp-wrap {
  padding: 30px 148px 0;
  .slider-tools-bar {
    display: none;
  }
  .ui-slider-bar {
    margin-top: 50px;
    padding-bottom: 70px;
  }
  .temp-label {
    line-height: 67px;
    font-family: PingFangSC-Regular;
    font-size: 48px;
    color: #B5C4D1;
  }
}
