.light-bright {
  margin-bottom: 24px;
  padding: 0 8px;
  font-size: 36px;
  .border {
    border: none;
  }
  &.off-switch {
    .value-text {
      color: #8f939a;
    }
    .mark-op-btn{
      color: #fff;
    }
    .progress{
      background: #454F65 !important;
    }
  }
  .progress {
    background-image:#121723;
  }
}
