.disk {
    .hoz {
        background: #FFFFFF;
        opacity: 0.5;
        width: 229px;
        height: 293px;
        border: 20px solid #EFF3F5;
        border-radius: 50%;
        box-shadow: none;
    }

    .ver {
        background: #FFFFFF;
        opacity: 0.3;
        width: 229px;
        height: 293px;
        border: 20px solid #EFF3F5;
        border-radius: 16px;
        transform: rotate(90deg);
        border-radius: 50%;
        box-shadow: none;
    }

    .center {
        box-shadow: none;
    }

    .content {

        &::after {
            background: #EFF3F5;
        }

        .item {
            .item-content {
                color: #30414D;

                .unit-1 {
                    &::before {
                        border: 2px solid #30414D;

                    }
                }
            }

            .title {
                color: #30414D;
            }
        }
    }
}