.home {
  position: relative;
  padding: 20px 17px;

  header {
    margin-bottom: 92px;
  }
  .tips {
    margin: 98px 0 48px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    span {
      position: relative;
      margin-left: 14px;
      display: inline-block;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -14px;
        margin-top: -3px;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #FFFFFF;
      }
    }
  }
  .setting-block {
    margin: 0 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    &>.setting-button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100px;
      height: 100px;
      border-radius: 16px;
      background-color: #2D374D;
  
      .button-name {
        margin-top: 10px;
        line-height: 20px;
        font-size: 14px;
        font-weight: 600;
        color: #FFFFFF;
      }
    }
  }
}