.detail {
  .environment {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;

    // .cell {
    //   background: #454f65;
    // }

    // div[class*="theme-"] {
    //   display: none;
    // }

    // .theme-qualityDark {
    //   width: 100%;
    //   height: 100%;
    //   display: flex !important;
    //   flex-wrap: wrap;
    //   // align-items: center;
    //   // justify-content: space-between;

    // }

    .box {
      margin: 4px 10px;
      box-sizing: border-box;
      border-radius: 16px;
      width: calc(50% - 20px);
      // min-width: 156px;
      min-height: 76px;
      padding: 1px;
      border-radius: 16px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(156, 140, 255, 0.24) 100%);

      .content {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 16px;

        .box-content {
          display: flex;
          flex-direction: column;
          width: calc(100% - 24px);
          height: calc(100% - 30px);
          padding: 18px 12px 12px 12px;
          font-family: 'PingFang SC';
          font-weight: 500;
          // letter-spacing: 1px;

          .cell.border {
            padding: 0 !important;
            border: 0 !important;
            margin: 0 !important;
            height: auto !important;
            padding-left: 2px !important;
            margin-top: 12px !important;
          }

          .title {
            font-style: normal;
            font-size: 12px;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.75);
          }

          .switch {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;

            .switch-title {
              font-style: normal;
              font-size: 16px;
              line-height: 22px;
              text-align: right;
              color: #FFFFFF;
            }

            .custom-switch {
              width: 40px;
              height: 20px;

              .adm-switch-checkbox,
              .adm-switch-checkbox:before {
                background: #1D202D !important;
              }

              .adm-switch-handle {
                background: linear-gradient(90deg, #354269 0%, #3B3163 100%);
              }
            }
          }

          .adm-switch-checked {
            .adm-switch-handle {
              background: linear-gradient(90deg, #3161FE 0%, #5A31FE 100%) !important;
            }
          }
        }
      }
    }
  }

  .custom-modal {
    .modal {
      display: flex;
      flex-direction: column;
    }

    .modal-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .title {
        color: #fff;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
      }

      .selector {
        .adm-dropdown-item-title-text {
          color: #fff;
          font-family: 'PingFang SC';
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
        }
      }

      .custom-dropdown {
        background: transparent;
        color: #fff;
      }
    }

    .custom-radio {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-bottom: 20px;

      input[type="radio"] {
        opacity: 0;
        width: 0;
        height: 0;
        display: none;
      }

      .radio-item {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.65);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        list-style: none;
        display: block;
        position: relative;
        margin-right: 8px;
        cursor: pointer;
        transition: all .3s ease;

        display: flex;
        align-items: center;
        justify-content: space-between;
        // border-bottom: 1px solid #fff;
        margin: 0 16px;
        padding: 0 8px;
      }

      .radio-item:last-child {
        border: 0;
      }

      .radio-item-label::after {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        content: "";
        right: 0;
        position: absolute;
        top: calc(50% - 10px);
      }

      input[type="radio"]:checked+.radio-item-label::after {
        padding: 4px;
        background-color: #fff;
        background-clip: content-box;
        border-color: #fff;
      }

      display: flex;
      flex-direction: column;

      .radio-item-label {
        padding: 16px 0;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        display: block;
        width: calc(100% - 16px);
        text-align: left;
      }
    }


    .modal-footer {
      padding: 16;

      .btn {
        border-radius: 0;
        margin: 0;
        border-top: 1px solid #000;
        height: 56px;
      }

      .btn-cancel {
        color: #fff;
        background: transparent;
        border-right: 1px solid #000;
      }
    }
  }
}

.adm-dropdown-popup {
  .adm-dropdown-popup-mask {
    background: transparent !important;
  }

  .adm-dropdown-popup-body {
    transform: translate(0px, 0%);
    width: calc(100vw - 32px);
    left: 16px;
    background: transparent;

    .adm-dropdown-item-content {
      background: #151D3C;

      .item {
        color: #fff;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        padding: 12px 24px;
      }
    }
  }
}