@import url('./LightSwitch.less');

.cus-dev-detail {
  top: 35px;
  right: 21px;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0 60px 0;



    .operator {
      width: calc(100% - 20px);
      padding-bottom: 30px;
      display: flex;
      justify-content: space-between;

      .operator-btn {
        width: 46px;
        height: 46px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        .operator-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .switch-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0 60px 0;

  }

  .switch-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0 60px 0;

    .operator {
      .editor {
        background: transparent !important;
      }
    }

    .light-list {
      display: flex;
      flex-direction: row;
      width: calc(100% - 52px);
      padding: 0 26px;
      justify-content: space-between;
    }

    .light-switch {
      width: 150px;
    }


  }

 // 三键开关开关
  .switch-3 {
    display: flex;
    // padding: 20px 2px 23px 18px;
    justify-content: space-between;

    .editor {
      display: none !important;
    }

    .operator {
      display: flex;
      justify-content: flex-end;
    }

    .light-list {
      display: flex;
      width: 335px;
      height: 330px;
      padding: 0 4px;
      background: linear-gradient(180deg, #131A33 0%, rgba(19, 26, 51, 0.8) 100%);
      border-radius: 16px;

      .light-switch {
        width: 110px;
        background: transparent;

        .content {
          box-shadow: none;
          background: transparent;
        }

        &.is-checked {
          .switch-cus-count {
            >div {
              flex-direction: row;

              >div {
                &:last-child {
                  margin-top: 0;
                }

                >span {
                  font-weight: 600;
                  font-size: 12px;
                }
              }

            }
          }
        }

        .wrapper {
          height: 278px;
          width: 101px;

          .flag {
            margin-top: 76px;
          }
        }
      }

    }

  }


}