.dashboard{
  // width: 970px;
  height: 1200px;
  // margin: 0 78px;
  // padding-top: 300px;
  text-align: center;
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // .bg {
  //   position: absolute;
  //   left: 50%;
  //   transform: translate(-50%,11%);
  //   width: 80%;
  //   height: 80%;
  //   border-radius: 50%;
  //   /*background-color: #fff;*/
  //   box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
  // }
  // .bg-img{
    // width: 80%;
    // height: 80%;
  // }
  // > section {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   font-size: 40px;
  //   color: var(--global-color-primary);
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   z-index: 1;
  //   .title {

  //   }
  //   .value {
  //     margin: 110px 0;
  //     font-size: 130px;
  //     &.power-off {
  //       font-size: 72px;
  //     }
  //     > span {

  //     }
  //   }
  //   .text {

  //   }
  // }
  // .grad {
  //   height: 30px;
  //   width: 5px;
  //   border-radius: 3px;
  //   background-color: var(--global-color-primary);
  //   position: absolute;
  //   left: 50%;
  //   top: 0;
  //   transform: translate3d(-50%, -50%);
  //   transform-origin: center 380px;
  //   &.active {
  //     background-color: @color-active;
  //   }
  // }

  .colored_bottom{
    display: flex;
    justify-content:center;

    width: 160px;
    height: 69px;
    background: #0F0F0F;
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
    border-radius: 45px;
    margin-bottom: 77px;
      -left: 80px;
  }

  .white_bottom{
    display: flex;
    justify-content:center;

    width: 160px;
    height: 69px;
    background: #0F0F0F;
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
    border-radius: 45px;
    margin-bottom: 77px;
    margin-right: 80px;
  }
  .white_bottom{
    width: 160px;
    height: 69px;
    background: #0F0F0F;
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
    border-radius: 45px;
  }

  .colored_font{
    width: 75px;
    height: 69px;
    line-height: 69px;
    font-family: PingFangSC-Medium;
    font-size: 36px;
    color: #FBFBFF;
    text-align: center;

  }


  .white_font{
    width: 75px;
    height: 69px;
    line-height: 69px;
    font-family: PingFangSC-Medium;
    font-size: 36px;
    color: #B5C4D1;
    text-align: center;
  }
  .receptacle_round{
    width: 842px;
    height: 842px;
    border-radius: 100%;
    // border: solid;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items:center;
    // margin-top: 195px;
  }
  .receptacle_img{
    width: 322px;
    height: 258px;
    margin-top: 102px;
    svg{
      width: 100%;
      height: 100%;
    }
  }
  .receptacle_size{
    width: 363.69px;
    height: 50px;
    font-family: PingFangSC-Medium;
    font-size: 36px;
    color: #2D3134;
    text-align: center;

    padding-top: 102px;
    // margin-top: 102px;
  }
  .receptacle_size1{
    padding-top: 102px;
  }

}

