// 字号
.font_24 {
  font-size: @font_24;
}
.font_36 {
  font-size: @font_36;
}
.font_48 {
  font-size: @font_48;
}
.font_60 {
  font-size: @font_60;
}
.font_72 {
  font-size: @font_72;
}
.font_120 {
  font-size: @font_120;
}

// 行高
.line_height_1 {
  line-height: @lineHeight_33;
}
.line_height_2 {
  line-height: @lineHeight_33;
}
.line_height_2 {
  line-height: @lineHeight_33;
}
.line_height_2 {
  line-height: @lineHeight_33;
}
.line_height_2 {
  line-height: @lineHeight_33;
}

// 颜色
.color_1 {
 color: @color_1;
}
.color_2 {
 color: @color_2;
}
.color_3 {
 color: @color_3;
}
.color_4 {
 color: @color_4;
}

// 字体 + 行高
.font_line_1 {
  font-size: @font_24;
  line-height: @lineHeight_33;
}

.font_line_2 {
  font-size: @font_36;
  line-height: @lineHeight_50;
}

.font_line_3 {
  font-size: @font_48;
  line-height: @lineHeight_67;
}

.font_line_4 {
  font-size: @font_60;
  line-height: @lineHeight_72;
}

.font_line_5 {
  font-size: @font_72;
  line-height: @lineHeight_84;
}

.font_line_6 {
  font-size: @font_120;
  line-height: @lineHeight_144;
}
