._component_base_cell_{
    height: auto !important;
    :last-child{
        border: #FFFFFF;
    }

}
.div_card_2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 47.5px;
    padding-top: 48px;
    border-bottom: 1px solid #979797;
    .card_span_left{
        .life_span{
            font-family: PingFangSC-Regular;
            font-weight: Regular;
            font-size: 36px;
            color: #B5C4D1;
            text-align: left;
        }
        .left_span1{
            text-align: left;
        }
    }
    .card_span_right{
        display: flex;
        width: 560px;
        justify-content: space-between;
        align-items: center;
        // flex-direction: column;

        .sty_num{
            text-align: left;
        }
        .sty_span{
            font-family: PingFangSC-Regular;
            font-weight: Regular;
            font-size: 36px;
            color: #B5C4D1;
            text-align: center;
        }

        .sty_bottom{
            width: 260px;
            height: 118px;
            line-height: 118px;
            // background-color: #B5C4D1;
            border-radius: 63px;

            text-align: center;
            font-family: PingFangSC-Regular;
            font-weight: Regular;
            font-size: 55px;
            color: #FFFFFF;

        }
    }
    .botton_sty{
        width: 260px;
        height: 118px;
        border-radius: 63px;
        font-family: PingFangSC-Regular;
        font-weight: Regular;
        font-size: 55px;
        color: #FFFFFF;
        text-align: center;
        line-height: 118px;
        
        &.power-off{
            background-color: #C9D4DD;  
        }
    }
    .across{
        width: 891px;
        height: 1px;
        // border: 1px solid #979797;
        color: #979797;
    }
}
