@import url("./Circle.less");

.search-device {
    .start-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 74px;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        padding: 16px;
        align-items: baseline;
    }

    .scan-msg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        line-height: 16px;
        font-weight: 400;
        color: #565477;
        padding-top: 74px;
        padding-bottom: 54px;
    }

    .bind-error-panel{
        width: 100vw;
        height: 100vh;
    }
}