.home {
    background: #F6F8FB;

    .custom-tabs .adm-tabs-content .modular .modular-container .screen-add .screen-btn {
        background: #fff;
        border-radius: 8px;
    }

    .switch-3 {
        background: transparent;

        .light-switch {
            width: 109px;
            height: 300px;
            background: #C6E6FA;
            position: relative;
            border-radius: 14px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding: 0 5px;

            .wrapper {
                height: 278px;
                background: linear-gradient(157.14deg, #84E1FF -2.53%, #4D9CF8 96.94%);
                border-radius: 14px;
                .light-icon {
                    top: 37px;
                }
                .flag {
                    top: unset;
                    bottom: 77px;
                }
                .name {
                    color: #fff;
                }
            }
        }
    }
}