@import url('./Ticker.less');
@import url('./Position.less');
@import url('./LightBright.less');
@import url('./Action.less');
.route-home {
  display: inherit !important;
  background:#036ef3;
}
.cus-dev-detail {
  // top:540px;
  // right:115px;
}
.home {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  background-image: linear-gradient(180deg, #bb81ff 0%, #6685f9 44%, #036ef3 100%);
  // padding-bottom: 78px;
  .change-panel {
    border-radius: 70px;
    margin: 75px 80px 0 80px;
    // padding: 60px;
    padding: 60px 60px 0 60px;
    height: 1185px;
    position: relative;
  }
}
