.battery {
  display: flex;
  align-items: center;

  .battery-wrap {
    flex-shrink: 0;
    width: 26px;
    height: 14px;
    background: url(./battery.svg) no-repeat center;
    background-size: contain;
    display: flex;
    align-items: center;

    .inner {
      margin-left: 3px;
      width: 18px;
      height: 8px;
    }

    .current-level {
      width: 0;
      height: 100%;
      background-color: #fff;
      border-radius: 2px;
    }
  }

  .battery-percent {
    margin-left: 8px;
    line-height: 20px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
  }

  .battery-tip {
    white-space: nowrap;
    margin-left: 8px;
  }
}