.home {
  .action {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    padding: 0 8px;
    color: #6655F8;
    .action-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100px;
      height: 100px;
      border-radius: 16px;
      background: #F7F4FD;

      .action-ele {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 15px;
        margin-top: 10px;
        font-weight: 600;
        margin: inherit;
        > div:last-child {
          margin-top: 10px;
        }
      }
    }
    &.action-off {
      color: #A29DDB;
    }
  }

}
