.ticker {
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .btn {
      width: 88px;
      height: 36px;
      border-radius: 16px;
    }
    .btn-primary {
      background: @c8;
      color: @c2;
    }
    .btn-reverse {
      background: @c8;
    }
    .btn-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &.ticker-off {
    .title {
      color: #a29ddf;
    }
  }
}
