.position_card {
  position: relative;
  padding: 8px 0 120px 0;

  .circular-off {
    .point {
      background: #F6F8FB;
      border: 3px solid #F6F8FB !important;
    }
  }

  .main-bg {
    width: 260px;
    height: 260px;
    // border: 1px solid #1F2738;
    border-radius: 50%;
    background: #EFF3F5;

    .bg-img {
      position: absolute;
      top: 38px;
      left: 38px;
      width: calc(100% - 100px);
      height: calc(100% - 100px);
      margin: 12px;
      border-radius: 50%;
      background: #fff;

      .svg-icon {
        width: 60px;
        height: 60px;
      }
    }
  }

  .circle-ring {
    width: 236px;
    height: 236px;
    position: relative;

    .bg {
      position: absolute;
      width: 100%;
      height: 100%;

      .outer {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, #fbed96 0%, #aeecd5 100%);
      }

      .inner {
        width: 182px;
        height: 182px;
        background: #EFF3F5;
      }

      .center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .center-value {
          font-size: 16px;
          color: #30414D;
          margin-top: 16px;
          font-weight: 500;
        }
      }
    }
  }

  .color-value {
    position: absolute;
    top: 168px;
    right: -4px;

    div {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }

    .color-1 {
      margin-bottom: 12px;
      background: #EFED9F;
    }

    .color-2 {
      margin-bottom: 12px;
      background: #CBEDBE;
    }

    .color-3 {
      background: #B0EDD3;
    }
  }

  // 单色
  &.color-type-0 {
    padding-bottom: 88px;

    // 点不可以拖拽
    .point {
      display: none;
    }

    // .bg-img {
    //   width: calc(100% - 124px);
    //   height: calc(100% - 124px);
    //   border: 12px solid #4411FD;
    //   background: #2D374D;
    //   box-shadow: 0px 0px 10px 2px #1F2738;
    // }

    .bg {
      .outer {
        background: white
      }
    }

    .color-value {
      // 没有颜色值点
      display: none;
    }
  }

  // 双色
  &.color-type-1 {
    padding-bottom: 88px;


    .bg {
      .outer {
        // background-image: linear-gradient(90deg, #fbed96 0%, #aeecd5 100%);
        // background-image: linear-gradient(90deg, #fbed96 0%, #aeecd5 100%,#fbed96 0%, #aeecd5 100%,#fbed96 0%, #aeecd5 100%);
        // background: linear-gradient(270deg, #FFAE54 0%, #FFF9FD 100%);
        background: linear-gradient(270deg, #FFF9FD 0%, #FFAE54 100%);
        // background: conic-gradient(from 226.74deg at 50% 50%, #E500F0 -43.78deg, #2F00FF 9.18deg, #03F7F9 60.44deg, #32FB1D 115.34deg, #A0EF07 156.52deg, #EECD0C 212.88deg, #F90219 267.69deg, #E500F0 316.22deg, #2F00FF 369.18deg);
      }
    }

    .color-value {
      display: none;
    }
  }

  // 彩色
  &.color-type-2 {
    padding-bottom: 22px;

    // .bg-img {
    //   width: calc(100% - 124px);
    //   height: calc(100% - 124px);
    //   border: 12px solid #4411FD;
    //   background: #2D374D;
    //   box-shadow: 0px 0px 10px 2px #1F2738;
    // }

    .bg {
      .outer {
        background: conic-gradient(from 226.74deg at 50% 50%, #E500F0 -43.78deg, #2F00FF 9.18deg, #03F7F9 60.44deg, #32FB1D 115.34deg, #A0EF07 156.52deg, #EECD0C 212.88deg, #F90219 267.69deg, #E500F0 316.22deg, #2F00FF 369.18deg);
      }
    }

    .color-value {
      .color-1 {
        background: #EECE0D;
      }

      .color-2 {
        background: #F56014;
      }

      .color-3 {
        background: #9301F7;
      }
    }
  }

  &.off-switch {
    .bg {
      .outer {
        background: #fff !important;
        opacity: 1 !important;
      }
    }

    .bg-img {
      width: calc(100% - 100px);
      height: calc(100% - 100px);
      border: none;
      background: #fff !important;
    }

    .inner {
      opacity: 0.5;
    }
  }
}
