.home {
  .dashboard {
    position: relative;
    .devSetting {
      position: absolute;
      right: 35px;
      top: 55px;
      transform: translate(-50%, 11%);
      width: 125px;
      height: 125px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;
      img{
        width: 75px;
      }
    }
  }
  /*ant重置*/
  /*List*/
  .adm-list {
    &.adm-list-default {
      .adm-list-item {
        //padding-left: 90px;
        .adm-list-item-content {
          padding-right: 73px;
          border-bottom: 0;
        }
      }
    }
  }
  &.power-off {
    #power{
      pointer-events: auto !important;
    }
    *{
      /*color: @color-disabled !important;*/
      pointer-events: none;
    }
  }
}
