@import url('./Icon/Icon.less');
@import url('./AddTimer/List.less');
@import url('./AddTimer/AddTimer.less');
@import url('./AddTimer/Repeat.less');
@import url('./ListTimer/ListTimer.less');
.timer-cloud {
  background: @c0;
  width: 100%;
  .add-timer-btn {
    position: fixed;
    border: 1px solid #EFF3F5;
    border-radius: 12px;
    background:#FFFFFF;
    width: calc(100% - 32px);
    bottom: 33px;
    left: 16px;
    height: 72px;
    border: none;
    color: #30414D;
    font-size: 16px;
    font-weight: 600;
  }
}
