.dark_foot{
    height: 428px;
    display: flex;
    justify-content: center;
    align-items: center;

    .dark_foot_card{
        width: 971px;
        height: 300px;
        background-image: linear-gradient(139deg, #333E4D 0%, #202C3A 100%);
        border: 3px solid rgba(62,68,84,0.20);
        box-shadow: 0 6px 100px 0 #242735;
        border-radius: 60px;

        display: flex;
        align-items: center;
        justify-content: space-around;
        

        .card_font1{
            width: 154px;
            height: 50px;
            font-family: PingFangSC-Medium;
            font-weight: Medium;
            font-size: 36px;
            color: #FEFEFE;
            text-align: center;
            margin-top: 70px !important;        
        }
        .box_icon{
            margin-top: 25px;
        }
        .card_box{
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;

           
        }
        .card_font{
            width: 154px;
            height: 50px;
            font-family: PingFangSC-Medium;
            font-weight: Medium;
            font-size: 36px;
            color: #FEFEFE;
            text-align: center;
            margin-top: -20px;
            margin-bottom: 40px;
        
        }
        .card_icon{
            width: 20vw;
            height: 20vw
        }

    }
}