.component_business_tabs .tabs{
  width: 85%;
  margin: 45px auto;
  padding: 65px;
  justify-content: space-around;
  border-radius: 60px;
}

body.theme_blue_white {
  .component_business_tabs .tabs{
    .is_active{
      .tabs-icon{
        svg{
          fill: #006AFE !important;
        }
      }
    }
  }
}
body.theme_dark {
  .component_business_tabs .tabs{
    .is_active{
      .tabs-title{
        color: #ffffff;
      }
    }
  }
}
body.theme_colorful {
  .component_business_tabs .tabs{
    .is_active{
      .tabs-icon{
        svg{
          fill: #006AFE !important;
        }
      }
      .tabs-title{
        color: #000000;
      }
    }
  }
}
body.theme_morandi {
  .component_business_tabs .tabs{
    .tabs-item{
      .tabs-icon{
        svg{
          fill: #B5C4D1;
        }
      }
      .tabs-title{
        color: #B5C4D1;
      }
    }
    .is_active{
      .tabs-icon{
        svg{
          fill: #525C6D !important;
        }
      }
      .tabs-title{
        color: #525C6D !important;
      }
    }
  }
}
