@import url("./Action.less");
@import url("./ConfigAction.less");
@import url("./Slider.less");

.home {
  width: 100%;
  color: #ffffff;
  .header-info {
    display: flex;
    align-items: center;
    background: #2d374d;
    border-radius: 0px 16px 16px 0px;
    margin:32px 16px 0 0 ;
    .title {
      font-weight: 400;
      font-size: 10px;
      line-height: 46px;
      text-align: center;
      margin-top: -20px;
      opacity: 0.6;
    }
  }
}
