.theme-list {
    background: #1D202D;

    .content {
        .header {
            .title {
                color: #fff;
            }

            .theme-btn {
                background: rgba(255, 255, 255, 0.1);
            }

            .text {
                border: 1px solid #fff;
                color: #fff;
            }
        }

    }

}
