@import url("./Ticker.less");
@import url("./Position.less");
@import url("./LightBright.less");
@import url('./SceneTab.less');
@import url("./Action.less");
.route-home {
  display: inherit !important;
}
.home {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
}
