.scene-tab {
  background-color: rebeccapurple;
  .scene-slider {
    &.ipx {
      .scene-bg-container {
        margin-bottom: 110px;
      }
    }

    .scene-bg-container {
      margin: 74px auto;
      width: 240px;
      height: 240px;
      border: 4px solid #EFF3F5;
      border-radius: 54.25px;
      overflow: hidden;
      position: relative;
      will-change: transform;

      .scene-bg-list {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        height: 240px;
      }

      .scene-bg {
        width: 240px;
        height: 240px;
      }
    }

    .scene-slider-container {
      position: relative;
      height: 120px;
      overflow: hidden;

      .scene-slider {
        position: absolute;
        top: 0;
        left: 0;
        height: 64px;
        line-height: 64px;
        will-change: transform;

        .scene-slider-item {
          margin-right: 26px;
          width: 48px;
          display: inline-block;
          font-size: 12px;
          color: #26313D;
          letter-spacing: 0;
          text-align: center;
          line-height: 17px;
          vertical-align: middle;
          transition: all .2s;

          &.active {
            // font-weight: 600;
            // font-size: 52px;
            opacity: 1;
            // color: #fff;
          }
          .slider-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            .item-image {
              margin-bottom: 10px;
              width: 48px;
              height: 48px;
              border-radius: 12px;
            }
          }
        }
      }

      .scene-slider-mark {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 750px;
        height: 32px;
      }
    }
  }
}
