.icon {
  .white {
    background-image: url('./white.svg');
  }
  .white-checked {
    background-image: url('./white-checked.svg');
  }
  .scene {
    background-image: url('./scene.svg');
  }
  .scene-checked {
    background-image: url('./scene-checked.svg');
  }
  .switch {
    background-image: url('./switch.svg');
  }
  .switch-checked {
    background-image: url('./switch-checked.svg');
  }
  .timing {
    background-image: url('./timing.svg');
  }
  .timing-checked {
    background-image: url('./timing-checked.svg');
  }
}
