.normal-progress-bar{
    margin-left: 50px;
    width: 867px;
    height: 266px;
    // border: solid;
    margin-top: 106px;
    .normal-progress-bar-font{
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items:baseline;
        width: 867px;
        margin-left: 10px;
        
        .normal-progress-bar-font1{
            font-family: PingFangSC-Medium; 
            font-weight: Medium;
            font-size: 36px; 
            text-align: center;
        }
        // .normal-progress-bar-font2{
        //     text-align: center;
        //     width: 275px;
        // }
        // .normal-progress-bar-font3{
        //     text-align: center;
        //     width: 275px;
        // }
    }
    .normal-progress-bar-tick{
        display: flex;
        justify-content: space-around;
        align-items:baseline;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .normal-progress-bar-tick1{
        height: 20px;
        width: 1px;
    }
    .normal-progress-bar-tick2{
        height: 35px;
        width: 2px;
    }
    .normal-progress-bar-tick3{
        height: 50px;
        width: 4px;
    }
    .over-val{
    }
    
    .normal-progress-bar-dot{
        margin-top: 40px;
        text-align: center;
    }
}
