.switch-timer-cloud {
  .switch-modal {
    .adm-list-inner {
      padding: 0 100px;
    }
  }
}

.add-timer-btn::before {
  content: "定时可能存在30秒左右误差";
  position: absolute;
  width: 100%;
  top: -28px;
  left: 0;
  color: @c1;
  opacity: 0.3;
}
