.icon {
  .light {
    background-image: url('./light.svg');
  }
  .on {
    background-image: url('./on.svg');
  }
  .timing {
    background-image: url('./timing.svg');
  }
  .count-down {
    background-image: url('./count-down.svg');
  }
}
