.icon {
  font-size: 0;

  .switch {
    width: 22px;
    height: 24px;
    background-image: url('./switch.svg');
  }

  .mode {
    width: 24px;
    height: 24px;
    background-image: url('./mode.svg');
  }

  .time {
    width: 32px;
    height: 32px;
    background-image: url('./time.svg');
  }

  .countdown {
    width: 32px;
    height: 32px;
    background-image: url('./countdown.svg');
  }

  .light {
    width: 132px;
    height: 208px;
    background-image: url('./light.svg');
  }

  .plus {
    width: 16px;
    height: 16px;
    background-image: url('./plus.svg');
  }

  .minus {
    width: 16px;
    height: 16px;
    background-image: url('./minus.svg');
  }

}