.training-card-normal {
  .card-action {
    display: flex;
    .owner-data {
      flex: 1;

      .owner-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .key {
          line-height: 45px;
          font-family: PingFangSC-Medium;
          font-weight: Medium;
          font-size: 36px;
          color: #B5C4D1;
          letter-spacing: 0.05px;
        }
        .value {
          margin-top: 15px;
          line-height: 120px;
          font-family: DINCondensed-Bold;
          font-weight: Bold;
          font-size: 120px;
          color: #0F0F0F;
          letter-spacing: 0.17px;
        }
      }
    }
  }

  .card-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 86px;
    .key {
      line-height: 50px;
      font-family: PingFangSC-Medium;
      font-weight: Medium;
      font-size: 36px;
      color: #B5C4D1;
      letter-spacing: 0.05px;
    }
    .value {
      margin-bottom: 10px;
      height: 60px;
      font-family: DINCondensed-Bold;
      font-weight: Bold;
      font-size: 60px;
      color: #0F0F0F;
      letter-spacing: 0.08px;
    }
  }

  .card-image-map {
    flex-shrink: 0;
    width: 411px;
    height: 578px;
    display: block;
  }
}

.training-card-blueWhite {
  
  .card-action {
    display: flex;
    .owner-data {
      flex: 1;

      .owner-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .key {
          line-height: 45px;
          font-family: PingFangSC-Medium;
          font-weight: Medium;
          font-size: 36px;
          color: #B5C4D1;
          letter-spacing: 0.05px;
        }
        .value {
          margin-top: 15px;
          line-height: 120px;
          font-family: DINCondensed-Bold;
          font-weight: Bold;
          font-size: 120px;
          color: #0F0F0F;
          letter-spacing: 0.17px;
        }
      }
    }
  }

  .card-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 86px;
    .key {
      line-height: 50px;
      font-family: PingFangSC-Medium;
      font-weight: Medium;
      font-size: 36px;
      color: #B5C4D1;
      letter-spacing: 0.05px;
    }
    .value {
      margin-bottom: 10px;
      height: 60px;
      font-family: DINCondensed-Bold;
      font-weight: Bold;
      font-size: 60px;
      color: #0F0F0F;
      letter-spacing: 0.08px;
    }
  }

  .card-image-map {
    flex-shrink: 0;
    width: 411px;
    height: 578px;
    display: block;
  }
}

.training-card-dark {
  
  .card-action {
    display: flex;
    .owner-data {
      flex: 1;

      .owner-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .key {
          line-height: 45px;
          font-family: PingFangSC-Medium;
          font-weight: Medium;
          font-size: 36px;
          color: #B5C4D1;
          letter-spacing: 0.05px;
        }
        .value {
          margin-top: 15px;
          line-height: 120px;
          font-family: DINCondensed-Bold;
          font-weight: Bold;
          font-size: 120px;
          color: #F4F8FB;
          letter-spacing: 0.17px;
        }
      }
    }
  }

  .card-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 86px;
    .key {
      line-height: 50px;
      font-family: PingFangSC-Medium;
      font-weight: Medium;
      font-size: 36px;
      color: #B5C4D1;
      letter-spacing: 0.05px;
    }
    .value {
      margin-bottom: 10px;
      height: 60px;
      font-family: DINCondensed-Bold;
      font-weight: Bold;
      font-size: 60px;
      color: #F8FDFF;
      letter-spacing: 0.08px;
    }
  }

  .card-image-map {
    flex-shrink: 0;
    width: 411px;
    height: 578px;
    display: block;
  }
}

.training-card-colorful {
  
  .card-action {
    display: flex;
    .owner-data {
      flex: 1;

      .owner-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .key {
          line-height: 45px;
          font-family: PingFangSC-Medium;
          font-weight: Medium;
          font-size: 36px;
          color: #FFFFFF;
          letter-spacing: 0.05px;
        }
        .value {
          margin-top: 15px;
          line-height: 120px;
          font-family: DINCondensed-Bold;
          font-weight: Bold;
          font-size: 120px;
          color: #FFFFFF;
          letter-spacing: 0.17px;
        }
      }
    }
  }

  .card-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 86px;
    .key {
      line-height: 50px;
      font-family: PingFangSC-Medium;
      font-weight: Medium;
      font-size: 36px;
      color: #FFFFFF;
      letter-spacing: 0.05px;
    }
    .value {
      margin-bottom: 10px;
      height: 60px;
      font-family: DINCondensed-Bold;
      font-weight: Bold;
      font-size: 60px;
      color: #FFFFFF;
      letter-spacing: 0.08px;
    }
  }

  .card-image-map {
    flex-shrink: 0;
    width: 411px;
    height: 578px;
    display: block;
  }
}

.training-card-morandi {
  
  .card-action {
    display: flex;
    .owner-data {
      flex: 1;

      .owner-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .key {
          line-height: 45px;
          font-family: PingFangSC-Medium;
          font-weight: Medium;
          font-size: 36px;
          color: #B5C4D1;
          letter-spacing: 0.05px;
        }
        .value {
          margin-top: 15px;
          line-height: 120px;
          font-family: DINCondensed-Bold;
          font-weight: Bold;
          font-size: 120px;
          color: #4E5869;
          letter-spacing: 0.17px;
        }
      }
    }
  }

  .card-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 86px;
    .key {
      line-height: 50px;
      font-family: PingFangSC-Medium;
      font-weight: Medium;
      font-size: 36px;
      color: #B5C4D1;
      letter-spacing: 0.05px;
    }
    .value {
      margin-bottom: 10px;
      height: 60px;
      font-family: DINCondensed-Bold;
      font-weight: Bold;
      font-size: 60px;
      color: #4E5869;
      letter-spacing: 0.08px;
    }
  }

  .card-image-map {
    flex-shrink: 0;
    width: 411px;
    height: 578px;
    display: block;
  }
}