@import url('./Icon/Icon.less');
@import url('./AddTimer/List.less');
@import url('./AddTimer/AddTimer.less');
@import url('./AddTimer/Repeat.less');
@import url('./ListTimer/ListTimer.less');
.timer-cloud {
  background: #f4f8fb;
  width: 100%;
  .add-timer-btn {
    position: fixed;
    height: 200px;
    background: #202137;
    color: #FFFFFF;
    box-shadow: 0 6px 50px 0 rgba(32, 33, 33, 0.1);
    border-radius: 60px;
    width: calc(100% - 160px);
    bottom: 146px;
    left: 80px;
    border: none;
  }
}
