.icon {
  .editor-other {
    width: 18px;
    height: 18px;
    background-image: url('./editor-other.svg');
  }
  .error {
    width: 24px;
    height: 24px;
    background-image: url('./error.svg');
  }

  .add {
    width: 28px;
    height: 28px;
    background-image: url('./add.svg');
  }

  .bg {
    background-image: url('./bg.svg');
  }

  .layout-add-0 {
    width: 28px;
    height: 28px;
    background-image: url('./layout-add-0.svg');
  }

  .layout-add-1 {
    width: 28px;
    height: 28px;
    background-image: url('./layout-add-1.svg');
  }

  .info {
    width: 13px;
    height: 13px;
    background-image: url('./info.svg');
  }

  .info-layout {
    width: 206px;
    height: 206px;
    background-image: url('./info-layout.svg');
  }

  .arrow-left {
    width: 43px;
    height: 86px;
    background-image: url('./arrow-left.svg');
  }

  .arrow-right {
    width: 43px;
    height: 73px;
    background-image: url('./arrow-right.svg');
  }

  .theme1 {
    background-image: url('./theme1.svg');
  }
}