.blue_white_foot{
    height: 859px;
    display: flex;
    align-items: flex-end;

    .foot_card{
        width: 1125px;
        height: 793px;
        // background: #FFFFFF;
        // box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        // border-radius: 120px 120px 0 0;
        // margin-top: 66px;

        .foot_botton{
            height: 389px;
            display: flex;
            justify-content: center;
            align-items: center;
            // border-bottom: 3px solid #EDEEF2;

            .botton_span{
                height: 230px;
                width: 879px;
                // border: solid 1px;

                display: flex;
                justify-content: space-around;
                align-items: center;

                // .span_switch{
                //     height: 230px;
                //     width: 230px;
                // }
            }
        }
        .foot_size{
            height: 400px;
            display: flex;
            justify-content: center;
            .state{
                width: 865px;
                height: 147px;
                // border: solid 1px;

                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 91.5px;
            }
            .span_top{
                width: 199px;
                height: 61px;
                font-family: PingFangSC-Semibold;
                font-weight: Semibold;
                font-size: 48px;
                color: #FFFFFF;
                letter-spacing: 0.07px;
                text-align: center;
            }
            .soan_foot{
                height: 67px;
                font-family: PingFangSC-Regular;
                font-weight: Regular;
                font-size: 48px;
                color: #FEFEFE;
                text-align: center;
            }
            .vertical{
                width: 5.37px;
                height: 119.04px;
                transform: rotate(1.14deg);
                background-color: #F6F7F7;
            }
        }
    }

}