.icon {
  .editor-other {
    background-image: url('./editor-other.svg');
  }

  .download {
    background-image: url('./download.svg');
  }

  .info-layout {
    background-image: url('./info-layout.svg');
  }

  .info {
    background-image: url('./info.svg');
  }
}