.setup_center{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .hot_card{
        width: 965px;
        height: 1800px;
        padding: 30px 0;
        background: #FFFFFF;
        box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);
        border-radius: 60px;

        :last-child{
            border: #FFFFFF;
        }


        .card_top{
            height: 306px;
            display: flex;
            // align-items: flex-end;
            flex-wrap: wrap;
            // justify-content: space-between;
            align-content: space-around;
            justify-content: center;


            .font_span{
                width: 833px;
                display: flex;
            }
            .card_size{
                // width: 328px;
                height: 67px;
                font-family: PingFangSC-Medium;
                font-weight: Medium;
                font-size: 48px;
                color: #000000;
                // margin-right: 133px;

            }
            .card_botton{
                display: flex;
                // justify-content: space-around;
                align-content: space-between;
                border: none;

                // .check{
                //   background: #000000 !important;
                // }

                .card_botton1{
                    width: 350px;
                    height: 70px;
                    // background: #B5C4D1;
                    border-radius: 34px;
                    font-family: PingFangSC-Medium;
                    font-weight: Medium;
                    font-size: 36px;
                    color: #FFFFFF;
                    text-align: center;
                    line-height: 70px;
                    margin-right: 133px;

                }
                .card_botton2{
                    width: 350px;
                    height: 70px;
                    // background: #B5C4D1;
                    border-radius: 34px;
                    font-family: PingFangSC-Medium;
                    font-weight: Medium;
                    font-size: 36px;
                    color: #FFFFFF;
                    line-height: 70px;
                    text-align: center;
                }
            }


        }
        .setting{
            // position: static !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // height: auto;
            border-radius: 60px;
            :last-child{
                border: #FFFFFF !important;
            }

          ._component_base_cell_{
            width: 800px;
            height: 80px;
            border-bottom: 3px solid rgba(181,196,209,0.50);
            // :last-child{
            //     border: #FFFFFF;
            // }


          }

          ._color_white_{
            background-color: #FFFFFF;
            :last-child{
                border: #FFFFFF;
            }

          }
          ._color_gray_{
            background-color: #fdfdfd;

          }
        }
    }

    .cloud{
        width: 965px;
        height: 160px;
        background: #FFFFFF;
        box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);
        border-radius: 60px;
        margin-top: 50px;
    }

    .longevity{
        width: 965px;
        height: 732px;
        background: #FFFFFF;
        box-shadow: 0 6px 50px 0 rgba(32,33,33,0.10);
        border-radius: 60px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 137px;

        .longevity_head{
            width: 745px;
            height: 148px;
            display: flex;
            justify-content: space-between;
        }
        .longevity_span{
            height: 150px;
            width: 200px;

            .content_num{
                height: 67px;
                width: 200px;
                font-family: PingFangSC-Semibold;
                font-weight: Semibold;
                font-size: 48px;
                color: #0F0F0F;
                letter-spacing: 0.07px;
                text-align: center;

            }
            .content_font{
                height: 67px;
                width: 200px;
                font-family: PingFangSC-Regular;
                font-weight: Regular;
                font-size: 48px;
                color: #B5C4D1;
                text-align: center;
            }
        }
        .longevity_center{
            width: 840px;
            display: flex;
            justify-content: space-between;

            .longevity_reset{
                width: 352px;
                height: 67px;
                font-family: PingFangSC-Medium;
                font-weight: Medium;
                font-size: 48px;
                color: #000000;
            }
            .reset_span{
                width: 230px;
                height: 79px;
                background: #0F0F0F;
                border-radius: 63px;

                font-family: PingFangSC-Regular;
                font-weight: Regular;
                font-size: 36px;
                color: #FFFFFF;
                text-align: center;
                line-height: 79px;
            }
        }
    }
}
