.home {
  position: relative;

  header {
    padding: 24px 17px 32px;
  }
  .setting-block {
    margin: 32px 16px 32px 0;
    display: flex;
    flex-direction: column;

    .setting-button {
      margin-bottom: 16px;
      padding: 24px 16px 24px 24px;
      border-radius: 0px 16px 16px 0px;
      background: #2D374D;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}