.ticker {
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .btn {
      width: 88px;
      height: 36px;
      border-radius: 16px;
      border: 1px solid rgba(156, 140, 255, 0.24);
    }
    .btn-primary {
      background: @c3;
      .title {
        color: rgba(29, 32, 45, 1);
      }
    }
    .btn-reverse{
      background: @c2;
    }
    .btn-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
  }
  &.ticker-off {
    padding-top: 36px;
    .content {
      display: none;
    }
    .title {
      color: @c6;
    }
  }
}
