.setting-view {
  --text-color: #000000;
  --text-background: unset;

 .setting-footer {
   background: none;
   box-shadow: none;
   padding: 0;

   ._component_base_cell_{
     width: 75%;
     padding-top: 70px;
     padding-bottom: 70px;
     margin: 0 auto 30px;
     background: #FFFFFF;
     border-radius: 60px;
     .cell-wrapper{
       font-size: 36px;
       .icon-arrow-right{
         width: 0;
       }
     }
   }
  //  底部文字颜色
   .target-value {
     color: var(--text-color);
     background: var(--text-background);
     background-clip: text;
   }
 }
}

body.theme_blue_white {
  .setting-view {
    .target-value {
      --text-color: transparent;
      --text-background: linear-gradient(133deg, #0081ff 0%, #005bff 100%);
    }
  }
}
body.theme_colorful {
  .setting-view {
    .setting-footer {
      background-image: linear-gradient(180deg, #FADA00 0%, #FFBE00 100%);
      color: #fff;
    }

    .target-value {
      --text-color: #fff;
      --text-background: unset;
    }
  }
}
body.theme_dark {
  .setting-view {
    --text-color: transparent;
    --text-background: linear-gradient(137deg, #00F0FF 0%, #704DF0 100%);
  }
}
body.theme_morandi {
  .setting-view {
    --text-color: #fff;
    --text-background: unset;

    .setting-footer {
      background-color: unset;
    }
  }
}
