.oven_foot{
    display: flex;
    .foot_card{
        margin-top: 100px;
        width: 1125px;
        height: 242px;
        background: #FFFFFF;
        box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        border-radius: 120px 120px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .card_font{
            width: 340px;
            height: 100px;
            // background: #000000;
            border-radius: 50px;
            font-family: PingFangSC-Semibold;
            font-weight: Semibold;
            font-size: 36px;
            color: #FFFFFF;
            text-align: center;
            line-height: 100px;
        }
    }

}
