.icon {
  font-size: 0;
  .smoke {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #46A3A4;
  }
  .smoke-alarm {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #A14545;
  }
  .record {
    width: 22px;
    height: 24px;
    background-image: url('./record.svg');
  }
  .settings {
    width: 25px;
    height: 24px;
    background-image: url('./settings.svg');
  }
}