.bormal_head{
    height: 640px;
    // border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .foot_card{
        width: 967px;
        height: 508px;
        background: #FFFFFF;
        box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        border-radius: 60px;
        // margin-top: -254px;
        margin-bottom: 75px;

        display: flex;
        justify-content: space-around;
        // flex-direction: column;
        align-items: center;
    }
    .card_img{
        width: 283px;
        height: 390px;
    }
    .card_right{
        height: 390px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items:  center;


        .across{
            width: 193px;
            height: 3px;
            // border: 3px solid #B5C4D1;
            background-color: #B5C4D1;
        }
        .font_num{
            text-align: center;
        }
    }
}