.morandi_head{
    height: 936px;
    display: flex;
    // justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    width: 1020px;
    // height: 980px;
    // border: solid 1px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .morandi_title{
        margin-top:40px;
        width: 108px;
        height: 50px;
        font-family: PingFangSC-Medium;
        font-weight: Medium;
        font-size: 36px;
        color: #0F0F0F;
        text-align: center;
        margin-bottom: 47px;
    }
    .morandi_head_card{
        width: 950px;
        height: 763px;  
        // border: solid 1px;
    }
    .dark_bar{
        width: 950px;
        height: 763.84px;
        position:absolute;
        z-index:2;
        background-repeat: no-repeat;
    }
    // .dark_city{
    //     width: 882px;
    //     height: 687px;
    //     z-index:1;
    //     position:absolute;
    //     background-repeat: no-repeat;
    //     background-position: bottom 0;
    //     // background-image: url("https://tencent-1305105198.cos.ap-guangzhou.myqcloud.com/electric-curtain/curtains-city-dark.png");
    // }
    // .dark_leaves{
    //     width: 49.55px;
    //     height: 685.94px;
    //     z-index:3;
    //     position:absolute;
    //     background-repeat: no-repeat;
    //     background-position: bottom 0;
    // }
    .background_city{
        width: 947px;
        height: 736px;
    }
    .dark_city{
        width: 947px;
        height: 736px;
        // z-index:1;
        position:absolute;
        background-repeat: no-repeat;
        background-position: bottom 0;
        margin-top: 14px;
        // background-image: url("https://tencent-1305105198.cos.ap-guangzhou.myqcloud.com/electric-curtain/curtains-city-dark.png");
    }
    .dark_leave_wrap{
        position: absolute;
        width: 890px;
        display: flex;
        margin-top: 20px;
    }
    .dark_leave_space{
        flex: 0%;
    }
    .dark_leave_div{
        width: 22px;
        // transition: width 1s;
    }
    .dark_leaves{
        // width: 53.25px;
        height: 736px;
        // z-index:3;
        // position:absolute;
        background-repeat: no-repeat;
        background-position: bottom 0;
    }
}