.home {
  position: relative;
  padding: 20px;
  height: calc(100vh - 40px);

  header {
    margin-bottom: 78px;
  }

  .tips {
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 107px;

    span {
      position: relative;
      margin-left: 14px;
      display: inline-block;
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #30414D;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -14px;
        margin-top: -3px;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #1D2C3E;
      }
    }
  }

  .action {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    padding: 0 16px;
    color: #ffffff;

    .action-item {
      display: flex;
      // align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 120px;
      height: 92px;
      background: #FFFFFF;
      border: 1px solid #EFF3F5;
      border-radius: 8px;
      align-items: center;

      .action-ele {
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;
        font-size: 15px;
        // margin-top: 10px;
        font-weight: 600;
        // margin: inherit;
        padding: 17px 12px 0 12px;
        align-items: center;

        >div:last-child {
          margin-top: 4px;
        }

        .title {
          font-family: 'PingFang SC';
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 17px;
          color: #30414D;
        }

        .cell {
          padding: 6px 0;
        }
      }

      &.action-item-1 {
        .icon {
          display: none;
        }

        .cell-wrapper {
          .cell-title-wrapper {
            display: none;
          }
        }

        .action-ele {
          flex-direction: column-reverse;
          padding: 0;

          .adm-switch .adm-switch-checkbox .adm-switch-handle {
            background: #fff !important;
          }
          .adm-switch-checked .adm-switch-checkbox .adm-switch-handle {
            background: #1D202D !important;
          }
        }

        .title {
          font-weight: 600;
          font-size: 16px;
          margin-top: 12px;
        }
      }

      &.action-item-2 {
        .title {
          display: none;
        }

        .cell-wrapper {
          .icon-arrow-right {
            display: none;
          }
        }
      }
    }

    &.action-off {
      color: @c6;
    }
  }
  &.power-off {
    opacity: 0.6;
  }
}