.home{
  .sacles_center{
    width: 1125px;
    display: flex;
    justify-content: center;

    .card{
      width: 967px;

      .adm-collapse{
        box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        border-radius: 50px;
        .adm-list{
          border-radius: 50px;
          .adm-list-item{
            //border-bottom: 3px solid #B5C4D1;
            .adm-list-item-content{
              padding: 30px 50px;
              .adm-list-item-content-main{
                padding:25px 0;
              }
            }
          }
        }
        .coll-title{
          display: flex;
          align-items: center;
          font-size: 48px;
          font-weight: Medium;

          img{
            width: 80px;
            margin-right: 30px;
          }
          .coll-hint{
            font-size: 24px;
            color: #A3A6AB;
            margin-left: 50px;
          }
        }
        .coll-detail{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 25px 0;

          .coll-detail-left{
            display: flex;
            align-items: center;
            font-size: 48px;
            font-weight: Medium;

            img{
              width: 80px;
              margin-right: 30px;
            }
          }

          .coll-detail-right{
            .body-val{
              width: 100px;
              margin-left: 30px;
            }
            .body-right{
              height: 50px;
              margin-left: 30px;
            }
          }
        }
      }
      .foot_card{
        width: 967px;
        height: 385px;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        .left_card{
          width: 300px;
          height: 385px;
          box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
          border-radius: 50px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .span_body{
            height: 293px;
            width: 167px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            .body_font1{
              width: 167px;
              height: 57px;
              font-family: PingFangSC-Medium;
              font-weight: Medium;
              font-size: 48px;
            }
            .body_font2{
              width: 140px;
              height: 30px;
              font-family: PingFangSC-Regular;
              font-weight: Regular;
              font-size: 24px;
              margin-bottom: 124px;
              color: #A3A6AB;
            }
          }
          .foot_card_span{
            height: 18px;
            width: 77px;
            display: flex;
            justify-content: space-between;

            .dot1{
              width: 18px;
              height: 18px;
              background: #B5C4D1;
              border-radius: 100%;
            }
          }
        }
        .right_card{
          width: 622px;
          height: 385px;
          box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
          border-radius: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          overflow: hidden;

          .right_span_top{
            height: 200px;
            width: 622px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .weight_span{
              width: 490px;
              height: 67px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .weight_font1{
                width: 103px;
                height: 67px;
                font-family: PingFangSC-Medium;
                font-weight: Medium;
                font-size: 48px;
              }
              .weight_font2{
                width: 129px;
                height: 67px;
                font-family: PingFangSC-Medium;
                font-weight: Medium;
                font-size: 48px;
              }
            }
          }
          .weight_font3{
            width: 109px;
            height: 29px;
            font-family: PingFangSC-Regular;
            font-weight: Regular;
            font-size: 24px;
            color: #A3A6AB;
            margin-right: 380px;
            margin-top: 14px;
          }
        }
      }
    }
  }
  .sacles_foot{
    .foot_card{
      .card_top{
        display: flex;
        flex-direction: column;
        align-items: center;

        .card_dashboard{
          width: 669px;
          height: 249px;
          margin-top: 50px;
          border-radius: 60px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .card_span{
            height: 135px;
            width: 443px;
            display: flex;
            align-content: space-around;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 14px;

            .span_triangle{
              width: 40px;
              height: 40px;
              border-radius: 50%;
              transform: scaleY(-1) rotate(-270deg);
            }
            .span_num{
              width: 249px;
              height: 135px;
              font-family: PingFangSC-Medium;
              font-weight: Medium;
              font-size: 120px;
            }
            .span_fat{
              height: 100px;
              width: 73px;
              .fat_font{
                width: 73px;
                height: 50px;
                font-family: PingFangSC-Regular;
                font-weight: Regular;
                font-size: 36px;
                text-align: center;
              }
              .fat_unit{
                width: 43px;
                height: 50px;
                font-family: PingFangSC-Regular;
                font-weight: Regular;
                font-size: 36px;
                text-align: center;
              }
            }
          }
          .card_font{
            width: 197px;
            height: 50px;
            font-family: PingFangSC-Regular;
            font-weight: Regular;
            font-size: 36px;
            text-align: center;
            margin-top: 17px;
          }
        }
        .light-slider{
          width: 823px;
          margin: 50px 0;
        }
      }
      .card_top_circle{
        width: 1125px;
        height: 750px;
        border-radius: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card_span{
          width: 750px;
          height: 750px;
          position: relative;

          .card_detail{
            position: absolute;
            top: 50px;
            width: 100%;
            height: 100%;
            display: flex;
            font-size: 36px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 2;

            .remark{
              margin-bottom: 50px;
            }
            .weight{
              display: flex;
              align-items: baseline;
              font-size: 80px;
              margin-bottom: 50px;
              .unit{
                font-size: 36px;
                margin-left: 20px;
              }
            }
            .state{
              width: 100px;
              img{
                width: 100%;
              }
            }
          }
          .card_bg{
            position: absolute;
            left: 50%;
            top: 138px;
            transform: translate(-50%,0);
            width: 487px;
            height: 487px;
            border-radius: 50%;
            box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
            z-index: 1;
          }
          .card_bg1{
            position: absolute;
            left: 50%;
            top: 100px;
            transform: translate(-50%,0);
            width: 562px;
            height: 562px;
            border-radius: 50%;
            // transition: transform 1s;

            .card_triangle{
              position: absolute;
              width: 230px;
              left: -4%;
              bottom: -13%;
              transform: rotate(-8deg);
              z-index: 1;

              img{
                width: 100%;
                height: 100%;
              }
            }
          }
          .card_img{
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
            width: 100%;
            height: 100%;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
        .card_font{
          width: 500px;
          height: 50px;
          font-family: PingFangSC-Regular;
          font-weight: Regular;
          font-size: 36px;
          text-align: center;
          margin-top: 17px;
        }
      }
      .card_foot{
        height: 248px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0;

        .foot_box{
          width: 967px;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .vertical{
            width: 1px;
            height: 50px;
          }
          .box{
            height: 150px;
            width: 231px;

            .box_title{
              width: 231px;
              height: 67px;
              font-family: PingFangSC-Medium;
              font-weight: Medium;
              font-size: 48px;
              text-align: center;
              line-height: 67px;
              margin-bottom: 10px;
            }
            .box_num{
              width: 231px;
              height: 67px;
              font-family: PingFangSC-Medium;
              font-weight: Medium;
              font-size: 48px;
              text-align: center;
              line-height: 67px;
            }
          }
        }
      }
    }
  }
}
