.icon {
  font-size: 0;

  .mode-0 {
    width: 24px;
    height: 24px;
    background-image: url('./mode-0.svg');
  }

  .start {
    width: 24px;
    height: 24px;
    background-image: url('./start.svg');
  }

  .time {
    width: 24px;
    height: 24px;
    background-image: url('./time.svg');
  }

  .cook-time {
    width: 24px;
    height: 24px;
    background-image: url('./cook-time.svg');
  }

  .status {
    width: 24px;
    height: 24px;
    background-image: url('./status.svg');
  }

  .temperature {
    width: 24px;
    height: 24px;
    background-image: url('./temperature.svg');
  }

  .stop {
    width: 24px;
    height: 24px;
    background-image: url('./stop.svg');
  }

  .home-mode-1 {
    width: 24px;
    height: 24px;
    background-image: url('./home-mode-1.svg');
  }

  .home-mode-2 {
    width: 24px;
    height: 24px;
    background-image: url('./home-mode-2.svg');
  }

  .home-mode-3 {
    width: 24px;
    height: 24px;
    background-image: url('./home-mode-3.svg');
  }

  .home-mode-4 {
    width: 24px;
    height: 24px;
    background-image: url('./home-mode-4.svg');
  }
}