@import url('./LightSwitch.less');
.home {
  .switch-1 {
    padding: 108px 82px 126px 82px;
  }
  .switch-2 {
    display: flex;
    padding: 108px 25px 39px 25px;
    justify-content: space-between;
    .light-switch {
      width: 160px;
    }
  }
  .switch-3 {
    display: flex;
    padding: 108px 18px 39px 18px;
    justify-content: space-between;
    .light-switch {
      width: 110px;
    }
  }
}
