.bluewhite-progress-bar{
    margin-left: 50px;
    width: 867px;
    height: 266px;
    color: #B5C4D1;
    // border: solid;
    border-bottom: 3px solid #338FFF;
    margin-top: 66px;
    padding-bottom: 40px;
    .bluewhite-progress-bar-font{
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items:baseline;
        width: 867px;
        margin-left: 10px;
        
        .bluewhite-progress-bar-font1{
            font-family: PingFangSC-Medium; 
            font-weight: Medium;
            font-size: 36px; 
            text-align: center;
        }
        // .bluewhite-progress-bar-font2{
        //     text-align: center;
        //     width: 275px;
        // }
        // .bluewhite-progress-bar-font3{
        //     text-align: center;
        //     width: 275px;
        // }
    }
    .bluewhite-progress-bar-tick{
        display: flex;
        justify-content: space-around;
        align-items:baseline;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .bluewhite-progress-bar-tick1{
        height: 20px;
        width: 1px;
        background-color: #B5C4D1;
    }
    .bluewhite-progress-bar-tick2{
        height: 35px;
        width: 2px;
        background-color: #B5C4D1;
    }
    .bluewhite-progress-bar-tick3{
        height: 50px;
        width: 4px;
        background-color: #B5C4D1;
    }
    .over-val{
        background-color: #0f0f0f;
    }
    
    .bluewhite-progress-bar-text{
        margin-top: 40px;
        text-align: center;
        color: #fff;
    }
    
    .bluewhite-progress-bar-wrap{
        margin-top:20px;
        background-color: #338eff;
        width: 867px;
        height: 100px;        
        border-radius: 36px;
    }

    .bluewhite-progress-bar-slider{
        background-color: #fff;
        width: 500px;
        height: 100px;  
        border-radius: 36px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
    }

    .bluewhite-progress-bar-dot{
        background-color: #0071ff;
        width: 8px;
        height: 40px;
        margin-right: 30px;
        border-radius: 4px;
    }
}