.editor-layout {
    background: #fff;
}

.switch-scene-popup {
    .adm-switch .adm-switch-checkbox .adm-switch-handle {
        background: #594AE1 !important;
    }
}

.switch-scene-popup .custom-tabs .device-list .device-item .device-title {
    color: #565477;
}