.home {
  position: relative;
  padding-top: 30px;
  color: #26313D;
  overflow: hidden;

  .top {
    justify-content: flex-start;

    .battery {
      position: relative;
      top: 0;
      left: 0;
    }
  }

  .disk-wrap {
    margin: 0 auto;
    width: 260px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .outer {
      width: 209px;
      height: 273px;
      background: rgba(255, 255, 255, 0.3);
      border: 20px solid rgba(239, 243, 245, 0.5);
      transform: rotate(60deg);
      border-radius: 50%;
      box-shadow: none;
      position: absolute;
    }

    .center {
      width: 209px;
      height: 273px;
      background: rgba(255, 255, 255, 0.3);
      border: 20px solid rgba(239, 243, 245, 0.5);
      transform: rotate(-30deg);
      border-radius: 50%;
      box-shadow: none;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .inner {
        color: #30414D;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: none;
        transform: rotate(30deg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
          opacity: 0.75;
        }

        .content {
          display: flex;
          color: #30414D;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 17px;
          margin-top: 28px;

          .value {
            font-family: 'DIN Condensed';
            height: 60px;
            font-size: 60px;
            line-height: 60px;
          }

          .unit {
            line-height: 12px;
          }
        }


      }
    }

  }

  .home-footer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .add-reduce {
      display: flex;
      justify-content: space-between;
      padding: 0 23px;
      margin: 60px 0 30px 0;

      .custom-slider {
        margin: 0 16px;
        border-radius: 8px;
        border: 1px solid #EFF3F5;

        .adm-slider {

          .adm-slider-track-container {
            .adm-slider-track {
              background: rgba(255, 255, 255, 0.3);

              .adm-slider-fill {
                background: #30414D;
                opacity: 1;
              }

            }
          }
        }

        .scale-list {
          .scale {
            background: #eaeaea;
          }
        }
      }

      .btn {
        width: 40px;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #EFF3F5;
        border-radius: 8px;
      }
    }

    .actions {
      display: flex;
      padding: 0 16px;
      justify-content: space-between;
      margin-bottom: 16px;
      align-items: center;

      .cell-first,
      .cell-second {
        border-bottom: 0;
        background: #FFFFFF;
        border: 1px solid #EFF3F5;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cell-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: calc(100% - 45px);
          height: calc(100% - 40px);

          .cell-prefix-icon {
            margin-right: 0;
            margin-bottom: 16px;
          }

          .icon-arrow-right {
            display: none;
          }
        }
      }

      .cell-first {
        width: 77px;
        height: 120px;
        padding: 0;
      }

      .cell-second {
        width: 120px;
        height: 94px;
        padding: 0;

        &:nth-child(2) {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: #FE6D3E;

          .cell-prefix-icon {
            margin: 0;
          }

          .cell-title-wrapper {
            display: none;
          }
        }

        .cell-wrapper {
          justify-content: center;
          width: 100%;
          height: 100%;
        }
      }
    }

  }

  // &.power-off {

  //   .icon,
  //   .content,
  //   .value,
  //   .button-name {
  //     opacity: 0.5;
  //   }
  // }
}