.colorful_foot{
    // height: 859px;
    height: 370px;
    display: flex;
    align-items: flex-end;

    .foot_card{
        width: 1125px;
        // height: 793px;
        height: 304px;
        // background: #FFFFFF;
        // box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        // border-radius: 120px 120px 0 0;
        // margin-top: 66px;

        
        .foot_size{
            height: 300px;
            display: flex;
            justify-content: center;
            .state{
                width: 974px;
                height: 251.79px;


                display: flex;
                justify-content: space-around;
                align-items: center;
                // margin-top: 91.5px;
            }
            .span_top{
                width: 199px;
                height: 61px;
                font-family: PingFangSC-Semibold;
                font-weight: Semibold;
                font-size: 48px;
                color: #0F0F0F;
                letter-spacing: 0.07px;
                text-align: center;
            }
            .soan_foot{
                height: 67px;
                font-family: PingFangSC-Regular;
                font-weight: Regular;
                font-size: 48px;
                color: #B5C4D1;
                text-align: center;
            }
            // .vertical{
            //     width: 5.37px;
            //     height: 119.04px;
            //     transform: rotate(1.14deg);
            //     background-color: #F6F7F7;
            // }
        }
    }

}