.cell {
  line-height: 22px;
  font-size: 16px;
  font-weight: 600;
  color: #1D2C3E;
  padding: 12px 0;

  .cell-wrapper {
    display: flex;
    align-items: center;
  }
  .icon-arrow-right {
    margin-left: 12px;
    width: 7px;
    height: 12px;
    background: url('./arrow.svg') no-repeat center;
    background-size: contain;
  }
  .cell-desc {
    color: rgba(29, 44, 62, 0.5);
    margin-top: 37px;
  }
  .cell-content {
    margin-left: auto;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: rgba(29, 44, 62, 0.5);
    &.cell-content-style-set {
      color: #1D2C3E;
    }
  }

  .cell-subtitle {
    font-size: 24px;
    color: #A3A6AB;
    margin-left: 35px;
  }

  .cell-prefix-icon {
    display: block;
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin-right: 17px;
  }
   &.cell-settings {
    border-bottom: 1px solid #EEEEEE;
  }
  &.border {
    border: 1px solid @c7;
    border-radius: 16px;
    padding: 12px 16px 12px 27px;
    margin-bottom: 16px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.last-child {
      margin-bottom: 0;
    }
  }
}
