.home {
  position: relative;
  padding-top: 82px;
  color: #26313D;

  .top {}

  .disk-wrap {
    margin: 0 auto;
    width: 260px;
    height: 260px;
  }

  .home-footer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .add-reduce {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 32px;
      margin: 32px 0 38px 0;

      .btn {
        border: 1px solid rgba(156, 140, 255, 0.24);
        background: rgba(0, 0, 0, 0.3);
      }
    }

  }

  // &.power-off {

  //   .icon,
  //   .content,
  //   .value,
  //   .button-name {
  //     opacity: 0.5;
  //   }
  // }
}