.modal-container {
  bottom: 0;
  left: 0;
  z-index: 1;
  height: initial;
  box-shadow: 0px -4px 20px rgba(246, 244, 252, 0.9);

  .modal {
    width: 100vw;
    // height: 100vh;
    top: 83%;

    .modal-header {
      padding: 16px;

      .modal-title {
        color: @c1;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        padding-left: 8px;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .modal-body {
      padding: 16px;
      margin-bottom: 34px;
      .picker-body{
        width: 100%;
      }
    }

    .modal-footer {
      position: absolute;
      top: 0;
      width: calc(100vw - 32px);
      left: 16px;
      >.btn-group{
        > .btn{
          flex: 1 ;
          border: none ;
          background: transparent ;
          color: @c1 ;
          font-weight: 600 ;
          font-size: 16px ;
          text-align: left;
          &:last-child{
            text-align: right ;
          }
        }
      }
    }
  }


  
  .modal-mask {
    display: none;
  }

}