.switch-timer-cloud {
  .adm-popup-body {
    border-radius: 12px;
    background: #151D3C;

    .picker-header {
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      text-align: center;

      color: #FFFFFF;
    }

    .rmc-multi-picker .rmc-picker .rmc-picker-content .rmc-picker-item-selected {
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 600;
      font-size: 20px !important;
      line-height: 28px;
      color: #335FFF;
    }

    .rmc-multi-picker .rmc-picker .rmc-picker-content .rmc-picker-item {
      font-size: 16px;
      text-align: left;
    }

    .rmc-multi-picker .rmc-picker:first-child .rmc-picker-content .rmc-picker-item {
      text-align: left;
    }

    .rmc-picker-indicator:after {
      width: calc(100% - 24px);
      background: rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(156, 140, 255, 0.24);
    }

    // .rmc-picker:nth-child(1) {
    //   .rmc-picker-indicator {
    //     &:after {
    //       left: 24px;
    //       border-top-left-radius: 16px;
    //       border-bottom-left-radius: 16px;
    //       border-right: 0;
    //     }
    //   }
    // }

    // .rmc-picker:nth-child(2) {
    //   .rmc-picker-indicator {
    //     &:after {
    //       right: 24px;
    //       border-top-right-radius: 16px;
    //       border-bottom-right-radius: 16px;
    //       border-left: 0;
    //     }
    //   }
    // }

    .custom-switch {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      margin-top: 14px;
      >div {
        width: 152px;
        height: 34px;

        display: flex;
        align-items: center;
        justify-content: center;

        &.checked {
          background: rgba(0, 0, 0, 0.3);
          border-radius: 16px;

        }

      }
    }
  }

  .switch-modal {
    .adm-list-inner {
      padding: 0 100px;
    }
  }
}