.icon {
  font-size: 0;
  .light {
    background-image: url('./light.svg');
  }
  .light-checked {
    background-image: url('./light-checked.svg');
  }
  .minus {
    width: 20px;
    height: 20px;
    background-image: url('./minus.svg');
  }
  .minus-checked {
    width: 20px;
    height: 20px;
    background-image: url('./minus-checked.svg');
  }
  .add {
    width: 20px;
    height: 20px;
    background-image: url('./add.svg');
  }
  .add-checked {
    width: 20px;
    height: 20px;
    background-image: url('./add-checked.svg');
  }
}
