.icon {
  font-size: 0;
  .more {
    width: 24px;
    height: 24px;
    background-image: url('./more.svg');
  }
  .unlocked {
    width: 66px;
    height: 66px;
    background-image: url('./unlocked.svg');
  }
  .locked {
    width: 66px;
    height: 66px;
    background-image: url('./locked.svg');
  }
  .offline {
    width: 66px;
    height: 66px;
    background-image: url('./offline.svg');
  }
  .camera {
    width: 20px;
    height: 20px;
    background-image: url('./icon-camera.svg');
  }
  .log {
    width: 16px;
    height: 20px;
    background-image: url('./log.svg');
  }
  .config {
    width: 20px;
    height: 20px;
    background-image: url('./config.svg');
  }
  .time {
    width: 24px;
    height: 24px;
    background-image: url('./time.svg');
  }
  .hourglass {
    width: 24px;
    height: 24px;
    background-image: url('./hourglass.svg');
  }
  .monitor {
    width: 24px;
    height: 24px;
    background-image: url('./monitor.svg');
  }
  .avatar {
    width: 32px;
    height: 32px;
    background-image: url('./avatar.svg');
  }
  .close {
    width: 16px;
    height: 16px;
    background-image: url('./close.svg');
  }
  .default-avatar {
    width: 72px;
    height: 72px;
    background-image: url('./default-avatar.svg');
  }
  .edit {
    width: 12px;
    height: 12px;
    background-image: url('./edit.svg');
  }
  .delete {
    width: 12px;
    height: 12px;
    background-image: url('./delete.svg');
  }

  .password {
    width: 111px;
    height: 149px;
    background-image: url('./password.svg');
  }
  .fingerprint {
    width: 161px;
    height: 161px;
    background-image: url('./fingerprint.svg');
  }
  .card {
    width: 180px;
    height: 180px;
    background-image: url('./card.svg');
  }
  .face {
    width: 154px;
    height: 154px;
    background-image: url('./face.svg');
  }

  .success {
    width: 84px;
    height: 84px;
    background-image: url('./success.svg');
  }
  .failure {
    width: 84px;
    height: 84px;
    background-image: url('./failure.svg');
  }

}
