.operator-page {
    .operator-header {
        display: none;
    }

    .operator-list {
        .list {
            .adm-swiper-track {
                .item {
                    .icon-bg {
                        background: #FFFFFF;
                        border: 1px solid #EFF3F5;
                    }

                    .title {
                        color: #30414D;
                    }
                }
            }
        }

        .desc {
            color: #30414D;
            opacity: 0.5;
        }

        .options {
            .title {
                color: #30414D;
            }

            .options-list {
                .cell-item {
                    background: #FFFFFF;
                    border: 1px solid #EFF3F5;
                    border-radius: 8px;
                    padding: 32px 28px 32px 24px;

                    &:nth-child(2) {
                        .cell-wrapper {
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;

                            .adm-switch {
                                margin-bottom: 0;
                                width: 40px;
                                height: 20px;
                                position: relative;
                                left: 0;
                                top: 0;

                                .adm-switch-checkbox,
                                .adm-switch-checkbox:before {
                                    height: 20px !important;
                                    background: #F6F8FB !important;
                                }

                                .adm-switch-handle {
                                    margin-top: 0;
                                    margin-left: 0;
                                    width: 16px !important;
                                    height: 16px !important;
                                    background: #fff !important;
                                }

                                &.adm-switch-checked {
                                    .adm-switch-handle {
                                        left: 20px !important;
                                        width: 16px !important;
                                        height: 16px !important;
                                        background: #4D9CF8 !important;
                                    }
                                }
                            }
                        }
                    }

                    .cell-wrapper {
                        .cell-prefix-icon {
                            display: none;
                        }

                        .cell-title-wrapper {
                            flex-direction: row;

                            .cell-title {
                                color: #30414D;
                                display: flex;
                                align-items: center;
                            }

                            .cell-subtitle {
                                color: #30414D;
                                margin: 0;
                                margin-left: 24px;

                            }
                        }

                        .icon-arrow-right {
                            top: 0;
                        }
                    }
                }
            }

            &.is-disabled {
                opacity: 0.75;

                .icon-arrow-right {
                    display: none;
                }
            }
        }

        .cooking {
            background: #FFFFFF;
            border: 1px solid #EFF3F5;
            color: #30414D;
            bottom: 180px;
        }

        .footer {
            margin-top: 150px;

            .custom-btn {
                width: 120px;
                height: 92px;
                border-radius: 8px;
                background: #FFFFFF;
                border: 1px solid #EFF3F5;
                color: #30414D;
                position: relative;

                &:nth-child(1) {
                    border-radius: 100%;
                    width: 60px;
                    height: 60px;
                    border: 0;
                    background: #FE6D3E;
                    left: calc(50% - 30px);
                }

                &:nth-child(2) {
                    width: 120px;
                    left: calc(50% - 30px);
                    display: flex;
                    flex-direction: column;

                    .icon {
                        display: block;
                        margin-bottom: 16px;
                    }
                }

                &:nth-child(3) {
                    left: calc(-100% + 120px);
                    display: flex;
                    flex-direction: column;

                    .icon {
                        margin-bottom: 16px;
                    }

                    span {
                        display: block;
                    }
                }
            }
        }
    }
}