.screen-sort {
    background: #1D202D;

    .footer {
        .save {
            background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #4D9CF8;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
            backdrop-filter: blur(250px);

            .btn-text {
                color: #1D202D;
            }
        }

        .cancel {
            background: rgba(0, 0, 0, 0.3);
            border: 1px solid transparent;

            .btn-text {
                color: #fff;
            }
        }
    }
}