.scenario-progress-bar{
    width: 1125px;
    height: 116px;
    color: #B5C4D1;
    // border: solid;
    margin-top: 106px;
    .scenario-progress-bar-font{
        text-align: center;
        display: flex;
        // justify-content: space-around;
        align-items:baseline;
        .scenario-progress-bar-font1{
            text-align: center;
            margin-left: 140px;
            width: 275px;
        }
        .scenario-progress-bar-font2{
            text-align: center;
            width: 275px;
        }
        .scenario-progress-bar-font3{
            text-align: center;
            width: 275px;
        }
    }
    .scenario-progress-bar-tick{
        display: flex;
        justify-content: space-around;
        align-items:baseline;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .scenario-progress-bar-tick1{
        height: 20px;
        width: 1px;
        background-color: #B5C4D1;
    }
    .scenario-progress-bar-tick2{
        height: 40px;
        width: 2px;
        background-color: #B5C4D1;
    }
    .font_select{
        font-size: 80px;
        color: #000;
    }
    
    .scenario-progress-bar-dot{
        text-align: center;
        display: flex;
        // justify-content: space-around;
        align-items:baseline;
        .scenario-progress-bar-font1{
            text-align: center;
            margin-left: 140px;
            width: 280px;
        }
        .scenario-progress-bar-font2{
            text-align: center;
            width: 280px;
        }
        .scenario-progress-bar-font3{
            text-align: center;
            width: 280px;
        }        
        .dot_select{
            // width: 275px;
            margin-top:20px;
            width: 20px;
            height: 20px;
            margin-left: 120px;
            border-radius: 50%;
            background-color: #000;
        }
    }
}