
/*蓝白主题*/
.color_primary() {
  color: var(--global-color-white);
}
.theme_blue_white {
  height: 100%;
  position: relative;

  .reset_span{
    background: none;
    background-image: linear-gradient(90deg, #559DFC 3%, #3171FA 98%);
  }
  .hot_card{
    .card_top{
      .card_botton{
        .card_botton1{
          background: none !important;
          background: #B5C4D1 !important;
        }
        .card_botton2{
          background: none !important;
          background: #B5C4D1 !important;


        }
        .check{
          background-image: linear-gradient(90deg, #559DFC 3%, #3171FA 98%) !important;
        }
      }
    }
  }
  .lightbright-progress{
    background-image: linear-gradient(90deg, #559DFC 3%, #3171FA 98%) !important;
    .lightbright-progress-dot{
      border-color: #044dff;
    }
  }
  .lightbright-mark-op-btn{
    color: #b5c4d1 !important;
  }

  .reset_span{
    background-image: linear-gradient(90deg, #559DFC 3%, #3171FA 98%) !important;
  }
  .dev-setting-open{
    background: rgba(255,255,255,0.20);
  }
  .home {
    // .reset_span{
    //   background: none;
    //   background-image: linear-gradient(90deg, #559DFC 3%, #3171FA 98%) !important;
    // }

  }
}
/*暗色主题*/
.theme_dark {
  // padding-top: 93px;
  position: relative;
  .reset_span{
    background-image: linear-gradient(142deg, #00F0FF 0%, #704DF0 100%) !important;
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
  }
  .add_span{
    background-color: #303b4a !important;
    color: #FEFEFE;
    .cell-content{
      color: #B5C4D1 !important;
    }
  }
  .setup_head{
    .top{
      background-color: #303b4a !important;
      .top_span{
        .top_num1{
          color: #FEFEFE;
        }
        .top_num{
          color: #FEFEFE;
        }
      }
    }
    .foot{
      background-color: #303b4a !important;
      color: #FEFEFE;
      .top_span{
        .top_num{
          color: #FEFEFE;
        }
      }
    }
  }
  .setup_center{
    .cloud{
      background-color: #303b4a !important;
      color: #FEFEFE;

    }
    .longevity{
      background-color: #303b4a !important;
      color: #FEFEFE;

      .longevity_span{
        .content_num{
          color: #FEFEFE;
        }
      }
      .longevity_reset{
        color: #FEFEFE;

      }
    }
  }
  .hot_card{
    background-image: none;
    background-color: #303b4a;
    // background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
    .setting{
      background-color: #303b4a;
    }
    .card_size{
      color: #FEFEFE !important;
    }
    ._color_white_{
      background-color: #303b4a !important;
      color: #FEFEFE;
    }
    ._component_base_cell_{
      border-bottom: 3px solid #364253;
    }
    .card_top{
      .card_botton{
        .card_botton1{
          background: none !important;
          background: #222532 !important;
        }
        .card_botton2{
          background: none !important;
          background: #222532 !important;

        }
        .check{
          // background: none !important;
          background-image: linear-gradient(142deg, #00F0FF 0%, #704DF0 100%) !important;
          box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10) !important;
        }
      }
    }
  }
  .card{
    background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
  }
  .lightbright-slider{
    background: #202431;
    .lightbright-progress{
      background-image: linear-gradient(151deg, #00F0FF 0%, #704DF0 100%) !important;
      .lightbright-progress-dot{
        border-color: #596ef3;
      }
    }
  }
  .lightbright-mark-op-btn{
    color: #b5c4d1 !important;

  }
  .modal-inner{
    background: none !important;
    background-color: #303b4a;
    color: #ffffff;

    .modal-title{
    background-color: #303b4a;
    }
    .modal-body{
    background-color: #303b4a;
    margin-top: -1px;
      .adm-list{
        background: none !important;
        background-color: #303b4a;
        .adm-list-inner{
          color: #FEFEFE;
        }
      }
    }

    .modal-footer{
      border-color: #344151;
      .button-cancel{
        background-color: #303b4a !important;
        color: #a6afc2;
      }
      .button-confirm{
        background-color: #303b4a !important;
        color: #ffffff;
      }
    }
  }



  .timingset{
    background-color: #222532 !important;
    .add_botton{
      background: none !important;
      background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%) !important;
      box-shadow: 0 6px 20px 0 #242735 !important;
      color: #FFFFFF;
    }
  }
  .dev-setting-open{
    background-image: linear-gradient(139deg, #333E4D 0%, #202C3A 100%);
    border: 3px solid rgba(62,68,84,0.20);
    box-shadow: 0 6px 100px 0 #242735;
  }
  .home {

  }


}
/*多彩主题*/
.theme_colorful {
  // padding-top: 93px;
  position: relative;
  .hot_card{
    .card_top{
      .card_botton{
        .card_botton1{
          background: none !important;
          background: #B5C4D1 !important;
        }
        .card_botton2{
          background: none !important;
          background: #B5C4D1 !important;
        }
        .check{
          background-image: linear-gradient(137deg, #FF3A5F 0%, #EA0D40 100%) !important;
        }
      }
    }
  }
  .reset_span{
    background-image: linear-gradient(137deg, #FF3A5F 0%, #EA0D40 100%) !important;
  }
  .lightbright-progress{
    background-image: linear-gradient(138deg, #527DF4 0%, #044DFF 100%) !important;
    .lightbright-progress-dot{
      border-color: #044dff;
    }
  }
  .lightbright-mark-op-btn{
    color: #b5c4d1 !important;
  }
  .dev-setting-open{
    background: #FFFFFF;
    top: 1025px;
  }
  .home {
    &.power-off {
      #state-title {
        .span_top{
          color: #B5C4D1 !important;
        }
      }
      #temp{
        color: #B5C4D1 !important;
      }
    }
  }
}
/*莫兰迪主题*/
.theme_morandi {
  position: relative;
  .hot_card{
    .card_top{
      .card_botton{
        .card_botton1{
          background: none !important;
          background: #B5C4D1 !important;
        }
        .card_botton2{
          background: none !important;
          background: #B5C4D1 !important;


        }
        .check{
          background: #B6ACA3 !important;
        }
      }
    }
  }
  .reset_span{
    background: #B6ACA3 !important;
  }
  .lightbright-slider{
    .lightbright-progress{
      background-image: linear-gradient(180deg, #576273 0%, #414B5B 86%) !important;
      .lightbright-progress-dot{
        border-color: #414a5a;
      }
    }
  }
  .lightbright-mark-op-btn{
    color: #b5c4d1 !important;
  }
  .modal-inner{
    .modal-footer{
      border-color: #edeef2;
      .button-cancel{
        color: #a6afc2;
      }
      .button-confirm{
        color: #555E6F;
      }
    }
  }
  .dev-setting-open{
    background: rgba(255,255,255,0.20);
  }
  .home {
    // padding-top: 150px;
    background-image: linear-gradient(180deg, #333E4D 0%, #202C3A 100%);
    .border-bottom {
      border: 0;
    }
    .morandi_center{
      background: #F4F8FB;
    }
    .morandi_foot{
      background: #F4F8FB;
    }
  }
}

/*正常主题*/
.theme_normal {
  height: 100%;
  position: relative;

  .hot_card{
    .card_top{
      .card_botton{
        .card_botton1{
          background: none !important;
          background: #B5C4D1 !important;
        }
        .card_botton2{
          background: none !important;
          background: #B5C4D1 !important;


        }
        .check{
          // background: none !important;
          background: #000000 !important;
        }
      }
    }
  }
  .dev-setting-open{
    background: #FFFFFF;
  }
  .home {
    background: #F4F8FB;
    &.power-off {
      #state-title {
        .span_top{
          color: #B5C4D1 !important;
        }
      }
      #temp{
        color: #B5C4D1 !important;
      }
    }

  }

  .modal-body .adm-list-item-content-prefix {
    color: #0F0F0F !important;
  }
}

