.cus-dev-detail {
  position: absolute;
  right: 48px;
  top: 48px;
  z-index: 1;
  width: 126px;
  height: 126px;
  background: rgba(255,255,255,0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    .dev-detail {
      background-image: url("./dev-detail.svg");
      width: 72px;
      height: 72px;
    }
    .dev-detail-disable {
      background-image: url("./dev-detail-disable.svg");
      width: 72px;
      height: 72px;
    }
  }
}
