.icon {
  .gateway {
    width: 28.89px;
    height: 35.56px;
    background-image: url('./gateway.svg');
  }

  .bell {
    width: 24px;
    height: 24px;
    background-image: url('./bell.svg');
  }

  .book {
    width: 24px;
    height: 24px;
    background-image: url('./book.svg');
  }

  .love {
    width: 24px;
    height: 24px;
    background-image: url('./love.svg');
  }

  .voice {
    width: 24px;
    height: 24px;
    background-image: url('./voice.svg');
  }


  .switch {
    width: 42px;
    height: 45px;
    background-image: url('./switch.svg');
  }

}