.devSetting {
  position: absolute;
  transform: translate(-50%, 11%);
  top: 250px;
  width: 200px;
  height: 125px;
  border-radius: 60px 0 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  .dev-img{
    width: 75px;
    height: auto;
  }
}
