.cell {
  line-height: 22px;
  font-size: 16px;
  font-weight: 600;
  color: #26313d;
  padding: 12px 0;

  .cell-wrapper {
    display: flex;
    align-items: center;
  }
  .icon-arrow-right {
    margin-left: 12px;
    width: 7px;
    height: 12px;
    background: url('./arrow.svg') no-repeat center;
    background-size: contain;
  }
  .cell-desc {
    color: rgba(38, 49, 61, 0.5);
    margin-top: 37px;
  }
  .cell-content {
    margin-left: auto;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: rgba(38, 49, 61, 0.5);
  }

  .cell-content-style-set {
    line-height: 20px;
    font-size: 14px;
    color: #26313d;
  }

  .cell-subtitle {
    font-size: 24px;
    color: #a3a6ab;
    margin-left: 35px;
  }

  .cell-prefix-icon {
    display: block;
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin-right: 17px;
  }
  &.border {
    border: 1px solid @c7;
    border-radius: 16px;
    padding: 12px 16px 12px 27px;
    margin-bottom: 16px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.last-child {
      margin-bottom: 0;
    }
  }
  // 基本设置
  &.cell-settings {
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #eff3f5;
  }
  // 设置——二级展开
  &.cell-settings-secondary {
    margin-left: 40px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #eff3f5;
  }
  // Ƕ����ʽ
  &.cell-nest {
    padding: 12px 0 0 0;
    > .cell-wrapper {
      border-bottom: 1px solid #eff3f5;
      padding-bottom: 16px;
    }
    .cell {
      &:last-child {
        border: none;
      }
    }
  }
}
