.cus-time-picker-list {
    .cus-circle-split .center-flag .split .g-item {
        background: rgba(246, 244, 252, 1)!important;
    }
    .fix-bottom-btn {
        margin-bottom: 53px;

        .btn {
            background: #FFFFFF !important;
            box-shadow: 0px 4px 20px rgba(246, 244, 252, 0.9);
            border-radius: 16px;

            .btn-text {
                color: rgba(216, 57, 57, 1)
            }
        }
    }
}