// .rmc-multi-picker {

//     display: flex;
//     align-items: center;
//     background: transparent;
//     color: #fff;
//     width: 100%;
//     position: relative;
//     overflow: hidden;
//     width: auto;

//     &.second-cls {
//       .rmc-picker {
//         .rmc-picker-content {
//           .rmc-picker-item {
//             text-align: center;
//             padding-left: 0;
//           }
//         }
//       }

//       .rmc-picker:first-child {
//         .rmc-picker-content {
//           .rmc-picker-item {
//             text-align: center;
//             padding-right: 0;
//           }
//         }
//       }
//     }

//     .picker-view-divider {
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       z-index: 2;
//       font-size: 12px;
//     }

//     .rmc-picker {
//       display: block;
//       position: relative;
//       overflow: hidden;
//       width: 100%;
//       flex: 1;
//       text-align: center;

//       .rmc-picker-indicator {
//         box-sizing: border-box;
//         width: 100%;
//         height: 34px;
//         position: absolute;
//         left: 0;
//         top: 102px;

//         &::after {
//           content: ' ';
//           width: 100%;
//           height: 35px;
//           position: absolute;
//           top: 5px;
//           left: 0;
//           right: 10px;
//           border: 1px solid;
//           border-color: transparent transparent transparent #141620;
//           // 使用该border 不需要设置background
//           background-clip: padding-box, border-box;
//           background-origin: padding-box, border-box;
//           background-image: linear-gradient(to right, #141620, #141620), linear-gradient(180deg, rgba(255, 255, 255, 0.08), rgba(156, 140, 255, 0.24));
//         }
//       }

//       &:first-child {
//         .rmc-picker-content {
//           .rmc-picker-item {
//             text-align: center;
//             padding-right: 10px;
//           }
//         }

//         .rmc-picker-indicator {
//           &::after {
//             content: ' ';
//             width: 90%;
//             height: 35px;
//             position: absolute;
//             left: 10%;
//             top: 5px;
//             right: -1px;
//             border-radius: 16px 0 0 16px;
//             border: 1px solid;
//             border-color: transparent #141620 transparent transparent;
//             // 使用该border 不需要设置background
//             background-clip: padding-box, border-box;
//             background-origin: padding-box, border-box;
//             background-image: linear-gradient(to right, #141620, #141620), linear-gradient(180deg, rgba(255, 255, 255, 0.08), rgba(156, 140, 255, 0.24));
//           }
//         }
//       }


//       &:nth-last-of-type(2) {
//         .rmc-picker-indicator {
//           &::after {
//             content: ' ';
//             width: 93%;
//             height: 35px;
//             position: absolute;
//             top: 5px;
//             left: -1px;
//             right: 10px;
//             border-radius: 0 16px 16px 0;
//             border: 1px solid;
//             border-color: transparent transparent transparent #141620;
//             // 使用该border 不需要设置background
//             background-clip: padding-box, border-box;
//             background-origin: padding-box, border-box;
//             background-image: linear-gradient(to right, #141620, #141620), linear-gradient(180deg, rgba(255, 255, 255, 0.08), rgba(156, 140, 255, 0.24));
//           }
//         }

//       }


//       .rmc-picker-mask {
//         position: absolute;
//         left: 0;
//         top: 0;
//         height: 100%;
//         margin: 0 auto;
//         width: 100%;
//         z-index: 3;
//         background-position: top, bottom;
//         background-size: 100% 204px;
//         background-repeat: no-repeat;
//       }


//       .rmc-picker-content {
//         position: absolute;
//         left: 0;
//         top: 0;
//         width: 100%;
//         z-index: 1;

//         .rmc-picker-item {
//           height: 34px;
//           line-height: 34px;
//           white-space: nowrap;
//           position: relative;
//           overflow: hidden;
//           text-overflow: ellipsis;
//           width: 100%;
//           box-sizing: border-box;
//           // text-align: center;
//           // padding-left: 2px;
//           text-align: left;
//           padding-left: 76px;
//           font-weight: 400;
//           font-size: 16px;
//         }

//         .rmc-picker-item-selected {
//           font-weight: 500;
//           font-size: 24px;
//           color: rgba(51, 95, 255, 1);
//         }
//       }
//     }
//   }

.custom-picker {
  .custom-picker-popup-mask {
    opacity: 0;
  }

  .picker-body {
    margin-top: 40px;
    margin-bottom: 53px;

    .rmc-picker-indicator::after {
      border-radius: 16px !important;
      left: 20px !important;
    }

    .rmc-picker-content {
      .rmc-picker-item {
        padding-left: 26px !important;
      }
    }
  }

  .picker-footer {
    font-size: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 12px;
    width: 87%;
    padding: 0 24px;

    button {
      color: #ffffff;
      background-color: transparent;
      border: none;
      outline: none;
      font-weight: 600;
      background: transparent;
    }
  }
}