.ticker {
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .btn {
      width: 33%;
      height: 48px;
      padding: 12px 0;

      .btn-text {
        height: 32px;
        color: #fff;
      }
    }

    .btn:nth-child(2) {
      border-radius: 0;

      .btn-text {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
      }
    }

    .btn-primary {
      background: transparent;

      .title {
        color: #fff;
      }

      &::after {
        content: ' ';
        width: 60px;
        height: 4px;
        background: #fff;
        border-radius: 100px;
        position: absolute;
        bottom: 0px;
        left: 26%;
      }
    }

    .btn-reverse {
      background: transparent;
      border: 0;
    }

    .btn-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

  &.ticker-off {
    // padding-top: 36px;

    // .content {
    //   display: none;
    // }
    .title {
      color: #fff;
    }
  }
}