.dimmer-switch-dimmer-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid transparent;
  box-sizing: border-box;

  .lamp-switch {
    width: 491px;
    height: 1020px;
    margin-top: 223px;
    margin-bottom: 74px;
  }
  .return-button {
    color: #000000;
  }
}

body.theme_blue_white {
  .dimmer-switch-dimmer-view {
    .return-button {
      color: #FEFEFE;
    }
  }
}

body.theme_dark {
  .dimmer-switch-dimmer-view {
    .return-button {
      color: #FEFEFE;
    }
  }
}

body.theme_colorful {
  .dimmer-switch-dimmer-view {
    .return-button {
      color: #FEFEFE;
    }
  }
}

body.theme_morandi {
  .dimmer-switch-dimmer-view {
    .return-button {
      color: #FEFEFE;
    }
  }
}