.home-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .open {
    opacity: 1;
  }
  .close {
    opacity: 0.3;
  }
  .lamp-icon {
    display: block;
    width: 579px;
    height: 1026px;
    margin: 187px auto 103px;
  }

  .switch-button {
    color: #FEFEFE;
  }
}

body.theme_colorful {
  .switch-button {
    color: #FEFEFE;
  }
}