.kugou-warp {
  box-sizing: border-box;
  font-family: PingFangSC-Medium;
}

p {
  margin: 0;
}

.page-loginAuth {
  .button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 80px;
    line-height: 80px;
    font-size: 36px;
    padding: 10px 20px;
    border: 1px solid #222f3e;
    border-radius: 16px;
    text-align: center;
  }
}
