body.theme_normal {
  .tools-bar-wrap {
    display: flex;
    justify-content: space-between;
    margin: 145px 0 65px;
    padding: 0 80px;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-right: 38px;
      width: 295px;
      height: 300px;
      border-radius: 60px;
      font-size: 36px;
      color: #B5C4D1;
      background: #FFFFFF;
      box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      &:last-child {
        margin-right: 0;
      }
      .item-icon {
        margin-bottom: 38px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      .icon-mode {
        width: 78px;
        height: 73px;
        background-image: url('../images/mode-normal.svg');
      }
      .icon-gear {
        width: 74px;
        height: 74px;
        background-image: url('../images/gear-normal.svg');
      }
      .icon-time {
        width: 74px;
        height: 74px;
        background-image: url('../images/time-normal.svg');
      }
    }
    .active {
      color: #0F0F0F;
      .icon-mode {
        background-image: url('../images/mode-active-normal.svg');
      }
      .icon-gear {
        background-image: url('../images/gear-active-normal.svg');
      }
      .icon-time {
        background-image: url('../images/time-active-normal.svg');
      }
    }
  }
}

body.theme_blue_white {
  .tools-bar-wrap {
    display: flex;
    justify-content: space-between;
    margin: 65px 0;
    padding: 0 80px;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-right: 38px;
      width: 295px;
      height: 300px;
      border-radius: 60px;
      font-size: 36px;
      color: #A6AFC2;
      background: #FFFFFF;
      box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      &:last-child {
        margin-right: 0;
      }
      .item-icon {
        margin-bottom: 38px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      .icon-mode {
        width: 78px;
        height: 73px;
        background-image: url('../images/mode-blue-white.svg');
      }
      .icon-gear {
        width: 74px;
        height: 74px;
        background-image: url('../images/gear-blue-white.svg');
      }
      .icon-time {
        width: 74px;
        height: 74px;
        background-image: url('../images/time-blue-white.svg');
      }
    }
    .active {
      color: #0F0F0F;
      .icon-mode {
        background-image: url('../images/mode-active-blue-white.svg');
      }
      .icon-gear {
        background-image: url('../images/gear-active-blue-white.svg');
      }
      .icon-time {
        background-image: url('../images/time-active-blue-white.svg');
      }
    }
  }
}

body.theme_dark {
  .tools-bar-wrap {
    display: flex;
    justify-content: space-between;
    margin: 56px 78px;
    padding: 84px 104px 54px;
    font-size: 36px;
    background-image: linear-gradient(139deg, #333E4D 0%, #202C3A 100%);
    border: 3px solid rgba(62,68,84,0.20);
    box-shadow: 0 6px 100px 0 #242735;
    border-radius: 60px;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #FFFFFF;
      .item-icon {
        margin-bottom: 36px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      .icon-mode {
        width: 78px;
        height: 73px;
        background-image: url('../images/mode-dark.svg');
      }
      .icon-gear {
        width: 74px;
        height: 74px;
        background-image: url('../images/gear-dark.svg');
      }
      .icon-time {
        width: 74px;
        height: 74px;
        background-image: url('../images/time-dark.svg');
      }
    }
    .active {
      color: #FEFEFE;
      .icon-mode {
        background-image: url('../images/mode-active-dark.svg');
      }
      .icon-gear {
        background-image: url('../images/gear-active-dark.svg');
      }
      .icon-time {
        background-image: url('../images/time-active-dark.svg');
      }
    }
  }
}

body.theme_colorful {
  .tools-bar-wrap {
    display: flex;
    justify-content: space-between;
    margin: 65px 0;
    padding: 0 80px;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-right: 38px;
      width: 295px;
      height: 300px;
      border-radius: 60px;
      font-size: 36px;
      color: #B5C4D1;
      background: #FFFFFF;
      box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
      &:last-child {
        margin-right: 0;
      }
      .item-icon {
        margin-bottom: 38px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      .icon-mode {
        width: 78px;
        height: 73px;
        background-image: url('../images/mode-colorful.svg');
      }
      .icon-gear {
        width: 74px;
        height: 74px;
        background-image: url('../images/gear-colorful.svg');
      }
      .icon-time {
        width: 74px;
        height: 74px;
        background-image: url('../images/time-colorful.svg');
      }
    }
    .active {
      color: #0F0F0F;
      .icon-mode {
        background-image: url('../images/mode-active-colorful.svg');
      }
      .icon-gear {
        background-image: url('../images/gear-active-colorful.svg');
      }
      .icon-time {
        background-image: url('../images/time-active-colorful.svg');
      }
    }
  }
}

body.theme_morandi {
  .tools-bar-wrap {
    display: flex;
    justify-content: space-between;
    margin: 56px 78px;
    padding: 84px 104px 54px;
    font-size: 36px;
    background-image: linear-gradient(180deg, #576273 0%, #414B5B 86%);
    box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
    border-radius: 60px;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #FFFFFF;
      .item-icon {
        margin-bottom: 36px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      .icon-mode {
        width: 78px;
        height: 73px;
        background-image: url('../images/mode-morandi.svg');
      }
      .icon-gear {
        width: 74px;
        height: 74px;
        background-image: url('../images/gear-morandi.svg');
      }
      .icon-time {
        width: 74px;
        height: 74px;
        background-image: url('../images/time-morandi.svg');
      }
    }
    .active {
      color: #B5ABA1;
      .icon-mode {
        background-image: url('../images/mode-active-morandi.svg');
      }
      .icon-gear {
        background-image: url('../images/gear-active-morandi.svg');
      }
      .icon-time {
        background-image: url('../images/time-active-morandi.svg');
      }
    }
  }
}
