.icon {
  font-size: 0;

  .switch {
    width: 24px !important;
    height: 24px !important;
    background-image: url('./switch.svg');
  }

  .mode {
    width: 24px;
    height: 24px;
    background-image: url('./mode.svg');
  }

  .time {
    width: 24px;
    height: 24px;
    background-image: url('./time.svg');
  }

  .count {
    width: 24px;
    height: 24px;
    background-image: url('./count.svg');
  }

  .gear {
    margin-bottom: 12px;
    width: 26px;
    height: 26px;
    background-image: url('./gear.svg');
  }

  .settings {
    margin-bottom: 12px;
    width: 25px;
    height: 24px;
    background-image: url('./settings.svg');
  }

  .minus {
    width: 24px;
    height: 24px;
    background-image: url('./minus.svg');
  }

  .plus {
    width: 24px;
    height: 24px;
    background-image: url('./plus.svg');
  }

  .switch {
    width: 35px;
    height: 38px;
    background-image: url('./switch.svg');
  }
  .fan {
    width: 143px;
    height: 203px;
    background-image: url('./fan.svg');
  }
}