.icon {
  font-size: 0;

  .switch {
    width: 25px;
    height: 27px;
    background-image: url('./switch.svg');
  }

  .switch-checked {
    width: 25px;
    height: 27px;
    background-image: url('./switch-checked.svg');
  }

  .timing {
    width: 24px;
    height: 24px;
    background-image: url('./timing.svg');
  }

  .timing-checked {
    width: 24px;
    height: 24px;
    background-image: url('./timing-checked.svg');
  }

  // ----------------------------------- 支持的灯类型---------------------------

  // 筒灯
  .downlight {
    background-image: url('./downlight.svg');
  }
  // 射灯
  .spotlight {
    background-image: url('./light.svg');
  }

  // 灯带
  .lightStrip {
    background-image: url('./lightStrip.svg');
  }
  // 单双色灯
  .bicolorLamp{
    background-image: url('./color-light.svg');
    
  }

  

  // ----------------------------------------------------------------------------
  .light-bg-white {
    background-image: url('./light.svg');
  }

  .light-bg-colour {
    background-image: url('./light.svg');
  }

  .light-bg-off {
    background-image: url('./light-off.svg');
  }

  .brightness {
    width: 17px;
    height: 17px;
    background-image: url('./brightness.svg');
  }

  .brightness-checked {
    width: 17px;
    height: 17px;
    background-image: url('./brightness-checked.svg');
  }

  .temperature {
    width: 16px;
    height: 16px;
    background-image: url('./temperature.svg');
  }

  .temperature-checked {
    width: 16px;
    height: 16px;
    background-image: url('./temperature-checked.svg');
  }

  .like {
    width: 9px;
    height: 9px;
    background-image: url('./like.svg');
  }

  .like-checked {
    width: 9px;
    height: 9px;
    background-image: url('./like-checked.svg');
  }

  .add {
    background-image: url('./add.svg');
  }

  .add-checked {
    background-image: url('./add-checked.svg');
  }

  .minus {
    background-image: url('./minus.svg');
  }

  .minus-checked {
    background-image: url('./minus-checked.svg');
  }

  .mode {
    width: 20px;
    height: 20px;
    background-image: url('./mode.svg');
  }

  .mode-checked {
    width: 20px;
    height: 20px;
    background-image: url('./mode-checked.svg');
  }

  .timmer {
    width: 20px;
    height: 20px;
    background-image: url('./timmer.svg');
  }

  .cw-light {
    width: 20px;
    height: 20px;
    background-image: url('./cw-light.svg');
  }

}