.icon-btn-container {
  display: inline-block;
  text-align: center;
  font-size: 0;

  .icon-btn {
    position: relative;
    background-color: #E1E2E5;
    display: inline-block;
    width: 110px;
    height: 110px;
    line-height: 110px;
    border-radius: 100%;

    .btn-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -24px;
      margin-left: -24px;
      width: 48px;
      height: 48px;
    }
  }

  .icon-btn-title {
    margin-top: 18px;
    font-size: 24px;
    color: #15161A;
    line-height: 36px;
    max-width: 100%;
  }

  .icon-btn-msg {
    font-size: 24px;
    color: #A1A7B2;
    line-height: 36px;
    max-width: 100%;
  }
}
