.home {
  .dashboard {
    width: 950px;
    height: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .devSetting {
      position: absolute;
      right: -100px;
      top: 35px;
      transform: translate(-50%, 11%);
      width: 125px;
      height: 125px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;
      img{
        width: 75px;
      }
    }
    .switch-top, .switch-bottom{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .switch-name{
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }
  }
}
