.curtain_button{
    height: 300px;
    // width: 965px;
    display: flex;
    justify-content: center;
    // border: solid 1px;
    .adm-list {
        &.adm-list-default {
          .adm-list-item {
            //padding-left: 90px;
            .adm-list-item-content {
              padding-right: 73px;
              border-bottom: 0;
            }
          }
        }
      }
      &.power-off {
        #power{
          pointer-events: auto !important;
        }
        *{
          /*color: @color-disabled !important;*/
          pointer-events: none;
        }
      }

    .curtain_button_body{
        height: 300px;
        width: 965px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: solid 1px;
    }
    .button_right{
        width: 295px;
        height: 300px;
        background: #FFFFFF;
        box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        border-radius: 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &.button_select{
            background-color: #0D0D0D;
        }
    }
    .button_center{

    }
    .button_left{
        width: 295px;
        height: 300px;
        background: #FFFFFF;
        box-shadow: 0 6px 100px 0 rgba(32,33,33,0.10);
        border-radius: 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &.button_select{
            background-color: #0D0D0D;
        }
    }
    .curtain_button_font{
        width: 155px;
        height: 50px;
        font-family: PingFangSC-Medium;
        font-weight: Medium;
        font-size: 36px;
        color: #B5C4D1;
        text-align: center;
        margin-top: 55px;
    }
}