.cus-swipe-list {
  width: 100%;
  margin-top: 0;
  font-size: 12px;
  overflow: auto;
  .list-card-container {
    .list-card {
      background: #ffffff;
      border: 1px solid @c7;
      border-radius: 16px;
      margin-bottom: 16px;
      color: #000000;
      overflow: hidden !important;
      transform: rotate(0deg);
      .adm-swipe-action {
        display: flow-root;
        border-radius: 16px;
        width: 100%;
        transform: rotate(0deg);
        .adm-swipe-action-action-button {
          width: 80px;
          font-weight: 500;
          font-size: 16px;
          border-top-right-radius: 16px;
          border-bottom-right-radius: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            position: absolute;
          }
        }
        .adm-swipe-action-actions-right {
          margin-left: 1px;
          background: #ff3141;
        }
      }
      &:last-child {
        margin-bottom: 0px;
      }
      .list-body {
        display: flex;
        align-items: baseline;
      }
    }
  }
}
